.card{
    width: 534px;
    height: 279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #E5E7ED;
    border: 1px solid #D2D7E5;
    border-radius: 8px;
    display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding:10px;
    .header{
        margin: 0.5rem;
        text-align: left;
        font-family: Helvetica;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0px;
        color: #111111;
        text-transform: capitalize;
        background-color: rgba(0, 0, 0, 0.00);
        border-bottom: none;
        padding-left: 0px;
    }
    .hr{
        margin-top:0px;
        width: 100%;
        border-top: 2px solid rgb(242 243 244);;
    }
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding:0px;
        .name{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
                .name_wrapper{
                    width: 90%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                       
                    .round{
                        width: 16px;
                        height: 16px;
                        border-radius: 100px;
                    }
                    span{
                        text-align: left;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 19px;
                        font-family: Helvetica;
                        letter-spacing: 0px;
                        color: #111111;
                        text-transform: capitalize;
                        opacity: 0.7;
                        margin-left: 0.5rem;
                    }
                }

        }
                  .chart {
                      width: 50%;
                      height: 177px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;
                      canvas{
                       height: 177px !important;
                       width: 177px !important;
                      }
                      .total_value{
                          width: 100%;
                          height: 100%;
                            display: flex;
                                justify-content: center;
                                align-items: center;
                            position: absolute;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 19px;
                            font-family: Helvetica;
                            letter-spacing: 0px;
                            top:0px;left:0px;

                            span{

                            }
                      }
                  }
    }
}