/*-----Dashboard Tab------*/
@import '../../src/components/styles/Core/config';

.dashboardTab {
  .tabHeader {
    padding: 28px 28px 0;
    margin-bottom: 10px;
    border-bottom: 0px;
    @include respond(lg-desktop) {
        padding: 20px 20px 0;
    }
    @include respond(sm-desktop) {
        padding: 18px 18px 0;
    }
    @include respond(phone) {
        padding: 15px 15px 0;
    }
    .tab_header_inner {
      min-height: 48px;
      margin: 0 0 27px 10px;
      @include respond(lg-desktop) {
          min-height: 40px;
          margin-bottom: 20px;
      }
      @include respond(sm-desktop) {
        margin: -5px 0;
      }
      @include respond(phone) {
        margin-top: -20px;
      }
      img {
        width: 13px;
        height: 21px;
        cursor: pointer;
        background: transparent;
        @include respond(lg-desktop) {
          width: 10px;
          height: auto;
        }
      }
      .title {
        font-size: 34px;
        font-weight: bold;
        line-height: 41px;
        margin: 0;
        padding-left: 18px;
        text-transform: lowercase;
        &:first-letter {
            text-transform: uppercase;
        }
        &:first-line {
            text-transform: capitalize;
        }
        @include respond(lg-desktop) {
          font-size: 24px;
          line-height: 1.4;
          padding-left: 10px;
        }
        @include respond(sm-desktop) {
          font-size: 20px;
        }
        @include respond(phone) {
          font-size: 18px;
        }
      }

      .lastModified {
        font-size: 14px;
        color: rgba(40, 55, 86, 0.6);
        font-weight: normal;
        line-height: 16px;
        margin-top: 7px;
        @include respond(lg-desktop) {
            font-size: 12px;
            line-height: 1.2;
        }
        span {
            color: #283756;
            font-weight: bold;
            line-height: 17px;
            @include respond(lg-desktop) {
                line-height: 1.2;
            }
        }
      }
    }
    .navTabs {
      border-bottom: none;

      @include respond(phone) {
        display: flex;
        justify-content: space-between;
      }

      .navItem {
        background: transparent !important;

        .navLink {
          font-size: 22px;
          font-weight: bold;
          line-height: 27px;
          padding: 5px;
          border: none;
          margin: 0 22px;
          border-radius: 0;
          border-bottom: 6px solid transparent;
          @include respond(lg-desktop) {
              font-size: 18px;
              line-height: 1.3;
              margin: 0 15px;
              border-bottom: 4px solid transparent;
          }
          @include respond(sm-desktop) {
            font-size: 19px;
            margin-top: 10px;
          }
          @include respond(phone) {
            font-size: 17px;
            margin: 0 10px;
            padding-left: 0px;
          }

          &.active {
          }
        }
      }
    }
  }

  .tabContent {
    margin: 18px 28px 28px;
    margin-bottom: 152px;
    @include respond(lg-desktop) {
      margin: 10px 20px 20px;
      margin-bottom: 144px;
    }
    @include respond(sm-desktop) {
      margin: 8px 18px 18px;
      margin-bottom: 142px;
    }
    @include respond(phone) {
      margin: 5px 15px 15px;
      margin-bottom: 121px;
    }
    .card {
      margin-bottom: 1rem;

    }
}
  
}
