.main {
	align-items: center;
	animation: animate-bg 5s linear infinite;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	justify-content: center;
    & > div {
	    margin: 50px;
    }
}
.loader {
	display: inline-block;
	height: 106px;
	position: relative;
	width: 106px;
	div {
		animation: spin-03 1s linear infinite;
		transform-origin: 40px 40px;
		&:after {
			background: #2075BC;
			border-radius: 20%;
			content: " ";
			display: block;
			height: 18px;
			left: 37px;
			position: absolute;
			top: 3px;
			width: 6px;
		}
		@for $i from 1 through 12 {
			&:nth-child(#{$i}) {
				animation-delay: 0.1s * $i;
				transform: rotate(30deg * $i);
			}
		}
	}
}
@keyframes spin-03 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
