.calanderIcon {
  margin-left: -40px;
  margin-top: 15px;
  width: 23px;
  height: 26px;
  pointer-events: none;
}
.label_heading {
  font-size: 16px;
  letter-spacing: 0.53px;
  line-height: 17px;
  top: 22px;
  left: 30px;
  margin-bottom: 0;
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  transform: translateY(-30px);
  transition: 0.3s all ease-in-out;
  z-index: 0;
  max-width: 77%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &::before {
    top: 51%;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    z-index: -1;
    position: absolute;
    transform: translateY(-50%);
  }
}
.line {
  border: 3px solid #d9dde8;
}
.input_field {
  font-size: 20px;
  height: 60px;
  outline: none;
  line-height: 25px;
  box-shadow: none !important;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  white-space: nowrap;
  letter-spacing: 0.19px;
  caret-color: transparent;
  padding-right: 40px;
  border: 1px solid #0000001f;
  cursor: pointer;
  &:invalid + label {
    transform: translateY(0);
  }
  &:focus {
    & + label {
      transform: translateY(-30px);
    }
  }
}
.input_small{
    width: 180px !important;
    height: 37px !important;
}
