@import "../styles/Core/config";
.main {
    padding: 35px 35px 10px;
    border-bottom: 3px solid #D9DDE8;
    @include respond(phone) {
        padding: 25px 20px 20px;
    }
    .heading {
        font-size: 20px;
        color: #111111;
        font-weight: bold;
        line-height: 25px;
    }
    .radio_form {
        padding-top: 20px;
        .label_heading {
            @include respond(phone) {
                padding: 10px 0 15px;
            }
        }
        .sub_heading {
            font-size: 16px;
            line-height: 17px;
            font-weight: 500;
            padding: 10px 0 15px;
            letter-spacing: 0.53px;
            @include respond(phone) {
                font-size: $font_size_mobile_input_label;
            }
        }
        .radio_group {
            display: flex;
            @include respond(phone) {
                justify-content: space-between;
            }
            .radio {
                font-size: 20px;
                color: #111111;
                letter-spacing: 0.19px;
                padding-right: 25px;
                @include respond(phone) {
                    font-size: 16px;
                    padding-right: 0px;
                }
                input {
                    margin-right: 12px;
                    transform: scale(1.5);
                }
                label {
                    @include respond(lg-desktop) {
                        padding-right: 0px;
                        font-size: $font_size_mobile_input_label;
                    }
                    @include respond(md-desktop) {
                        font-size: 19px;
                        padding-right: 0px;
                    }
                    @include respond(sm-desktop) {
                        font-size: 19px;
                        padding-right: 0px;
                    }
                    @include respond(phone) {
                        font-size: 12px;
                    }
                    @include respond(phone) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .input_container {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 14px;
        .each_input {
            position: relative;
            margin: 30px 0 20px;
            @include respond(phone) {
                margin: 20px 0px 20px;
            }
            .search_image {
                margin-left: -40px;
            }
            .label_heading {
                top: 21px;
                left: 30px;
                font-size: 16px;
                line-height: 17px;
                margin-bottom: 0;
                letter-spacing: 0.53px;
                position: absolute;
                pointer-events: none;
                box-sizing: border-box;
                transform: translateY(-28px);
                transition: 0.3s all ease-in-out;
                z-index: 1;
                max-width: 86%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &::before {
                    top: 51%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    content: "";
                    z-index: -1;
                    position: absolute;
                    transform: translateY(-50%);
                }
                @include respond(lg-desktop) {
                    font-size: $font_size_mobile_input_label;
                }
                @include respond(md-desktop) {
                    font-size: $font_size_mobile_input_label;
                }
                @include respond(sm-desktop) {
                    font-size: $font_size_sm_input_label;
                }
                @include respond(phone) {
                    font-size: $font_size_mobile_input_label;
                }
            }
            .input_field {
                height: 60px;
                border-radius: 4px;
                font-size: 20px;
                font-weight: normal;
                line-height: 25px;
                outline: none;
                box-shadow: none;
                position: relative;
                letter-spacing: 0.19px;
                box-sizing: border-box;
                &:invalid+label {
                    transform: translateY(0);
                }
                &:focus {
                    &+label {
                        transform: translateY(-28px);
                    }
                }
            }
            .calender {
                height: 60px;
                border-radius: 4px;
                font-size: 20px;
                font-weight: normal;
                line-height: 25px;
                outline: none;
                box-shadow: none;
                position: relative;
                letter-spacing: 0.19px;
                box-sizing: border-box;
                &:invalid+label {
                    transform: translateY(-28px);
                }
            }
            .phone_card {
                display: flex;
                .code_phone {
                    border-radius: 4px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    font-size: 19px;
                    color: #3687E8;
                    line-height: 25px;
                    letter-spacing: 0.18px;
                    text-transform: capitalize;
                    outline: none;
                    @include respond(lg-desktop) {
                        font-size: $font_size_mobile_input_label;
                    }
                    @include respond(md-desktop) {
                        font-size: $font_size_mobile_input_label;
                    }
                    @include respond(sm-desktop) {
                        font-size: $font_size_sm_input_label;
                    }
                    @include respond(phone) {
                        font-size: $font_size_mobile_input_label;
                    }
                }
            }
        }
        .phone {
            .label_heading {
                left: 80px;
                transform: translate(-50px, -28px);
                // @include respond(md-desktop) {
                //     left: 45%
                // }                
                // @include respond(phone) {
                //     left: 45%
                // }
            }
            .input_field {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                &:focus {
                    &+label {
                        transform: translate(-50px, -28px);
                    }
                }
            }
        }
        .small_box {
            @include respond(lg-desktop) {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
            @include respond(phone) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @include respond(sm-phone) {
                flex: none;
                max-width: initial;
            }
        }
    }
}
.customSelect {
    appearance: none;
    // position: relative;
}
.arrow {
    margin-left: -40px;
    width: 13px;
    pointer-events: none;
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}
.calanderIcon {
    margin-left: -40px;
    margin-top: 15px;
    width: 23px;
    height: 26px;
    pointer-events: none;
}