@import "../styles/Core/config";
.main {
    padding: 35px 35px 10px;
    border-bottom: 3px solid #D9DDE8;
    @include respond(phone) {
        padding: 25px 20px 20px;
    }
    .heading {
        font-size: 20px;
        color: #111111;
        font-weight: bold;
        line-height: 25px;
    }
    .radio_form {
        padding-top: 20px;
        .label_heading {          
            @include respond(phone) {
                padding: 10px 0 15px;
            }
        }
        .radio_group {
            display: flex;
            @include respond(phone) {
                justify-content: space-between;
            }
            .radio {
                font-size: 20px;
                color: #111111;
                letter-spacing: 0.19px;
                padding-right: 25px;            
                @include respond(phone) {
                    font-size: 16px;
                    padding-right: 0px;
                }            
                label {
                    @include respond(lg-desktop) {
                        padding-right: 0px;
                        font-size: $font_size_mobile_input_label;
                    }                    
                    @include respond(md-desktop) {
                        font-size: 19px;
                        padding-right: 0px;
                    }                    
                    @include respond(sm-desktop) {
                        font-size: 19px;
                        padding-right: 0px;
                    }                  
                    @include respond(phone) {
                        font-size: 12px;
                    }
                    @include respond(phone) {
                        font-size: 16px;              
                    }
                }
            }
        }        
    } 
    .input_container {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 14px;
        .each_input {
            position: relative;
            margin: 30px 0 20px;
            @include respond(phone) {
                margin: 20px 0px 20px;
            }
            .search_image {
                margin-left: -40px;
            }
                .label_heading {
                top: 27px;
                left: 30px;
                font-size: 16px;
                line-height: 0.5;
                margin-bottom: 0;
                letter-spacing: 0.53px;
                position: absolute;
                pointer-events: none;
                box-sizing: border-box;
                transform: translateY(-31px);
                transition: 0.3s all ease-in-out;
                @include respond(lg-desktop) {
                    font-size: $font_size_mobile_input_label;
                }
                @include respond(md-desktop) {
                    font-size: $font_size_mobile_input_label;
                }
                @include respond(sm-desktop) {
                    font-size: $font_size_sm_input_label;
                }
                @include respond(phone) {
                    font-size: $font_size_mobile_input_label;
                }
            }
            .input_field {
                height: 60px;
                border-radius: 4px;
                font-size: 20px;
                font-weight: 500;
                outline: none;
                box-shadow: none;
                position: relative;
                box-sizing: border-box;
                &:invalid + label {
                    transform:translateY(0);
                }
                &:focus {
                    & + label {
                        transform:translateY(-31px);
                    }
                }
            }

            .phone_card {
                display: flex;
                .code_phone {
                    border-radius: 4px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    font-size: 19px;
                    letter-spacing: 0.18px;
                    color: #3687E8;
                    text-transform: capitalize;
                    outline: none;                  
                }
            }
        }
        .phone {
            .label_heading {
                left: 80px;
                transform: translate(-50px, -31px);
                // @include respond(md-desktop) {
                //     left: 45%
                // }                
                // @include respond(phone) {
                //     left: 45%
                // }
            }
            .input_field {
                border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                
                &:focus {
                    & + label {
                        transform: translate(-50px, -31px);
                    }
                }
            }
        }
    }
}
  
.mainDark {
    padding: 20px;
    //display: flex;
    //flex-direction: column;  
    .heading {
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        color: #52A4FF;
        text-transform: capitalize;
        padding-top: 15px;
    }  
    .radio_form {
        padding-top: 20px;  
        .radio_group {
            display: flex;      
            @include respond(phone) {
              justify-content: space-between;
            }      
            .radio {
                font-size: 20px;
                color: #111111;
                letter-spacing: 0.19px;
                padding-right: 25px;        
                @include respond(phone) {
                    font-size: 16px;
                    padding-right: 0px;
                }
                label {
                    @include respond(phone) {
                      font-size: 16px;          
                    }
                }
            }        
        }  
        .sub_heading {
            padding-top: 10px;
            text-align: left;
            letter-spacing: 0.53px;
            color: #FFFFFF80;
            text-transform: capitalize;
            opacity: 1;
            font-size: 16px;
            padding-bottom: 15px;
        }
    }  
    .input_container {
        margin-top: 50px;
        margin-bottom: 10px;
        padding-bottom: 14px;  
        .each_input {
            position: relative;
            margin-bottom: 50px;  
            .label_heading {
                text-align: left;
                font-size: 16px;
                line-height: 1;
                letter-spacing: 0.53px;
                color: #FFFFFF80;
                position: absolute;
                left: 30px;
                top: -8px;
                background: #293141;            
            }  
            .phone_card {
                display: flex;      
                .code_phone {
                    border: 1px solid #0000001f;
                    border-radius: 4px;
                    background-color: #c3c3c31f;
                    color: var(--unnamed-color-3687e8);
                    text-align: left;
                    font-size: 19px;
                    letter-spacing: 0.18px;
                    color: #3687e8;
                    text-transform: capitalize;
                }
            }  
            .input_field {
                height: 60px;
                background-color: #1D2530;
                border: 1px solid #434E61;
                border-radius: 4px;
                color: white;
                text-align: left;
                font-size: 20px;
            }
        }
    }
}
  
