.main {
    padding: 35px 35px 10px;
    border-bottom: 3px solid #D9DDE8;
    .heading {
        font-size: 20px;
        letter-spacing: 0.19px;
        color: #111111;
        font-weight: bold;
        line-height: 25px;
    }
    .radio_form {
        padding-top: 20px;
        .radio_group {
            display: flex;
            .radio {                      
                font-size: 20px;
                color: #111111;
                letter-spacing: 0.19px;
                padding-right: 25px;
            }
        }
        .sub_heading {
            font-size: 16px;
            color: #00000080;
            line-height: 17px;
            font-weight: 500;
            padding: 10px 0 15px;
            letter-spacing: 0.53px;
        }
    } 
    .input_container {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 14px;
        .each_input {
            position: relative;
            margin: 30px 0 20px;
            .label_heading {
                top: 27px;
                left: 30px;
                font-size: 16px;
                line-height: 0.5;
                margin-bottom: 0;
                letter-spacing: 0.53px;
                color: #00000080;
                position: absolute;
                pointer-events: none;
                box-sizing: border-box;
                background: #ffffff;
                transform: translateY(-31px);
                transition: 0.3s all ease-in-out;
            }
            .input_field {
                height: 60px;
                background-color: #C3C3C31F;
                border: 1px solid #0000001F;
                border-radius: 4px;
                color: #111111;
                font-size: 20px;
                font-weight: 500;
                outline: none;
                box-shadow: none;
                position: relative;
                box-sizing: border-box;
                &:invalid + label {
                    background: none;
                    transform:translateY(0);
                }
                &:focus {
                    & + label {
                        background: #ffffff;
                        transform:translateY(-31px);
                    }
                }
            }
            .search_image {
                margin-left: -40px;      
            }
            .phone_card {
                display: flex;
                .code_phone {
                    border: 1px solid #0000001F;
                    border-radius: 4px;
                    background-color: #C3C3C31F;
                    color: var(--unnamed-color-3687e8);
                    font-size: 19px;
                    letter-spacing: 0.18px;
                    color: #3687E8;
                    text-transform: capitalize;
                }
            }
        }
        .phone {
            .label_heading {
                left: 90px;
                transform: translate(-61px, -31px);
            }
            .input_field {
                &:focus {
                    & + label {
                        transform: translate(-61px, -31px);
                    }
                }
            }
        }
    }
}
