@import '../styles/Core/config';

.backgroundMain {
  .vessel_card {
    border-radius: 6px;

    h2 {
      font-size: 22px;
      color: #3687e8;
      font-weight: bold;
      line-height: 27px;

      @include respond(md-desktop) {
        font-size: 22px;
      }

      @include respond(sm-desktop) {
        font-size: 18px;
      }

      @include respond(phone) {
        font-size: 15px;
      }
    }

    .main {
      border-radius: 6px;

      .add_btn {
        color: #3687e8;
        text-transform: capitalize;
        border: 3px solid #3687e8;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
        background-color: transparent;
        margin: 0 15px 0 30px;
        width: 97px;
        height: 38px;

        @include respond(md-desktop) {
          font-size: 16px;
        }

        @include respond(sm-desktop) {
          font-size: 14px;
        }

        @include respond(phone) {
          font-size: 12px;
          width: 50px;
          height: 26px;
          text-align: center;
          border-radius: 3px;
        }

        .add_sign {
          font-size: 24px;
          font-weight: bold;
          line-height: 27px;
          margin-right: 5px;
        }
      }

      .head_container {
        padding: 0 35px !important;
        border-bottom: 2px solid #cad6e6;
        cursor: pointer;
        min-height: 80px;

        .heading {
          color: #3687e8;
          font-weight: bold;
          font-size: 22px;
          text-transform: capitalize;
          line-height: 27px;
          margin: 0;
          @include respond(md-desktop) {
            font-size: 20px;
          }
          @include respond(sm-desktop) {
            font-size: 19px;
          }
          @include respond(phone) {
            font-size: 17px;
          }
        }

        span {
          font-size: 45px;
          color: #3687e8;
          font-weight: normal;
          line-height: 20px;
        }

        .dropDown {
          border: 1px solid #0000001f;
          border-radius: 4px;
          font-size: 20px;
          line-height: 25px;
          font-weight: 500;
          padding: 5px;
          background-color: transparent;
          border: none;
        }

        .dropDown_label {
          letter-spacing: 0.53px;
          font-weight: 500;
          font-size: 16px;
          line-height: 17px;
        }
      }
    }

    .dashboard_form {
      padding: 20px 35px 25px 40px;
      .table_scroll_outer {
        width: 100%;
        display: table;
        table-layout: fixed;
        .table_scroll_inner {
          display: table-cell;
          overflow-x: auto;
          .form_heading {
            font-size: 22px;
            line-height: 27px;
            font-weight: bold;
            text-transform: capitalize;

            @include respond(md-desktop) {
              font-size: 18px;
            }

            @include respond(sm-desktop) {
              font-size: 16px;
              line-height: 20px;
            }

            @include respond(phone) {
              font-size: 14px;
              line-height: 15px;
            }
          }

          .total_quantity {
            letter-spacing: 0.53px;
            color: #00000080;
            font-size: 16px;
            line-height: 17px;
            font-weight: 500;

            span {
              // color: #111111;
              font-size: 20px;
              line-height: 23px;
              font-weight: 500;
            }
          }

          .bill_landing {
            //background: #FFFFFF;
            border: 2px solid #cad6e6;
            border-radius: 9px;

            .vessel_card {
              padding: 0px 35px 0px 35px;

              .add_btn {
                color: #3687e8;
                text-transform: capitalize;
                border: 3px solid #3687e8;
                border-radius: 5px;
                font-size: 18px;
                font-weight: bold;
                line-height: 23px;
                background-color: transparent;
                margin: 0 15px 0 30px;
                width: 78px;
                height: 36px;

                @include respond(md-desktop) {
                  font-size: 16px;
                }

                @include respond(sm-desktop) {
                  font-size: 14px;
                }

                @include respond(phone) {
                  font-size: 12px;
                  width: 50px;
                  height: 26px;
                  text-align: center;
                  border-radius: 3px;
                }
              }
            }

            .table_scroll_outer {
              width: 100%;
              display: table;
              table-layout: fixed;

              .table_scroll_inner {
                display: table-cell;
                overflow-x: auto;

                .table {
                  th {
                    font-size: 15px;
                    color: #8492a6;
                    font-weight: bold;
                    border: none !important;
                    line-height: 18px;
                    padding: 20px 15px;
                    vertical-align: middle;
                    text-transform: uppercase;
                    white-space: nowrap;

                    &:first-child {
                      padding-left: 35px;

                      @include respond(md-desktop) {
                        padding-left: 15px;
                      }
                    }

                    .sort_img {
                      opacity: 0.4;
                      width: 14px;
                      height: 14px;
                    }

                    @include respond(md-desktop) {
                      font-size: 14px;
                      line-height: 1.2;
                    }

                    @include respond(sm-desktop) {
                      font-size: 13px;
                    }

                    @include respond(phone) {
                      font-size: 12px;
                    }
                  }

                  tr {
                    &:last-child {
                      border-bottom: none;
                    }

                    td {
                      font-size: 19px;
                      font-weight: 500;
                      line-height: 24px;
                      padding: 24px 15px;
                      border-top: none;
                      vertical-align: middle;
                      white-space: nowrap;

                      @include respond(md-desktop) {
                        font-size: 17px;
                        padding: 18px 10px;
                      }

                      @include respond(sm-desktop) {
                        font-size: 15px;
                        padding: 15px 10px;
                      }

                      @include respond(phone) {
                        font-size: 14px;
                        padding: 10px;
                      }

                      .upload_btn {
                        text-align: center;
                        color: #3687e8;
                        border: 3px solid #3687e8;
                        font-size: 18px;
                        line-height: 23px;
                        font-weight: bold;
                        border-radius: 5px;
                        background: transparent;
                        text-transform: capitalize;
                        padding: 8px 30px 8px 30px;

                        @include respond(md-desktop) {
                          font-size: 16px;
                        }

                        @include respond(sm-desktop) {
                          font-size: 14px;
                          padding: 4px 25px 4px 25px;
                        }

                        @include respond(phone) {
                          font-size: 12px;
                          padding: 0px 15px 0 15px;
                        }
                      }
                    }
                  }

                  span {
                    margin-left: 20px;
                    text-decoration: underline;
                    color: #3687e8;
                    font-weight: bold;
                    line-height: 25px;
                    font-size: 20px;
                  }

                  .input_field {
                    background: #c3c3c31f;
                    border-radius: 4px;
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: 0.19px;
                    color: #111111;
                    border: none;
                    padding: 5px 0px 5px 15px;
                    width: 299px;
                    @include respond(sm-desktop) {
                      font-size: 18px;
                    }
                    @include respond(phone) {
                      font-size: 16px;
                    }
                  }

                  .doc_name {
                    font-weight: bold;
                    line-height: 25px;
                    font-size: 20px;
                    text-transform: capitalize;
                    padding-left: 35px;
                  }

                  .doc_row {
                    font-size: 19px;
                    line-height: 24px;
                    opacity: 0.7;
                    font-weight: 500;
                  }
                }
              }
            }
          }

          .eta_heading {
            font-size: 20px;
            line-height: 25px;
            font-weight: bold;
          }

          .previewImg {
            background: #c3c3c31f;
            border: 1px solid #0000001f;
            border-radius: 4px;
            width: 40px;
            height: 40px;
            padding: 5px;
          }

          .label {
            font-size: 16px;
            letter-spacing: 0.53px;
            line-height: 17px;
            top: 22px;
            font-weight: 500;
            left: 30px;
            margin-bottom: 15px;
            color: #00000080;
            white-space: nowrap;
            @include respond(sm-desktop) {
              font-size: 15px;
            }
            @include respond(phone) {
              font-size: 13px;
            }
          }

          .value {
            font-size: 20px;
            height: 60px;
            line-height: 25px;
            font-weight: 500;
            @include respond(sm-desktop) {
              font-size: 18px;
            }
            @include respond(phone) {
              font-size: 16px;
            }
          }

          .form_group {
            margin-top: 40px;
            position: relative;
            margin-bottom: 10px;

            .label_heading {
              font-size: 16px;
              letter-spacing: 0.53px;
              line-height: 17px;
              top: 22px;
              left: 30px;
              margin-bottom: 0;
              position: absolute;
              pointer-events: none;
              box-sizing: border-box;
              transform: translateY(-30px);
              transition: 0.3s all ease-in-out;
              z-index: 1;
              max-width: 77%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &::before {
                top: 51%;
                left: 0;
                width: 100%;
                height: 2px;
                content: '';
                z-index: -1;
                position: absolute;
                transform: translateY(-50%);
              }
              @include respond(sm-desktop) {
                font-size: 15px;
              }
              @include respond(phone) {
                font-size: 13px;
              }
            }

            .line {
              border: 3px solid #d9dde8;
            }

            .input_field {
              font-size: 20px;
              height: 60px;
              outline: none;
              line-height: 25px;
              box-shadow: none;
              border-radius: 4px;
              position: relative;
              box-sizing: border-box;
              white-space: nowrap;
              letter-spacing: 0.19px;
              padding: 13px 30px 13px 17px;
              border: 1px solid #0000001f;

              &:invalid + label {
                transform: translateY(0);
              }

              &:focus {
                & + label {
                  transform: translateY(-30px);
                }
              }
              @include respond(sm-desktop) {
                font-size: 18px;
              }
              @include respond(phone) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .dashboard_form {
      padding: 20px 35px 25px 40px;

      .form_heading {
        font-size: 22px;
        line-height: 27px;
        font-weight: bold;
        text-transform: capitalize;

        @include respond(md-desktop) {
          font-size: 18px;
        }

        @include respond(sm-desktop) {
          font-size: 16px;
          line-height: 20px;
        }

        @include respond(phone) {
          font-size: 14px;
          line-height: 15px;
        }
      }

      .total_quantity {
        letter-spacing: 0.53px;
        color: #00000080;
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;

        span {
          // color: #111111;
          font-size: 20px;
          line-height: 23px;
          font-weight: 500;
        }
      }

      .bill_landing {
        //background: #FFFFFF;
        border: 2px solid #cad6e6;
        border-radius: 9px;

        .vessel_card {
          padding: 0px 35px 0px 35px;

          .add_btn {
            color: #3687e8;
            text-transform: capitalize;
            border: 3px solid #3687e8;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
            background-color: transparent;
            margin: 0 15px 0 30px;
            width: 78px;
            height: 36px;

            @include respond(md-desktop) {
              font-size: 16px;
            }

            @include respond(sm-desktop) {
              font-size: 14px;
            }

            @include respond(phone) {
              font-size: 12px;
              width: 50px;
              height: 26px;
              text-align: center;
              border-radius: 3px;
            }
          }
        }

        .table_scroll_outer {
          width: 100%;
          display: table;
          table-layout: fixed;

          .table_scroll_inner {
            display: table-cell;
            overflow-x: auto;

            .table {
              th {
                font-size: 15px;
                color: #8492a6;
                font-weight: bold;
                border: none !important;
                line-height: 18px;
                padding: 20px 15px;
                vertical-align: middle;
                text-transform: uppercase;
                white-space: nowrap;

                &:first-child {
                  padding-left: 35px;

                  @include respond(md-desktop) {
                    padding-left: 15px;
                  }
                }

                .sort_img {
                  opacity: 0.4;
                  width: 14px;
                  height: 14px;
                }

                @include respond(md-desktop) {
                  font-size: 14px;
                  line-height: 1.2;
                }

                @include respond(sm-desktop) {
                  font-size: 13px;
                }

                @include respond(phone) {
                  font-size: 12px;
                }
              }

              tr {
                &:last-child {
                  border-bottom: none;
                }

                td {
                  font-size: 19px;
                  font-weight: 500;
                  line-height: 24px;
                  padding: 24px 15px;
                  border-top: none;
                  vertical-align: middle;
                  white-space: nowrap;

                  @include respond(md-desktop) {
                    font-size: 17px;
                    padding: 18px 10px;
                  }

                  @include respond(sm-desktop) {
                    font-size: 15px;
                    padding: 15px 10px;
                  }

                  @include respond(phone) {
                    font-size: 14px;
                    padding: 10px;
                  }

                  .upload_btn {
                    text-align: center;
                    color: #3687e8;
                    border: 3px solid #3687e8;
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: bold;
                    border-radius: 5px;
                    background: transparent;
                    text-transform: capitalize;
                    padding: 8px 30px 8px 30px;

                    @include respond(md-desktop) {
                      font-size: 16px;
                    }

                    @include respond(sm-desktop) {
                      font-size: 14px;
                      padding: 4px 25px 4px 25px;
                    }

                    @include respond(phone) {
                      font-size: 12px;
                      padding: 0px 15px 0 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .eta_heading {
        font-size: 20px;
        line-height: 25px;
        font-weight: bold;
      }

      .previewImg {
        background: #c3c3c31f;
        border: 1px solid #0000001f;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        padding: 5px;
      }

      .label {
        font-size: 16px;
        letter-spacing: 0.53px;
        line-height: 17px;
        top: 22px;
        font-weight: 500;
        left: 30px;
        margin-bottom: 15px;
        color: #00000080;
        white-space: nowrap;
      }

      .value {
        font-size: 20px;
        height: 60px;
        line-height: 25px;
        font-weight: 500;
        @include respond(sm-desktop) {
          font-size: 18px;
        }
        @include respond(phone) {
          font-size: 16px;
        }
      }

      .form_group {
        margin-top: 40px;
        position: relative;
        margin-bottom: 10px;

        .label_heading {
          font-size: 16px;
          letter-spacing: 0.53px;
          line-height: 17px;
          top: 22px;
          left: 30px;
          margin-bottom: 0;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          transform: translateY(-30px);
          transition: 0.3s all ease-in-out;
          z-index: 1;
          max-width: 77%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &::before {
            top: 51%;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            z-index: -1;
            position: absolute;
            transform: translateY(-50%);
          }
          @include respond(sm-desktop) {
            font-size: 15px;
          }
          @include respond(phone) {
            font-size: 13px;
          }
        }

        .line {
          border: 3px solid #d9dde8;
        }

        .input_field {
          font-size: 20px;
          height: 60px;
          outline: none;
          line-height: 25px;
          box-shadow: none;
          border-radius: 4px;
          position: relative;
          box-sizing: border-box;
          white-space: nowrap;
          letter-spacing: 0.19px;
          padding: 13px 30px 13px 17px;
          border: 1px solid #0000001f;

          &:invalid + label {
            transform: translateY(0);
          }

          &:focus {
            & + label {
              transform: translateY(-30px);
            }
          }
          @include respond(sm-desktop) {
            font-size: 18px;
          }
          @include respond(phone) {
            font-size: 16px;
          }
        }
      }
    }
  }
  .wrapper {
    margin-bottom: 1rem;
    border-radius: 6px !important;
  }
}

.shareImg {
  background: #c3c3c31f;
  border: 1px solid #0000001f;
  border-radius: 4px;
  padding: 7px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.add_image {
  width: 36px;
  height: 36px;

  @include respond(sm-desktop) {
    height: 28px;
  }

  @include respond(phone) {
    height: 25px;
  }
}

.calanderIcon {
  margin-left: -40px;
  margin-top: 15px;
  width: 23px;
  height: 26px;
  pointer-events: none;
}

.close_image {
  margin-left: -30px;

  @include respond(phone) {
  }
}
.edit_image {
  background: #c3c3c31f;
  border: 1px solid #0000001f;
  border-radius: 4px;
  padding: 9px;

  @include respond(md-desktop) {
    height: 30px;
    padding: 7px;
  }

  @include respond(sm-desktop) {
    height: 28px;
    padding: 6px;
  }

  @include respond(phone) {
    height: 25px;
    padding: 5px;
  }
}
.shipment_type {
  letter-spacing: 0.19px;
  color: #111111;
  font-size: 20px;
  line-height: 25px;
}
.share_lc {
  top: 50%;
  left: 50%;
  width: 100%;
  border: none;
  margin: 0 auto;
  max-width: 562px;
  max-height: 569px;
  box-shadow: none !important;
  border-radius: 12px;
  padding-right: 0 !important;
  transform: translate(-50%, -50%);
  & > div {
    margin: 0;
    max-width: none;
    & > div {
      border: none;
    }
  }
  .card_body {
    padding: 0;
    .LC_draft_tabs {
      &.nav_tabs {
        // margin-top: 51px;
        border: none;
        .nav_item {
          width: 50%;
          .nav_link {
            font-size: 22px;
            line-height: 27px;
            font-weight: bold;
            padding: 24px 10px;
            height: 75px;
            text-align: center;
            img {
              margin-right: 14px;
            }
          }
          &:first-child {
            .nav_link {
              border-radius: 12px 0 0 0;
            }
          }
          &:last-child {
            .nav_link {
              border-radius: 0 12px 0 0;
            }
          }
        }
      }
    }
    .tab_content {
      margin: 22px 35px;
      h3 {
        font-size: 20px;
        color: #344054;
        font-weight: normal;
        line-height: 25px;
        margin: 0 0 16px;
        letter-spacing: 0.19px;
      }
      .box {
        width: 49%;
        height: 97px;
        max-width: 239px;
        padding: 21px 15px;
        border-radius: 8px;
        margin-bottom: 41px;
        &.lc_document {
          background: #f8acac24;
        }
        &.word_document {
          background: #f3f7fe;
        }
        label {
          font-size: 14px;
          color: #667085;
          font-weight: normal;
          line-height: 25px;
          white-space: nowrap;
          margin: 10px 0 0;
          letter-spacing: 0.13px;
          span {
            font-size: 12px;
            color: #1e1e1e;
            font-weight: normal;
            display: block;
            letter-spacing: 0.11px;
          }
        }
        input {
          transform: scale(1.3);
        }
      }
      .share_via {
        &.nav_tabs {
          border-bottom: 1px solid #d2d7e5;
          .nav_item {
            width: 50%;
            .nav_link {
              font-size: 20px;
              line-height: 25px;
              padding: 10px;
              height: 59px;
              border-radius: 0;
              letter-spacing: 0.19px;
              background: transparent;
              img {
                margin-right: 14px;
              }
            }
          }
        }
      }
      .tab_content {
        margin: 25px 0;
      }
      .each_input {
        position: relative;
        .label_heading {
          top: 22px;
          left: 17px;
          font-size: 16px;
          line-height: 17px;
          font-weight: 500;
          margin-bottom: 0;
          letter-spacing: 0.53px;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          transform: translateY(-30px);
          transition: 0.3s all ease-in-out;
          z-index: 3;
          max-width: 77%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &::before {
            top: 51%;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            z-index: -1;
            position: absolute;
            transform: translateY(-50%);
          }
          @include respond(sm-desktop) {
            font-size: 15px;
          }
          @include respond(phone) {
            font-size: 13px;
          }
        }
        .formControl {
          font-size: 20px;
          line-height: 25px;
          font-weight: normal;
          height: 60px;
          outline: none;
          box-shadow: none !important;
          border-radius: 8px;
          position: relative;
          box-sizing: border-box;
          letter-spacing: 0.19px;
          padding: 19px 30px 19px 17px;
          background: none;
          border-width: 1px;
          &:invalid + label {
            // background: none;
            transform: translateY(0);
          }
          &:focus {
            & + label {
              // background: #ffffff;
              transform: translateY(-30px);
            }
          }
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            box-shadow: 0 0 0 30px #f8f8f8 inset !important;
            -webkit-box-shadow: 0 0 0 30px #f8f8f8 inset !important;
          }
        }
        img {
          top: 50%;
          right: 14px;
          position: absolute;
          transform: translateY(-50%);
        }
        &.phone {
          .label_heading {
            left: 78px;
            transform: translate(-61px, -30px);
          }
          .formControl {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            &:focus {
              & + label {
                transform: translate(-61px, -30px);
              }
            }
          }
          .phone_card {
            display: flex;
            .code_phone {
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
              font-size: 19px;
              letter-spacing: 0.18px;
              color: #3687e8;
              text-transform: capitalize;
              outline: none;
              border-radius: 8px 0 0 8px;
            }
          }
        }
      }
      .password {
        label {
          top: 22px;
        }
      }
    }
    .btn {
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
      height: 48px;
      cursor: pointer;
      max-width: 239px;
      border-radius: 5px;
      @include respond(md-desktop) {
        font-size: 16px;
      }
      &.close {
        color: #4d4d4d;
        background: #ffffff;
        border: 3px solid #d5d5d5;
      }
      &.submit {
        color: #ffffff;
        background: #3687e8;
        border: 3px solid #3687e8;
      }
    }
  }
}
.addMoreRows {
  color: #3687e8;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.arrow {
  margin-left: -40px;
  width: 13px;
  pointer-events: none;

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.customSelect {
  appearance: none;
  // position: relative;
}
// .root {
//   width: 100%;
//   //height: 500px;
//   max-width: 1521px;
//   max-height: 500px;
//   box-shadow: none !important;
//   padding-right: 0 !important;
//   transform: translate(-50%, -50%);
//   border: 0;
//   margin: 0 auto;
//   top: 50%;
//   left: 50%;
//   border-radius: 6px;
//   & > div {
//     margin: 0;
//     max-width: none;
//   }
//   .head {
//     margin-top: 1rem;
//     text-align: center;
//     .heading {
//       font-size: 51px;
//       line-height: 71px;
//       font-weight: bold;
//     }
//     .heading_addresses {
//       font-size: 20px;
//       line-height: 25px;
//       font-weight: 500;
//       p {
//         margin-bottom: 0.1rem;
//       }
//     }
//     .type {
//       margin-top: 2rem;
//       font-size: 32px;
//       line-height: 39px;
//       font-weight: bold;
//       p {
//         margin-bottom: 0.1rem;
//       }
//     }
//   }
//   .body {
//     margin-top: 2rem;
//     border: 1px solid #000000;
//     font-size: 22px;
//     font-weight: normal;
//     line-height: 27px;
//     .body_header {
//       border-bottom: 1px solid #000000;
//       .date {
//         width: 80%;
//         border-right: 1px solid #000000;
//         padding: 1.5rem;
//       }

//       .validity {
//         width: 20%;
//         padding: 1.5rem;
//       }
//     }
//   }
//   .content {
//     border-bottom: 1px solid #000000;
//     padding: 1.5rem;
//     div {
//       // margin-top:1rem;
//       margin-bottom: 1rem;
//     }
//     .width {
//       width: 40% !important;
//     }
//     .width2 {
//       width: 10% !important;
//     }
//     .letter_content {
//       margin-top: 1rem;
//     }
//     .material {
//       margin-top: 3rem;
//       margin-left: 4rem;
//       margin-bottom: 3rem;
//       div {
//         .head {
//           text-align: start;
//           width: 12%;
//         }
//         span {
//           margin-top: 0rem;
//         }
//       }
//     }
//   }
//   .footer {
//     padding: 1.5rem;
//     div {
//       margin-top: 8rem;
//       margin-bottom: 1.5rem;
//     }
//   }
//   .cc {
//     font-size: 22px;
//     font-weight: normal;
//     line-height: 42px;
//     margin-top: 2rem;
//     margin-left: 2rem;
//     .extra_margin {
//       margin-left: 2.3rem;
//     }
//   }
//   .bold {
//     font-weight: bold;
//   }
//   select {
//     background: #c3c3c31f 0% 0% no-repeat padding-box;
//     border: 1px solid #0000001f;
//     border-radius: 4px;
//     font-size: 22px;
//     line-height: 36px;
//     font-weight: bold;
//     width: 257px;
//     height: 50px;
//   }
// }
