.main {
    box-shadow: 0 3px 6px #CAD0E2;
    border: 1px solid #D2D7E5;
    border-radius: 6px;
    margin-top: 20px;
    background-color: #ffffff;
    .head_container {
        border-bottom: 2px solid #CAD6E6;
        .heading{
            font-size: 22px;
            font-weight: bold;
            color: #3687E8;
            padding: 27px 35px;
            line-height: 27px;
            margin-bottom: 0;
        }
    }
    .dashboard_form {
        padding: 0 0 35px;
        .terms_para{
            font-size: 20px;
            letter-spacing: 0.19px;
            color: #111111;
            line-height: 30px;
            padding: 25px 35px 10px;
        }
        .igpl_para{
            background-color: #C3C3C31F;
            border: 1px solid #0000001F;
            border-radius: 4px;
            padding: 5px 15px 5px 8px;
            margin: 0 10px 0 0;
            line-height: 30px;
        }
        .form_group {
            position: relative;
            margin-bottom: 20px;
            margin-top: 20px;
            .other_heading{
                font-size: 22px;
                font-weight: bold;
                line-height: 27px;
                color: #111111;
                background-color: #FAFAFB;
                padding: 15px 15px 15px 35px;
                margin-bottom: 25px;
            }
            .checkbox_container {
                padding: 15px 35px;
                .checkbox_label {
                    font-size:20px;
                    letter-spacing: 0.19px;
                    line-height: 25px;
                    color: #111111;
                }
                .checkbox {
                    margin-top: -5px;
                    margin-right: 25px;
                }
            }    
        }
      }
    }

