@import "../styles/Core/config";
.main {
    box-shadow: 0 3px 6px #CAD0E2;
    border: 1px solid #D2D7E5;
    margin-bottom: 1rem;
    border-radius: 6px !important;
    
    .head_container {
        cursor: pointer;
        padding: 25px 35px !important;
        border-bottom: 2px solid #CAD6E6;
        .heading{
            font-size: 22px;
            font-weight: bold;
            color: #3687E8;
            line-height: 27px;
            margin-bottom: 0;
            @include respond(phone) {
                    font-size: $font_size_mobile_accordion;
                   
                }
        }
        span {
            font-size: 45px;
            color: #3687e8;
            font-weight: normal;
            line-height: 20px;
        }
    }
    .dashboard_form {
        padding: 0 0 35px;
        
        .terms_para{
            font-size: 20px;
            letter-spacing: 0.19px;
          
            line-height: 30px;
            padding: 25px 35px 10px;
            @include respond(phone) {
                font-size: $font_size_mobile_text;
                padding: 25px 20px 20px;
                }
        }
        .igpl_para{
            background-color: #C3C3C31F;
            border: 1px solid #0000001F;
            border-radius: 4px;
            padding: 5px 15px 5px 8px;
            margin: 0 10px 0 0;
            line-height: 30px;
        }
        .form_group {
            position: relative;
            margin-bottom: 20px;
            margin-top: 20px;
            @include respond(phone) {
                    font-size: $font_size_mobile_text;
                    margin-top: 5px !important;
                }
            .other_heading{
                font-size: 22px;
                font-weight: bold;
                line-height: 27px;
              
                background-color: #FAFAFB;
                padding: 15px 15px 15px 35px;
                margin-bottom: 25px;
            }
            .checkbox_container {
                padding: 15px 35px;
                .checkbox_label {
                    font-size:20px;
                    letter-spacing: 0.19px;
                    line-height: 25px;
                    @include respond(phone) {
                            font-size: $font_size_mobile_text;
                           
                        }
                    
                }
                .checkbox {
                    margin-top: -5px;
                    margin-right: 25px;
                }
            }    
        }
    }
}