@import "../styles/Core/config";
.card {
    max-height: 278px;
    border: 1px solid #D2D7E5;
    border-radius: 8px;
    margin-bottom: 24px;
    @include respond(sm-desktop) {
        min-height: 278px;
    }
    @include respond(phone) {
        max-height: none;
        min-height: auto;
        margin-bottom: 15px;
    }
    .header {
        // margin: 0.5rem;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-transform: capitalize;
        background: none;
        border-bottom: 2px solid #F2F5F9;
        padding: 14px 22px;
        @include respond(md-desktop) {
            font-size: 16px;
            line-height: 1.3;
            padding: 14px 15px;
        }
    }
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px 27px 26px;
        @include respond(lg-desktop) {
            padding: 30px 15px 15px;
        }
        @include respond(md-desktop) {
            padding: 15px;
        }
        .name {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .name_wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 19px;
                &:last-child {
                    margin-bottom: 0;
                }
                .round {
                    width: 16px;
                    height: 16px;
                    border-radius: 100px;
                }
                span {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: #111111;
                    text-transform: capitalize;
                    opacity: 0.7;
                    margin-left: 16px;
                    white-space: nowrap;
                    @include respond(lg-desktop) {
                        white-space: unset;
                    }
                    @include respond(sm-desktop) {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
        .chart {
            width: 100%;
            height: 177px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            // canvas{
            //  height: 177px !important;
            //  width: 177px !important;
            // }
            .total_value {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                font-size: 16px;
                font-weight: bold;
                line-height: 19px;
                font-family: Helvetica;
                letter-spacing: 0px;
                top:0px;left:0px;
                // span{}
            }
        }
    }
}