@import "../../src/components/styles/Core/config";

.wrapper{
    margin-bottom: 1rem;
        border-radius: 6px !important;
}
.card {
    padding: 25px;
  
    .head_container {
      display: flex;
      background: none;
      flex-direction: row;
      justify-content: space-between;
      @include respond(sm-desktop) {
        margin-top: 15px;
        margin-bottom: -20px;
    }
    @include respond(phone) {
        margin-top: 15px;
        margin-bottom: -20px;

    }
  
      .head_header {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
  
        .arrow {
          width: 13px;
          height: 21px;
          background: transparent;
          margin-top: 10px;
        @include respond(md-desktop) {
            width: 12px;
            height: 19px;
        }
         
        @include respond(sm-desktop) {
            width: 10px;
          height: 17px;
          margin-top: 12px;
        }
        @include respond(phone) {
            margin-top: 12px;
            width: 9px;
            height: 14px;
        }
        }
        .heading {
          padding-left: 18px;
          font-weight: bold;
          font-size: 34px;
          text-align: left;
          line-height: 41px;         
          text-transform: capitalize;
          margin-top: 0;
          @include respond(md-desktop) {
            font-size: 30px;
            line-height: 41px;         
        }
        @include respond(sm-desktop) {

            font-size: 26px;     
             line-height: 38px;         
        }
        @include respond(phone) {
            font-size: 22px;
            line-height: 30px;
            padding-top: 5px;         

        }
        }
      }
      .clear_btn {
        width: 116px;
        height: 38px; 
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        @include respond(md-desktop) {
            font-size: 16px;
        }
        @include respond(sm-desktop) {
            font-size: 14px;
            width: 100px;
            height: 32px;
        }
        @include respond(phone) {
            font-size: 12px;
            width: 80px;
            height: 30px;
        }
      }
    }
  
    
    .vessel_card {
       
        border-radius: 6px;
        h2 {
            font-size: 22px;
            color: #3687E8;
            font-weight: bold;
            line-height: 27px;
            @include respond(md-desktop) {
               font-size: 22px;
           }
           @include respond(sm-desktop) {
               font-size: 18px;
           }
           @include respond(phone) {
               font-size: 15px;
           }
        }

        
        .radio_form {
        
            padding: 26px 0px 20px 35px;
            .radio_group {
                display: flex;
               
                .radio {
                    font-size: 20px;
                    color: #111111;
                    letter-spacing: 0.19px;
                    padding-right: 50px;
                    @include respond(md-desktop) {
                        font-size: 18px;
                    }
                    @include respond(sm-desktop) {
                        font-size: 16px;
                    }
                    @include respond(phone) {
                        font-size: 14px;
                    }

                    label {
                        padding-left: 15px;
                    }
                }
            }
            .sub_heading {
                font-size: 16px;
                line-height: 17px;
                font-weight: 500;
                padding: 10px 0 15px;
                letter-spacing: 0.53px;
                @include respond(md-desktop) {
                    font-size: 16px;
                }
                @include respond(sm-desktop) {
                    font-size: 14px;
                }
                @include respond(phone) {
                    font-size: 12px;
                }
            }
        } 
    }

    
  }

  