@import '../styles/Core/config';
.root_container {
  margin: 28px;
  margin-bottom: 152px;
  @include respond(lg-desktop) {
    margin: 20px;
    margin-bottom: 144px;
  }
  @include respond(sm-desktop) {
    margin: 18px;
    margin-bottom: 142px;
  }
  @include respond(phone) {
    margin: 15px;
    margin-bottom: 121px;
  }
  .head_container {
    width: 100%;
    .head_header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 48px;
      margin: 0 0 27px 10px;
      @include respond(lg-desktop) {
          height: 40px;
          margin-bottom: 20px;
      }
      @include respond(phone) {
        align-items: center;
        padding: 0.75rem 0rem;
      }
      .arrow {
        width: 13px;
        height: 21px;
        cursor: pointer;
        background: transparent;
        @include respond(lg-desktop) {
          width: 10px;
          height: auto;
        }
      }
      .heading {
        font-size: 34px;
        font-weight: bold;
        line-height: 41px;
        margin: 0;
        padding-left: 18px;
        text-transform: lowercase;
        &:first-letter {
            text-transform: uppercase;
        }
        &:first-line {
            text-transform: capitalize;
        }
        @include respond(lg-desktop) {
          font-size: 24px;
          line-height: 1.4;
          padding-left: 10px;
        }
        @include respond(sm-desktop) {
          font-size: 20px;
        }
        @include respond(phone) {
          font-size: 18px;
        }
      }
    }
  }
  .term_container {
    height: 126px;
    padding: 18px 36px 28px;
    background: #d8eaff;
    border: 1px solid #d2d7e5;
    border-radius: 6px;
    margin-bottom: 26px;
    h3 {
      color: #3687e8;
      font-size: 34px;
      line-height: 41px;
      font-weight: bold;
      @include respond(md-desktop) {
        font-size: 30px;
      }
      @include respond(sm-desktop) {
        font-size: 25px;
      }
      @include respond(phone) {
        font-size: 18px;
      }
    }
    .sub_heading {
      //color: #111111;
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      span {
        line-height: 24px;
        opacity: 0.7;
        font-weight: normal;
      }
    }
  }
  .content {
    .datatable {
      box-shadow: none !important;
      border: none !important;
      .table_scroll_outer {
        width: 100%;
        display: table;
        table-layout: fixed;
        .table_scroll_inner {
          display: table-cell;
          overflow-x: auto;
          .table {
            margin-bottom: 0px;
            tr {
              &:last-child {
                border-bottom: none !important;
              }
              td {
                font-size: 20px;
                font-weight: 500;
                line-height: 25px;
                padding: 24px 15px;
                text-transform: uppercase;
                border: 1px solid #cad6e6;
                span {
                  // opacity: 0.7;
                  line-height: 24px;
                  font-weight: normal;
                  display: inline-block;
                }
                &:first-child {
                  padding-left: 35px;
                  @include respond(sm-desktop) {
                    padding-left: 15px;
                  }
                }
                @include respond(md-desktop) {
                  font-size: 17px;
                  padding: 18px 10px;
                }
                @include respond(sm-desktop) {
                  font-size: 15px;
                  padding: 15px 10px;
                }
                @include respond(phone) {
                  font-size: 14px;
                  padding: 10px;
                }
                .serial_no {
                  width: 66px;
                  font-weight: 500;
                  line-height: 25px;
                  vertical-align: top;
                }
              }
            }
          }
        }
      }
    }
    .line {
      border: 2px solid #cad6e6;
    }
    .element_datatable {
      max-width: 879px;
      margin: 0 12px 0 12px;
      box-shadow: none !important;
      border: none !important;
      .table_scroll_outer {
        width: 70%;
        display: table;
        table-layout: fixed;
        .table_scroll_inner {
          display: table-cell;
          overflow-x: auto;
          .table {
            border: 1px solid #cad6e6;
            th {
              font-size: 15px;
              line-height: 18px;
              padding: 24px 15px;
              border: 1px solid #cad6e6;
              text-transform: uppercase;
              background: transparent !important;
              &:first-child {
                padding-left: 35px;
                @include respond(sm-desktop) {
                  padding-left: 15px;
                }
              }
              @include respond(md-desktop) {
                font-size: 14px;
                line-height: 1.2;
              }
              @include respond(sm-desktop) {
                font-size: 13px;
              }
              @include respond(phone) {
                font-size: 12px;
              }
            }
            td {
              font-size: 19px;
              font-weight: 500;
              line-height: 24px;
              padding: 24px 15px;
              border: 1px solid #cad6e6;
              white-space: nowrap;
              &:first-child {
                padding-left: 35px;
                @include respond(sm-desktop) {
                  padding-left: 15px;
                }
              }
              @include respond(md-desktop) {
                font-size: 17px;
                padding: 18px 10px;
              }
              @include respond(sm-desktop) {
                font-size: 15px;
                padding: 15px 10px;
              }
              @include respond(phone) {
                font-size: 14px;
                padding: 10px;
              }
            }
            .buyerName {
              color: #3687e8;
              font-weight: bold;
              text-transform: capitalize;
            }
            .status {
              width: 15px;
              height: 15px;
              margin-right: 10px;
              border-radius: 50%;
              display: inline-block;
              vertical-align: middle;
            }
            .approved {
              background: #26dd73;
            }
            .rejected {
              background: #ed714c;
            }
            .review {
              background: #ffce00;
            }
          }
        }
      }
    }
    .line {
      border: 2px solid #cad6e6;
    }
  }
}

.share_lc {
  top: 50%;
  left: 50%;
  width: 100%;
  border: none;
  margin: 0 auto;
  max-width: 562px;
  max-height: 569px;
  box-shadow: none !important;
  border-radius: 12px;
  padding-right: 0 !important;
  transform: translate(-50%, -50%);
  & > div {
      margin: 0;
      max-width: none;
      & > div {
          border: none;
      }
  }
  .card_body {
      padding: 0;
      .LC_draft_tabs {
          &.nav_tabs {
              // margin-top: 51px;
              border: none;
              .nav_item {
                  width: 50%;
                  .nav_link {
                      font-size: 22px;
                      line-height: 27px;
                      font-weight: bold;
                      padding: 24px 10px;
                      height: 75px;
                      text-align: center;
                      img {
                          margin-right: 14px;
                      }
                  }
                  &:first-child {
                      .nav_link {
                          border-radius: 12px 0 0 0;
                      }
                  }
                  &:last-child {
                      .nav_link {
                          border-radius: 0 12px 0 0;
                      }
                  }
              }
          }
      }
      .tab_content { 
          margin: 22px 35px;
          h3 {
              font-size: 20px;
              color: #344054;
              font-weight: normal;
              line-height: 25px;
              margin: 0 0 16px;
              letter-spacing: 0.19px;
          }
          .box {
              width: 49%;
              height: 97px;
              max-width: 239px;
              padding: 21px 15px;
              border-radius: 8px;
              margin-bottom: 41px;
              &.lc_document {
                  background: #F8ACAC24;
              }
              &.word_document {
                  background: #F3F7FE;
              }
              label {
                  font-size: 14px;
                  color: #667085;
                  font-weight: normal;
                  line-height: 25px;
                  white-space: nowrap;
                  margin: 10px 0 0;
                  letter-spacing: 0.13px;
                  span {
                    font-size: 12px;
                    color: #1E1E1E;
                    font-weight: normal;
                    display: block;
                    letter-spacing: 0.11px;
                  }
              }
              input {
                  transform: scale(1.3);
              }
          }
          .share_via {
              &.nav_tabs {
                  border-bottom: 1px solid #D2D7E5;
                  .nav_item {
                      width: 50%;
                      .nav_link {
                          font-size: 20px;
                          line-height: 25px;
                          padding: 10px;
                          height: 59px;
                          border-radius: 0;
                          letter-spacing: 0.19px;
                          background: transparent;
                          img {
                              margin-right: 14px;
                          }
                      }
                  }
              }
          }
          .tab_content { 
              margin: 25px 0;
          }
          .each_input {
              position: relative;
              .label_heading {
                  top: 22px;
                  left: 17px;
                  font-size: 16px;
                  line-height: 17px;
                  font-weight: 500;
                  margin-bottom: 0;
                  letter-spacing: 0.53px;
                  position: absolute;
                  pointer-events: none;
                  box-sizing: border-box;
                  transform: translateY(-30px);
                  transition: 0.3s all ease-in-out;
                  z-index: 3;
                  max-width: 77%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  &::before {
                      top: 51%;
                      left: 0;
                      width: 100%;
                      height: 2px;
                      content: '';
                      z-index: -1;
                      position: absolute;
                      transform: translateY(-50%);
                  }
              }
              .formControl {
                  font-size: 20px;
                  line-height: 25px;
                  font-weight: normal;
                  height: 60px;
                  outline: none;
                  box-shadow: none !important;
                  border-radius: 8px;
                  position: relative;
                  box-sizing: border-box;
                  letter-spacing: 0.19px;
                  padding: 19px 30px 19px 17px;
                  background: none;
                  border-width: 1px;
                  &:invalid+label {
                      // background: none;
                      transform: translateY(0);
                  }
                  &:focus {
                      &+label {
                          // background: #ffffff;
                          transform: translateY(-30px);
                      }
                  }
                  &:-webkit-autofill,
                  &:-webkit-autofill:hover,
                  &:-webkit-autofill:focus,
                  &:-webkit-autofill:active {
                      box-shadow: 0 0 0 30px #F8F8F8 inset !important;
                      -webkit-box-shadow: 0 0 0 30px #F8F8F8 inset !important;
                  }
              }
              img {
                  top: 50%;
                  right: 14px;
                  position: absolute;
                  transform: translateY(-50%);
              }
              &.phone {
                  .label_heading {
                      left: 78px;
                      transform: translate(-61px, -30px);
                  }
                  .formControl {
                      border-top-left-radius: 0px;
                      border-bottom-left-radius: 0px;
                      &:focus {
                          & + label {
                              transform: translate(-61px, -30px);
                          }
                      }
                  }                  
                  .phone_card {
                      display: flex;
                      .code_phone {
                          border-top-right-radius: 0px;
                          border-bottom-right-radius: 0px;
                          font-size: 19px;
                          letter-spacing: 0.18px;
                          color: #3687e8;
                          text-transform: capitalize;
                          outline: none;
                          border-radius: 8px 0 0 8px;
                      }
                  }
              }
          }
          .password {
              label {
                  top: 22px;
              }
          }
      }
      .btn {
          font-size: 20px;
          font-weight: bold;
          line-height: 25px;
          height: 48px;
          cursor: pointer;
          max-width: 239px;
          border-radius: 5px;
          @include respond(md-desktop) {
              font-size: 16px;
          }
          &.close {
              color: #4D4D4D;
              background: #FFFFFF;
              border: 3px solid #D5D5D5;
          }
          &.submit {
              color: #FFFFFF;
              background: #3687E8;
              border: 3px solid #3687E8;
          }
      }
  }
}
.addMoreRows {
    color: #3687E8;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.content_header {
  background: #fafafb;
  //height: 67px;
  //padding-left: 36px;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  color: #3687e8;
  //border-right: 2px solid #e5e5e5;
  @include respond(phone) {
    font-size: 15px;
    padding-left: 20px;
  }
}
.arrow {
  margin-left: -40px;
  width: 13px;
  pointer-events: none;

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.customSelect {
  appearance: none;
  // position: relative;
}
