@import "../../styles/Core/config";
.root {
    left: 0;
    right: 0;
    bottom: 42px;
    position: fixed;
    z-index: 4;
    height: 84px;
    box-shadow: 0px 3px 12px #CAD0E2;
    border: 1px solid #D2D7E5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    padding: 0rem 2rem 0rem 2rem;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-left: 345px;
    @include respond(lg-desktop) {
        margin-left: 20%;
    }
    @include respond(md-desktop) {
        justify-content: space-between;
        padding: 0rem 1rem 0rem 1rem;
        margin-left: 0;
    }
    @include respond(phone) {
        bottom: 55px;
        height: auto;
    }
    .reject {
        cursor: pointer;
        width: 260px;
        height: 48px;
        border: 3px solid #3687E8;
        border-radius: 5px;
        color: #3687E8;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(md-desktop) {
            width: 160px;
            height: 48px;
            font-size: 12px;
        }
    }
    .approve {
        cursor: pointer;
        width: 260px;
        height: 48px;
        background: #3687E8 0% 0% no-repeat padding-box;
        border-radius: 5px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(md-desktop) {
            width: 160px;
            height: 48px;
            font-size: 12px;
        }
    }
}