@import '../../src/components/styles/Core/config';

.card {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  margin: 28px;
  margin-bottom: 68px;
  @include respond(sm-desktop) {
    margin: 20px;
    margin-bottom: 60px;
  }
  @include respond(phone) {
    margin: 15px;
    margin-bottom: 71px;
  }

  .head_container {
    height: 48px;
    display: flex;
    border: none;
    background: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 27px 10px;
    @include respond(lg-desktop) {
      height: 40px;
      margin-bottom: 20px;
    }
    @include respond(phone) {
      align-items: center;
      padding: 0.75rem 0rem;
    }

    .head_header {
      display: flex;
      justify-content: space-around;
      flex-direction: row;

      .back_arrow {
        width: 13px;
        height: 21px;
        cursor: pointer;
        background: transparent;
        @include respond(lg-desktop) {
          width: 10px;
          height: auto;
        }
      }

      .heading {
        font-size: 34px;
        font-weight: bold;
        line-height: 41px;
        margin: 0;
        padding-left: 18px;
        text-transform: lowercase;

        &:first-letter {
          text-transform: uppercase;
        }

        &:first-line {
          text-transform: capitalize;
        }

        @include respond(lg-desktop) {
          font-size: 24px;
          line-height: 1.4;
          padding-left: 10px;
        }
        @include respond(sm-desktop) {
          font-size: 20px;
        }
        @include respond(phone) {
          font-size: 18px;
        }
      }
    }
  }
}
.backgroundMain {
  .vessel_card {
    border-radius: 6px;
    margin: 0px 10px;

    h2 {
      font-size: 22px;
      color: #3687e8;
      font-weight: bold;
      line-height: 27px;
      @include respond(md-desktop) {
        font-size: 22px;
      }
      @include respond(sm-desktop) {
        font-size: 18px;
      }
      @include respond(phone) {
        font-size: 15px;
      }
    }

    .main {
      border-radius: 6px;
    }

    .dashboard_form {
      padding: 20px 35px 25px 40px;

      .bill_landing {
        //background: #FFFFFF;
        border: 2px solid #cad6e6;
        border-radius: 9px;

        .vessel_card {
          padding: 0px 35px 0px 35px;

          .main {
            margin-bottom: 26px;
            border-radius: 6px !important;

            .head_container {
              border-bottom: 2px solid #cad6e6;
              cursor: pointer;
              border-bottom: none;
              height: 80px;
              padding: 25px 35px !important;

              .heading {
                color: #3687e8;
                font-weight: bold;
                font-size: 22px;
                text-transform: capitalize;
                @include respond(md-desktop) {
                  font-size: 20px;
                }
                @include respond(sm-desktop) {
                  font-size: 18px;
                }
                @include respond(phone) {
                  font-size: 15px;
                }
              }

              span {
                font-size: 45px;
                color: #3687e8;
                font-weight: normal;
                line-height: 20px;
                @include respond(lg-desktop) {
                  font-size: 35px;
                }
                @include respond(sm-desktop) {
                  font-size: 32px;
                }
                @include respond(phone) {
                  font-size: 30px;
                }
              }
            }

            .add_row {
              text-align: center;
              font-size: 18px;
              line-height: 23px;
              font-weight: bold;
              color: #3687e8;
              cursor: pointer;

              span {
                margin-right: 15px;
              }
            }

            .submit {
              cursor: pointer;
              width: 260px;
              height: 48px;
              background: #3687e8;
              border-radius: 5px;
              color: #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 1rem;
              margin: 10px 35px !important;
            }
          }
        }
      }

      .form_group {
        margin-top: 40px;
        position: relative;
        margin-bottom: 10px;

        .search_image {
          margin-left: -40px;
        }

        .label_heading {
          font-size: 16px;
          letter-spacing: 0.53px;
          line-height: 17px;
          top: 22px;
          left: 30px;
          margin-bottom: 0;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          transform: translateY(-30px);
          transition: 0.3s all ease-in-out;
          z-index: 1;
          max-width: 77%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &::before {
            top: 51%;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            z-index: -1;
            position: absolute;
            transform: translateY(-50%);
          }

          @include respond(lg-desktop) {
            top: 15px;
            font-size: 14px;
            line-height: 15px;
            transform: translateY(-22px);
          }
        }

        .phone_card {
          display: flex;
          flex-wrap: nowrap;

          .code_phone {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 19px;
            letter-spacing: 0.18px;
            color: #3687e8;
            text-transform: capitalize;
            outline: none;
            border-radius: 4px 0 0 4px;
            @include respond(lg-desktop) {
              font-size: 15px;
              line-height: 1.3;
            }
          }
        }

        .line {
          border: 3px solid #d9dde8;
        }

        .input_field {
          font-size: 20px;
          height: 60px;
          outline: none;
          line-height: 25px;
          box-shadow: none;
          border-radius: 4px;
          position: relative;
          box-sizing: border-box;
          white-space: nowrap;
          letter-spacing: 0.19px;
          padding: 13px 30px 13px 17px;
          border: 1px solid #0000001f;

          &:invalid + label {
            transform: translateY(0);
          }

          &:focus {
            & + label {
              transform: translateY(-30px);
              @include respond(lg-desktop) {
                transform: translateY(-22px);
              }
            }
          }

          @include respond(lg-desktop) {
            height: 45px;
            font-size: 15px;
            line-height: 1.3;
          }
        }
      }

      .phone {
        .label_heading {
          left: 90px;
          transform: translate(-61px, -30px);
          @include respond(lg-desktop) {
            transform: translate(-61px, -22px);
          }
        }

        .input_field {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;

          &:focus {
            & + label {
              transform: translate(-61px, -30px);
              @include respond(lg-desktop) {
                transform: translate(-61px, -22px);
              }
            }
          }
        }
      }
    }
  }
}
.down_container {
  border-bottom: 2px solid #cad6e6;
  padding: 25px 35px !important;
  height: 80px;
  cursor: pointer;

  
  .heading {
    color: #3687e8;
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    line-height: 27px;
  }

  .status_heading {
    letter-spacing: 0.53px;
    color: #00000080;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;

    .active {
      color: #43c34d;
      font-size: 22px;
      line-height: 27px;
      font-weight: bold;
      margin-left: 12px;
    }
  }

  span {
    font-size: 45px;
    color: #3687e8;
    font-weight: normal;
    line-height: 20px;
    @include respond(lg-desktop) {
      font-size: 35px;
    }
  }
}

img {
  &.arrow2 {
    width: 13px !important;
    right: 12px;
    height: 38px;
    position: absolute;
    pointer-events: none;

    input[type='date']::-webkit-inner-spin-button,
    input[type='date']::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }
}

.img_arrow {
  transform: translateY(30%);
  top: 30%;
  margin-left: -40px;
  pointer-events: none;

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.arrow {
  margin-left: -40px;
  width: 13px;
  pointer-events: none;

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.customSelect {
  appearance: none;
  // position: relative;
}

.edit_image {
  background: #c3c3c31f;
  border: 1px solid #0000001f;
  border-radius: 4px;
  padding: 9px;
  width: 40px;
  height: 40px;
  @include respond(md-desktop) {
    height: 30px;
    padding: 7px;
  }
  @include respond(sm-desktop) {
    height: 28px;
    padding: 6px;
  }
  @include respond(phone) {
    height: 25px;
    padding: 5px;
  }
}