@import "../../styles/Core/config";


.backgroundMain {

    .vessel_card {
       
        border-radius: 6px;
        h2 {
            font-size: 22px;
            color: #3687E8;
            font-weight: bold;
            line-height: 27px;
            @include respond(md-desktop) {
               font-size: 22px;
           }
           @include respond(sm-desktop) {
               font-size: 18px;
           }
           @include respond(phone) {
               font-size: 15px;
           }
        }

        .main {
            border-radius: 6px;
            .add_btn {
                color: #3687E8;
                text-transform: capitalize;
                border: 3px solid #3687E8;
                border-radius: 5px;
                font-size: 18px;
                font-weight: bold;
                line-height: 23px;
                background-color: transparent;
                margin: 0 50px;
                width: 184px;
                height: 38px;
                @include respond(md-desktop) {
                    font-size: 16px;
                }
                @include respond(sm-desktop) {
                    font-size: 14px;
                }
                @include respond(phone) {
                    font-size: 12px;
                    width: 50px;
                    height: 26px;
                    text-align: center;
                    border-radius: 3px;
                }
                
            }
            .head_container {
                padding: 25px 35px !important;
               border-bottom: 2px solid #CAD6E6;

                .heading{
                    color: #3687e8;
                    font-weight:bold;
                    font-size: 22px;
                    text-transform: capitalize;
                    line-height: 27px;
                  
                }
                span {
                    font-size: 45px;
                    color: #3687e8;
                    font-weight: normal;
                    line-height: 20px;
                }
                
                
            }
        }
        .dashboard_form {
            padding: 20px 35px 25px 40px;
            
            .bill_landing {
                //background: #FFFFFF;
                border: 2px solid #CAD6E6;
                border-radius: 9px;
            .vessel_card {
                
                padding: 0px 35px 0px 35px;
                .add_btn {
                    color: #3687E8;
                    text-transform: capitalize;
                    border: 3px solid #3687E8;
                    border-radius: 5px;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 23px;
                    background-color: transparent;
                    margin: 0 15px 0 30px;
                    width: 78px;
                    height: 36px;
                    @include respond(md-desktop) {
                        font-size: 16px;
                    }
                    @include respond(sm-desktop) {
                        font-size: 14px;
                    }
                    @include respond(phone) {
                        font-size: 12px;
                        width: 50px;
                        height: 26px;
                        text-align: center;
                        border-radius: 3px;
                    }
                }
                
            }
           
        }
        
           .label {
                font-size: 16px;
                letter-spacing: 0.53px;
                line-height: 17px;
                top: 26px;
                font-weight: 500;
                left: 30px;
                margin-bottom: 15px;
                color: #00000080;

           }
           .value {
                    font-size: 20px;
                    height: 60px;
                    line-height: 25px;
                    font-weight: 500;

           }
       
            
            
            .form_group {
                margin-top: 40px;
                position: relative;
                margin-bottom: 10px;
               
                .search_image {
                    margin-left: -40px;
                } 
               
                .label_heading {
                    font-size: 16px;
                    letter-spacing: 0.53px;
                    line-height: 0.5;
                    top: 26px;
                    left: 30px;
                    margin-bottom: 0;
                    position: absolute;
                    pointer-events: none;
                    box-sizing: border-box;
                    transform: translateY(-29px);
                    transition: 0.3s all ease-in-out;
                }
                
                .line {
                    border: 3px solid #D9DDE8;

                }
                
                .input_field {
                    font-size: 20px;
                    height: 60px;
                    outline: none;
                    line-height: 25px;
                    box-shadow: none;
                    border-radius: 4px;
                    position: relative;
                    box-sizing: border-box;
                    white-space: nowrap;
                    letter-spacing: 0.19px;
                    padding: 13px 30px 13px 17px;
                    border: 1px solid #0000001F;
                    &:invalid + label {
                        transform:translateY(0);
                    }
                    &:focus {
                        & + label {
                            transform:translateY(-29px);
                        }
                    }
                }
            }
            
        }
       
    }

    
}



.pdfImage{
    width: 57px;
    height: 25px;

    @include respond(sm-desktop) {
        width: 50px;
        height: 22px;
    }
    @include respond(phone) {
        width: 35px;
        height: 15px;
    }

  }
  