@import '../styles/Core/config';
.root {
  left: 0;
  right: 0;
  bottom: 42px;
  position: fixed;
  z-index: 4;
  height: 84px;
  box-shadow: 0px 3px 12px #cad0e2;
  border: 1px solid #d2d7e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding: 0rem 2rem 0rem 2rem;
  background-color: white;
  margin-left: 345px;
  @include respond(lg-desktop) {
    margin-left: 20%;
  }
  @include respond(md-desktop) {
    padding: 0rem 1rem 0rem 1rem;
    margin-left: 0;
  }
  @include respond(phone) {
    bottom: 55px;
    height: auto;
  }
  .reject {
    cursor: pointer;
    width: 260px;
    height: 48px;
    border: 3px solid #3687e8;
    border-radius: 5px;
    color: #3687e8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    img {
      margin-left: 0.5rem;
      @include respond(phone) {
        width: 10px;
      }
    }
    span {
      @include respond(phone) {
        font-size: 12px;
      }
    }
    @include respond(phone) {
      font-size: 12px;
      width: 200px;
    }
  }
  .navigate {
    width: 300px;
    font-size: 18px;
    line-height: 31px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(phone) {
      font-size: 10px;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 36px;
      background: #c3c3c31f 0% 0% no-repeat padding-box;
      border: 1px solid #0000001f;
      border-radius: 4px;
      @include respond(phone) {
        font-size: 12px;
        width: 20px;
        height: 19px;
      }
    }
    .zoom {
      width: 58px;
      height: 36px;
      @include respond(sm-desktop) {
        font-size: 15px;
        width: 30px;
        height: 19px;
      }
      @include respond(phone) {
        font-size: 12px;
        width: 20px;
        height: 19px;
      }
    }
    .button {
      width: 24px;
      height: 4px;
      background: #667085 0% 0% no-repeat padding-box;
      @include respond(sm-desktop) {
        width: 20px;
      }
      @include respond(phone) {
        width: 10px;
      }
    }
    img {
      @include respond(sm-desktop) {
        width: 20px;
      }
      @include respond(phone) {
        width: 10px;
      }
    }
    .button2 {
      width: 24px;
      height: 24px;
      background: #667085 0% 0% no-repeat padding-box;
    }
  }
  .approve {
    cursor: pointer;
    width: 260px;
    height: 48px;
    background: #3687e8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    span {
      @include respond(phone) {
        font-size: 12px;
      }
    }
    @include respond(phone) {
      font-size: 12px;
      width: 200px;
    }
  }
}
