.root_Container {
    width: 100%;
    height: 90%;
    // overflow-y: scroll;
    position: relative;
    .wrapper {
        padding: 10px;
        .head {
            display: flex;
            align-items: center;
            padding: 0 15px 0 22px;
            justify-content: flex-start;
            h1 {
                margin-left: 1rem;
            }
        }
    }    
   .approve_Container {    
        width: 87%;
        bottom: 0;
        position: absolute;
        position: fixed;
   }
}
