.wrapper {
  color: #3687e8;
  width: 100%;
  .head {
    justify-content: center !important;
    position: relative;
    img {
      position: absolute;
      top: 20%;
      position: absolute;
      right: 25px;
      transform: translate(50%, 50%);
    }
  }
  .body {
    div {
      width: 100%;
      .left {
        padding: 60px;
        width: 100%;
        border-right: 1px solid #d2d7e5;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        button {
          border-color: #ced4da;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          color: #3687e8;
          border-right: none;
        }
        input {
          border-left: none;
          border-radius: 0rem !important;
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
        .button {
          height: 46px;
          font-size: 20px;
          line-height: 25px;
          font-weight: bold;
          color: #3687e8;
          border: 3px solid #3687e8;
          border-radius: 5px;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .right {
        width: 100%;
        padding: 60px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        .button {
          height: 46px;
          font-size: 20px;
          line-height: 25px;
          font-weight: bold;
          color: #3687e8;
          border: 3px solid #3687e8;
          border-radius: 5px;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
.backdrop {
  backdrop-filter: blur(33px);
  opacity: 0.95 !important;
  background-color: #9d9d9d !important;
}
.dropDown{
  color: #495057;
  color: #495057;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-right: none;
}