@import '../../components/styles/Core/config';
.react_multi_email {
  margin: 0;
  max-width: 100%;
  max-height: 60px;
  min-height: 60px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  padding: 0.4em 0.5em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  -webkit-transition: box-shadow 0.1s ease, border-color 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  font-size: 13px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  background: rgba(195, 195, 195, 0.1215686275);
  @include respond(lg-desktop) {
    max-height: 45px;
    min-height: 45px;
  }
}

.react_multi_email {
  & > .data_placeholder {
    // display: none;
    left: 15px;
    top: 20px;
    // padding: 0.4em;
    line-height: 16px;
    // color: rgba(0, 0, 0, 0.5019607843);
    -webkit-text-fill-color: initial;
    font-size: 16px;
    background: white;
    z-index: 1;
    position: absolute;
    transform: translateY(-30px);
    &::before {
      top: 51%;
      left: 0;
      width: 100%;
      height: 3px;
      content: '';
      z-index: -1;
      position: absolute;
      background: #ffffff;
    }
    @include respond(lg-desktop) {
      top: 13px;
      font-size: 14px;
      line-height: 15px;
      transform: translateY(-22px);
    }
  }
}

.react_multi_email.focused {
  border-color: #85b7d9;
  background: #fff;
}

.react_multi_email.empty > span[data-placeholder] {
  display: inline;
  color: #ccc;
}

.react_multi_email.focused > span[data-placeholder] {
  display: none;
}

.react_multi_email > input {
  width: auto !important;
  outline: none !important;
  border: 0 none !important;
  display: inline-block !important;
  line-height: 1;
  vertical-align: baseline !important;
  padding: 0.4em 0.1em !important;
  background: rgba(195, 195, 195, 0);
}

.react_multi_email [data-tag] {
  height: 32px;
  // line-height: 25px;
  vertical-align: baseline;
  margin: 4px;
  background-color: #ffffff;
  background-image: none;
  padding: 6px 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: 500;
  border: 1px solid #d2d7e5;
  border-radius: 8px;
  -webkit-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  letter-spacing: 0.15px;
  @include respond(lg-desktop) {
    height: 28px;
    font-size: 13px;
    border-radius: 4px;
  }
}

.react_multi_email [data-tag] [data-tag-item] {
  max-width: 100%;
  overflow: hidden;
}

.react_multi_email [data-tag]:first-child {
  margin-left: 0;
}

.react_multi_email [data-tag] [data-tag-handle] {
  margin-left: 0.833em;
  cursor: pointer;
  color: #ed6a5e;
  font-size: 22px;
  -webkit-text-fill-color: #ed6a5e;
  @include respond(lg-desktop) {
    font-size: 16px;
    line-height: 10px;
  }
}

// .label_heading {
//     top: 22px;
//     left: 30px;
//     font-size: 16px;
//     line-height: 17px;
//     margin-bottom: 0;
//     letter-spacing: 0.53px;
//     position: absolute;
//     pointer-events: none;
//     box-sizing: border-box;
//     transform: translateY(-30px);
//     transition: 0.3s all ease-in-out;
//     z-index: 0;
//     max-width: 77%;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     &::before {
//       top: 51%;
//       left: 0;
//       width: 100%;
//       height: 3px;
//       content: '';
//       z-index: -1;
//       position: absolute;
//       transform: translateY(-50%);
//     }
//     @include respond(lg-desktop) {
//         top: 14px;
//         font-size: 14px;
//         line-height: 15px;
//         transform: translateY(-22px);
//     }
//   }
//   .input_field {
//     height: 60px;
//     border-radius: 4px;
//     font-size: 20px;
//     font-weight: 500;
//     outline: none;
//     box-shadow: none;
//     position: relative;
//     box-sizing: border-box;
//     padding-right: 40px;
//     &:invalid + label {
//       transform: translateY(0);
//     }
//     &:focus {
//       & + label {
//         transform: translateY(-30px);
//         @include respond(lg-desktop) {
//           transform: translateY(-22px);
//         }
//       }
//     }
//     @include respond(lg-desktop) {
//         height: 45px;
//         font-size: 15px;
//         line-height: 1.3;
//     }
//   }
