.main_container{
  height: 42px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  
  box-shadow: 0px 3px 12px #CAD0E2;
  border: 1px solid #D2D7E5;
  // position: fixed;
div{
     
      padding-left:1rem;
       display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
              width: 17px;
              height: 15px;
          }
      
          span {
              height: 19px;
              color: #3687E8;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              margin-left: 1rem;
          }
          
}
.unit_container {
  padding-top: 10px;
  padding-right: 10px;
   
   .unit_label{
      font-size:18px;
      text-transform: capitalize;
      font-weight: bold;
      padding-right: 8px;
      line-height: 23px;
}
     .options {
      background-color: #F3F4F7 !important;
      color: #3687E8;
      font-size:18px;
      text-transform: capitalize;
      margin-right: 10px;
      border-radius: 14px;
      border: none;
      line-height: 23px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 5px;
      background: transparent !important;
      }
      
  }
}