@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue.svg") format("svg"),
         url("../../../../public/fonts/HelveticaNeue.ttf") format("true type"),
         url("../../../../public/fonts/HelveticaNeue.woff") format("woff"),
         url("../../../../public/fonts/HelveticaNeue.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue-Medium.eot") format("eot");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue-Medium.svg") format("svg"),
         url("../../../../public/fonts/HelveticaNeue-Medium.ttf") format("true type"),
         url("../../../../public/fonts/HelveticaNeue-Medium.woff") format("woff"),
         url("../../../../public/fonts/HelveticaNeue-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue-Bold.eot") format("eot");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue-Bold.svg") format("svg"),
         url("../../../../public/fonts/HelveticaNeue-Bold.ttf") format("true type"),
         url("../../../../public/fonts/HelveticaNeue-Bold.woff") format("woff"),
         url("../../../../public/fonts/HelveticaNeue-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue-Medium.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../../../public/fonts/HelveticaNeue-Bold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
}