$breakpointXS: 0px;
$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;
$breakpointXL: 1200px;



$breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$breakpoints: map-merge(
  (
    "breakpoint-xs": $breakpointXS,
    "breakpoint-sm": $breakpointSM,
    "breakpoint-md": $breakpointMD,
    "breakpoint-lg": $breakpointLG,
    "breakpoint-xl": $breakpointXL,
  ),
  $breakpoints
);



//fonts-size-phone 
$font_size_mobile_text:14px;
$font_size_mobile_head: 15px;
$font_size_mobile_button: 15px;
$font_size_mobile_input_label: 14px;
$font_size_mobile_accordion:20px;
//fonts-size-sm-desktop
$font_size_mobile_text: 14px;
$font_size_mobile_head: 15px;
$font_size_mobile_button: 15px;
$font_size_sm_input_label: 14px;
$font_size_mobile_accordion: 20px;


