$breakpointXS: 0px;
$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;
$breakpointXL: 1200px;

// $theme-colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $theme-colors: map-merge(
//   (
//     "primary": $primary,
//     "secondary": $secondary,
//     "success": $success,
//     "info": $info,
//     "warning": $warning,
//     "danger": $danger,
//     "light": $light,
//     "dark": $dark,
//   ),
//   $theme-colors
// );

$breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$breakpoints: map-merge(
  (
    "breakpoint-xs": $breakpointXS,
    "breakpoint-sm": $breakpointSM,
    "breakpoint-md": $breakpointMD,
    "breakpoint-lg": $breakpointLG,
    "breakpoint-xl": $breakpointXL,
  ),
  $breakpoints
);

$p-relative: relative;
$p-absolute: absolute;
$p-fixed: fixed;
$p-static: static;
$t-capitalize: capitalize;
$t-lowercase: lowercase;
$t-uppercase: uppercase;
$d-block: block;
$d-none: none;
$d-flex: flex;
