@import '../styles/Core/config';
.upload_main {
  border-radius: 6px;
  margin-bottom: 26px;
  border: 1px solid #d2d7e5;
  .head_container {
    min-height: 80px;
    cursor: pointer;
    padding: 0 35px !important;
    border-bottom: 2px solid #cad6e6;
    .heading {
      font-size: 22px;
      font-weight: bold;
      color: #3687e8;
      line-height: 27px;
      margin: 0;
      @include respond(md-desktop) {
        font-size: 20px;
      }
      @include respond(sm-desktop) {
        font-size: 18px;
      }
      @include respond(phone) {
        font-size: 15px;
      }
    }
    span {
      font-size: 45px;
      color: #3687e8;
      font-weight: normal;
      line-height: 20px;
      margin-top: -7px;
      @include respond(md-desktop) {
        font-size: 42px;
      }
      @include respond(sm-desktop) {
        font-size: 35px;
      }
      @include respond(phone) {
        font-size: 30px;
      }
    }
  }
  .dashboard_form {
    padding: 40px 35px 40px 35px;
    @include respond(phone) {
      padding: 25px 20px 20px;
    }
    .drop_container {
      background-color: #c3c3c31f;
      border: 1px dashed #00000045;
      border-radius: 4px;
      height: 284px;
      line-height: 1;
      .upload_image {
        width: 83px;
        height: 83px;
        line-height: 83px;
      }
      .drop_para {
        font-size: 19px;
        line-height: 24px;
        font-weight: 500;
        margin-top: 1rem;
        @include respond(md-desktop) {
          font-size: 17px;
        }
        @include respond(sm-desktop) {
          font-size: 15px;
        }
        @include respond(phone) {
          font-size: 12px;
        }
        a {
          text-decoration: underline;
          font-size: 19px;
          color: #3687e8;
          cursor: pointer;
          @include respond(md-desktop) {
            font-size: 17px;
          }
          @include respond(sm-desktop) {
            font-size: 15px;
          }
          @include respond(phone) {
            font-size: 12px;
          }
        }
      }
    }
    .upload_button {
      border: 3px solid #3687e8;
      border-radius: 5px;
      text-align: center;
      font-size: 20px;
      line-height: 25px;
      color: #3687e8;
      font-weight: bold;
      text-transform: capitalize;
      width: 220px;
      height: 46px;
      @include respond(md-desktop) {
        font-size: 18px;
      }
      @include respond(sm-desktop) {
        font-size: 16px;
      }
      @include respond(phone) {
        font-size: $font_size_mobile_input_label;
        width: 100%;
      }
    }
    .form_group {
      position: relative;
      margin-bottom: 40px;
      margin-top: 21px;
      .label {
        font-size: 16px;
        line-height: 17px;
        letter-spacing: 0.53px;
        position: absolute;
        left: 15px;
        top: -8px;
        margin-bottom: 0;
        z-index: 1;
        max-width: 77%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
          top: 51%;
          left: 0;
          width: 100%;
          height: 3px;
          content: '';
          z-index: -1;
          position: absolute;
          transform: translateY(-50%);
        }
        @include respond(phone) {
          font-size: $font_size_mobile_text;
          margin-top: 5px !important;
        }
        @include respond(sm-desktop) {
          margin-top: 5px !important;
          font-size: $font_size_mobile_input_label;
        }
      }
      .value {
        font-size: 20px;
        letter-spacing: 0.19px;
        text-transform: capitalize;
        // border: 1px solid #0000001f;
        border-radius: 4px;
        height: 60px;
        box-shadow: none;
        @include respond(md-desktop) {
          font-size: 18px;
        }
        @include respond(sm-desktop) {
          font-size: 16px;
          height: 55px;
        }
        @include respond(phone) {
          font-size: 14px;
          height: 45px;
          border-radius: 2px;
        }
      }
    }
    .uploadBtnWrapper {
      overflow: hidden;
      position: relative;
      display: inline-block;
      input {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
        position: absolute;
      }
      @include respond(phone) {
        width: 100%;
      }
    }
  }
  .search_container {
    //background: #F0F0F0;
    height: 62px;
    padding-right: 1.5rem !important;
    background: #f0f0f0;
    .dropDown {
      //background: #FFFFFF;
      // border: 1px solid #0000001f;
      border-radius: 4px;
      color: #3687e8;
      font-size: 16px;
      line-height: 19px;
      font-weight: bold;
      width: fit-content;
      padding: 0 30px 0 20px;
      height: 40px;
      box-shadow: none;
    }
    .searchBarContainer {
      position: relative;
      .searchBar {
        width: 337px;
        height: 40px;
        padding-left: 3.5rem;
        //background: #ffffff;
        border: 2px solid #d2d7e5;
        border-radius: 1.1rem;
        box-shadow: none;
      }
      .searchImage {
        position: absolute;
        margin-left: 30px;
      }
    }
  }
  .table_container {
    background-color: #fafafb;
    .table_scroll_outer {
      width: 100%;
      display: table;
      table-layout: fixed;
      .table_scroll_inner {
        display: table-cell;
        overflow-x: auto;
        .table {
          margin-bottom: 0px;
          th {
            font-size: 15px;
            color: #8492a6;
            font-weight: bold;
            line-height: 18px;
            padding: 20px 15px;
            vertical-align: middle;
            background: #fafafb;
            text-transform: uppercase;
            border-top: 2px solid #f2f5f9;
            border-bottom: 2px solid #f2f5f9;
            white-space: nowrap;
            &:first-child {
              padding-left: 35px;
              @include respond(md-desktop) {
                padding-left: 15px;
              }
            }
            img {
              &.sort_image {
                width: 14px;
                height: 14px;
              }
              &.searchImg {
                width: 48px;
                height: 48px;
                @include respond(sm-desktop) {
                  width: 38px;
                  height: 38px;
                }
                @include respond(phone) {
                  width: 30px;
                  height: 30px;
                }
              }
            }
            @include respond(md-desktop) {
              font-size: 14px;
              line-height: 1.2;
            }
            @include respond(sm-desktop) {
              font-size: 13px;
            }
            @include respond(phone) {
              font-size: 12px;
            }
          }
          tr {
            &:last-child {
              border-bottom: none;
            }
            td {
              font-size: 19px;
              font-weight: 500;
              line-height: 24px;
              padding: 24px 15px;
              border-top: none;
              vertical-align: middle;
              border-bottom: 2px solid #f2f5f9;
              white-space: nowrap;
              &:first-child {
                padding-left: 35px;
                @include respond(md-desktop) {
                  padding-left: 15px;
                }
              }
              @include respond(md-desktop) {
                font-size: 17px;
                padding: 18px 10px;
              }
              @include respond(sm-desktop) {
                font-size: 15px;
                padding: 15px 10px;
              }
              @include respond(phone) {
                font-size: 14px;
                padding: 10px;
              }
              .actionContainer {
                @include respond(phone) {
                  display: flex;
                }
                @include respond(sm-desktop) {
                  display: flex;
                }
              }
            }
          }
          .module {
            background: #8492a6;
            font-size: 15px;
            line-height: 18px;
            font-weight: bold;
            color: #ffffff;
            text-transform: uppercase;
            padding: 0 35px;
            height: 38px;
            border-radius: 0;
            @include respond(md-desktop) {
              font-size: 15px;
            }
            @include respond(sm-desktop) {
              font-size: 13px;
            }
            @include respond(phone) {
              font-size: 11px;
            }
          }
          .doc_name {
            font-weight: bold;
            line-height: 25px;
            font-size: 20px;
            text-transform: capitalize;
            padding-left: 35px;
            @include respond(md-desktop) {
              font-size: 18px;
            }
            @include respond(sm-desktop) {
              font-size: 16px;
            }
            @include respond(phone) {
              font-size: 14px;
            }
          }
          .doc_row {
            font-size: 19px;
            line-height: 24px;
            // opacity: 0.7;
            font-weight: 500;
            @include respond(md-desktop) {
              font-size: 17px;
            }
            @include respond(sm-desktop) {
              font-size: 15px;
            }
            @include respond(phone) {
              font-size: 12px;
            }
          }
          .status {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            @include respond(sm-desktop) {
              width: 12px;
              height: 12px;
            }
            @include respond(phone) {
              width: 10px;
              height: 10px;
            }
          }
          .approved {
            background: #26dd73;
          }
          .rejected {
            background: #ff9d00;
          }
        }
      }
    }
  }
}
.pdfImage {
  width: 57px;
  height: 25px;
  @include respond(sm-desktop) {
    width: 50px;
    height: 22px;
  }
  @include respond(phone) {
    width: 35px;
    height: 15px;
  }
}
.edit_image {
  background: #c3c3c31f;
  border: 1px solid #0000001f;
  border-radius: 4px;
  padding: 10px 9px 10px 9px;
  @include respond(md-desktop) {
    height: 30px;
    padding: 7px;
  }
  @include respond(sm-desktop) {
    height: 28px;
    padding: 6px;
  }
  @include respond(phone) {
    height: 25px;
    padding: 5px;
  }
}
.delete_image {
  background: #c3c3c31f;
  border: 1px solid #0000001f;
  border-radius: 4px;
  padding: 6px 8px;
  @include respond(md-desktop) {
    height: 30px;
  }
  @include respond(sm-desktop) {
    height: 28px;
  }
  @include respond(phone) {
    height: 25px;
  }
}
.drive_image {
  @include respond(md-desktop) {
    height: 30px;
  }
  @include respond(sm-desktop) {
    height: 28px;
  }
  @include respond(phone) {
    height: 25px;
  }
}
.arrow {
  margin-left: -40px;
  width: 13px;
  pointer-events: none;
  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}
img {
  &.arrow2 {
    width: 13px !important;
    margin-left: -25px;
    // position: absolute;
    pointer-events: none;
    filter: invert(59%) sepia(99%) saturate(4810%) hue-rotate(199deg)
      brightness(103%) contrast(82%);
    input[type='date']::-webkit-inner-spin-button,
    input[type='date']::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }
}
.certificate {
  max-width: 100%;
  font-size: 20px;
  letter-spacing: 0.19px;
  //color: #111111;
  background-color: #C3C3C31F;
  border-radius: 4px;
  padding: 8px;
  // width: 300px;
  margin: 7px 0;
  span {
    max-width: 95%; 
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
  }
  img {
    width: auto !important;
    height: auto !important;
  }
}
.customSelect {
  appearance: none;
  // position: relative;
}
