@import "../styles/Core/config";
.main {
    // position: fixed;
    // bottom: 42px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px !important;
    padding: 0rem 2rem 0rem 2rem;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10rem;
    @include respond(md-desktop) {
        width: 100%;
    }
    @include respond(sm-desktop) {
        width: 100%;
    }
    @include respond(phone) {
        width: 100%;
        bottom: 55px;
        align-items: center !important;
    }
    .submit {
        cursor: pointer;
        width: 260px;
        height: 48px;
        background: #3687E8 0% 0% no-repeat padding-box;
        border-radius: 5px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        margin: 10px 5px !important;
    }
}