@import "../../../src/components/styles/Core/config";
.container_inner {
    margin: 28px;
    min-height: 74vh;
    margin-bottom: 68px;
    @include respond(lg-desktop) {
        margin: 20px;
        margin-bottom: 60px;
    }
    @include respond(sm-desktop) {
      margin: 18px;
      margin-bottom: 58px;
      display: block !important;
    }
    @include respond(phone) {
      margin: 15px;
      min-height: auto;
      margin-bottom: 71px;
    }
    .filter {
        min-height: 48px;
        margin: 0 0 27px 0;
        @include respond(lg-desktop) {
            min-height: 40px;
            margin-bottom: 20px;
        }
        @include respond(sm-desktop) {
          font-size: 26px;
        }
        @include respond(phone) {
          font-size: 24px;
        }
      }
    
      .search {
        width: 492px;
        position: relative;
        // @include respond(md-desktop) {
        //     width: 50%;
        // }
        @include respond(lg-desktop) {
            width: 400px;
        }
        @include respond(sm-desktop) {
            width: 100%;
            margin-bottom: 15px;
        }
        .inputGroupPrepend {
            top: 50%;
            left: 31px;
            z-index: 1;
            position: absolute;
            transform: translateY(-50%);
            @include respond(lg-desktop) {
                left: 28px;
            }
            @include respond(md-desktop) {
                left: 25px;
            }
            @include respond(sm-desktop) {
                left: 20px;
            }
            img {
                @include respond(lg-desktop) {
                    height: 20px;
                }
                @include respond(md-desktop) {
                    height: 18px;
                }
                @include respond(sm-desktop) {
                    height: 16px;
                }
            }
        }
        .formControl {
            font-size: 18px !important;
            font-weight: 500 !important;
            line-height: 23px !important;
            height: 48px !important;
            z-index: 0 !important;
            position: relative !important;
            box-shadow: none !important;
            padding-left: 65px !important;
            border-radius: 24px !important;
            // border: 2px solid #d2d7e5 !important;
            @include respond(lg-desktop) {
                font-size: 16px !important;
                line-height: 1.3 !important;
                height: 40px !important;
                padding-left: 55px !important;
            }
            @include respond(md-desktop) {
                font-size: 15px !important;
                padding-left: 50px !important;
            }
            @include respond(sm-desktop) {
                font-size: 14px !important;
                padding-left: 45px !important;
            }
        }
        .searchResults {
            width: 100%;
            top: 65px;
            z-index: 1;
            padding: 10px 30px;
            position: absolute;
            border-radius: 24px;
            background: #ffffff;
            border: 2px solid #d2d7e5;
            @include respond(lg-desktop) {
                top: 55px;
                padding: 7px 20px;
                border-radius: 20px;
            }
            @include respond(md-desktop) {
                padding: 7px 15px;
            }
            &::after {
                top: -15px;
                left: 40px;
                content: "";
                position: absolute;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 15px solid #d2d7e5;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    font-size: 18px;
                    color: #3687e8;
                    font-weight: bold;
                    line-height: 1.5;
                    padding: 7px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 2px solid #d2d7e5;
                    @include respond(lg-desktop) {
                        font-size: 16px;
                        line-height: 1.3;
                    }
                    @include respond(md-desktop) {
                        font-size: 15px;
                    }
                    @include respond(sm-desktop) {
                        font-size: 14px;
                    }
                    span {
                        font-size: 15px;
                        font-weight: 500;
                        color: #8492a6;
                        margin-left: 10px;
                    }
                    @include respond(lg-desktop) {
                        font-size: 14px;
                    }
                    @include respond(md-desktop) {
                        font-size: 13px;
                    }
                    @include respond(sm-desktop) {
                        font-size: 12px;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .filterList {
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      padding: 9px 12px;
      border-radius: 8px;
      margin: 0 10px 0 5px;
      letter-spacing: 0.17px;
      display: inline-block;
      text-transform: capitalize;
      img {
        width: 10px;
        margin-left: 12px;
        display: inline-block;
      }
    }
    .createBtn {
      font-size: 20px;
      color: #ffffff;
      font-weight: bold;
      line-height: 25px;
      width: 188px;
      height: 48px;
      padding: 12px 0;
      box-shadow: none;
      text-align: center;
      border: none;
      border-radius: 5px;
      background: #3687e8;
      //display: inline-block;
      text-transform: capitalize;
    }
.datatable {
    border-radius: 6px;
    border: 1px solid #D2D7E5;
    //box-shadow: 0 3px 6px #CAD0E2;
    margin-bottom: 25px;
    .tableFilter {
        padding: 0 15px 0 35px;
        h3 {
            font-size: 22px;
            font-weight: bold;
            line-height: 27px;
            margin: 24px 0;
            text-transform: capitalize;
        }
        .pageList {
            span {
                font-size: 18px;
                color: #718096;
                font-weight: 500;
                line-height: 23px;
                margin-right: 38px;
            }
            .arrow {
                width: 50px;
                height: 50px;
                margin-left: 10px;
                line-height: 45px;
                text-align: center;
                border-radius: 8px;
                display: inline-block;
            }
            .rightArrow {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .table {
        .table_heading {
            font-size: 15px;
            font-weight: bold;
            line-height: 18px;
            padding: 24px 15px;
            text-transform: uppercase;
            border-top: 2px solid #F2F5F9;
            border-bottom: 2px solid #F2F5F9;
            &:first-child {
                padding-left: 35px;
            }
        }
        td {
            font-size: 19px;
            font-weight: 500;
            line-height: 24px;
            padding: 24px 15px;
            border-top: none;
            //border-bottom: 2px solid #F2F5F9;
            &:first-child {
                padding-left: 35px;
            }
        }
        .buyerName {
            color: #3687E8;
            font-weight: bold;
            text-transform: capitalize;
        }
        
    }
}
}
.btn_file{
        cursor: pointer;
        padding: 10px 30px 10px 30px;
        border: 3px solid #3687E8;
        border-radius: 5px;
        color: #3687E8;
        display: flex;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        align-items: center;
        justify-content: center;
        img{
            margin-left: 0.5rem;
        }
}
