@import '../../../src/components/styles/Core/config';
.card {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  margin: 28px;
  margin-bottom: 68px;
  @include respond(sm-desktop) {
    margin: 20px;
    margin-bottom: 60px;
  }
  @include respond(phone) {
    margin: 15px;
    margin-bottom: 71px;
  }
  .head_container {
    height: 48px;
    display: flex;
    border: none;
    background: none;
    flex-direction: row;
    justify-content: space-between;
  
    @include respond(lg-desktop) {
        height: 40px;
        margin-bottom: 20px;
    }
    @include respond(phone) {
      align-items: center;
      padding: 0.75rem 0rem;
    }
    .head_header {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      .arrow {
        width: 13px;
        height: 21px;
        cursor: pointer;
        background: transparent;
        @include respond(lg-desktop) {
          width: 10px;
          height: auto;
        }
      }
      .heading {
        font-size: 34px;
        font-weight: bold;
        line-height: 41px;
        margin: 0;
        padding-left: 18px;
        text-transform: lowercase;
        &:first-letter {
            text-transform: uppercase;
        }
        &:first-line {
            text-transform: capitalize;
        }
        @include respond(lg-desktop) {
          font-size: 24px;
          line-height: 1.4;
          padding-left: 10px;
        }
        @include respond(sm-desktop) {
          font-size: 20px;
        }
        @include respond(phone) {
          font-size: 18px;
        }
      }
    }
    .lastModified {
      font-size: 14px;
      color: rgba(40, 55, 86, 0.6);
      font-weight: normal;
      line-height: 16px;
      margin-top: 7px;
      @include respond(lg-desktop) {
          font-size: 12px;
          line-height: 1.2;
      }
      span {
          color: #283756;
          font-weight: bold;
          line-height: 17px;
          @include respond(lg-desktop) {
              line-height: 1.2;
          }
      }
    }
    .clear_btn {
      border: 3px solid #3687e8;
      border-radius: 5px;
      width: 190px;
      height: 48px;
      text-align: center;
      background: none;
      font-size: 20px;
      line-height: 25px;
      font-weight: bold;
      color: #3687e8;
      @include respond(phone) {
        font-size: $font_size_mobile_button;
      }
    }
  }
}
