@import '../../src/components/styles/Core/config';
.container_inner {
  margin: 28px;
  margin-bottom: 68px;
  @include respond(sm-desktop) {
    margin: 20px;
    margin-bottom: 60px;
  }
  @include respond(phone) {
    margin: 15px;
    margin-bottom: 71px;
  }
}

.filter {
  min-height: 48px;
  margin: 0 0 27px 10px;
  @include respond(sm-desktop) {
    display: block !important;
  }

  .head_header {
    display: flex;
    margin: 0 20px 0 0;

    .arrow {
      width: 13px;
      height: 21px;
      background: transparent;
    }
    .heading {
      font-size: 34px;
      font-weight: bold;
      line-height: 41px;
      margin: 0;
      padding-left: 18px;
      text-transform: capitalize;
      @include respond(md-desktop) {
        font-size: 28px;
      }
      @include respond(sm-desktop) {
        font-size: 25px;
      }
      @include respond(phone) {
        font-size: 22px;
      }
    }
  }
  .search {
    width: 492px;
    position: relative;
    // @include respond(md-desktop) {
    // width: 50%;
    // }
    @include respond(sm-desktop) {
      width: 100%;
      margin-bottom: 15px;
    }
    .inputGroupPrepend {
      top: 50%;
      left: 31px;
      z-index: 1;
      position: absolute;
      transform: translateY(-50%);
      @include respond(md-desktop) {
        left: 28px;
      }
      @include respond(sm-desktop) {
        left: 25px;
      }
      img {
        @include respond(md-desktop) {
          height: 20px;
        }
        @include respond(sm-desktop) {
          height: 18px;
        }
      }
    }
    .formControl {
      font-size: 18px !important;
      font-weight: 500 !important;
      line-height: 23px !important;
      height: 48px !important;
      z-index: 0 !important;
      position: relative !important;
      box-shadow: none !important;
      padding-left: 65px !important;
      border-radius: 24px !important;
      border: 2px solid #d2d7e5 !important;
      @include respond(md-desktop) {
        font-size: 16px !important;
        line-height: 1.3 !important;
        padding-left: 55px !important;
        height: 44px !important;
      }
      @include respond(sm-desktop) {
        font-size: 14px !important;
        padding-left: 50px !important;
      }
    }
    .searchResults {
      width: 100%;
      top: 65px;
      padding: 10px 30px;
      position: absolute;
      border-radius: 24px;
      background: #ffffff;
      border: 2px solid #d2d7e5;
      @include respond(md-desktop) {
        padding: 8px 20px;
      }
      @include respond(sm-desktop) {
      }
      &::after {
        top: -15px;
        left: 40px;
        content: '';
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 15px solid #d2d7e5;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          font-size: 18px;
          color: #3687e8;
          font-weight: bold;
          line-height: 1.5;
          padding: 7px 0;
          border-bottom: 2px solid #d2d7e5;
          @include respond(md-desktop) {
            font-size: 16px;
          }
          @include respond(sm-desktop) {
            font-size: 14px;
          }
          span {
            font-size: 15px;
            font-weight: 500;
            color: #8492a6;
            float: right;
          }
          @include respond(md-desktop) {
            font-size: 14px;
          }
          @include respond(sm-desktop) {
            font-size: 12px;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
  .filterIcon {
    width: 48px;
    height: 48px;
    margin: 0 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    border: 3px solid #3687e8;
    @include respond(md-desktop) {
      width: 44px;
      height: 44px;
      line-height: 40px;
    }
    @include respond(sm-desktop) {
      width: 40px;
      height: 40px;
      margin-left: 0;
      line-height: 36px;
    }
    img {
      @include respond(md-desktop) {
        height: 18px;
      }
    }
  }
  .filterList {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding: 9px 12px;
    border-radius: 8px;
    margin: 0 10px 0 5px;
    letter-spacing: 0.17px;
    display: inline-block;
    text-transform: capitalize;
    white-space: nowrap;
    @include respond(md-desktop) {
      font-size: 16px;
      padding: 8px 10px;
    }
    @include respond(sm-desktop) {
      font-size: 14px;
      padding: 6px 10px 7px;
    }
    img {
      width: 10px;
      margin-left: 12px;
      display: inline-block;
    }
  }
  .btnPrimary {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
    width: 188px;
    height: 48px;
    padding: 12px 0;
    box-shadow: none;
    text-align: center;
    border-radius: 5px;
    background: #3687e8;
    display: inline-block;
    text-transform: capitalize;
    @include respond(md-desktop) {
      font-size: 18px;
      height: 44px;
      line-height: 1;
    }
    @include respond(sm-desktop) {
      height: 40px;
      font-size: 16px;
    }
  }
}
.statusBox {
  margin: 0 0 26px;
  border-radius: 8px;
  border: 1px solid #d2d7e5;
  box-shadow: 0 3px 12px #e5e7ed;
  .boxInner {
    width: 20%;
    padding: 21px 24px;
    border-right: 1px solid #d2d7e5;
    &:last-child {
      border-right: none;
    }
    @include respond(md-desktop) {
      padding: 18px;
    }
    @include respond(sm-desktop) {
      padding: 12px;
      text-align: center;
      display: block !important;
    }
    @include respond(phone) {
      padding: 10px;
    }
    h3 {
      font-size: 28px;
      color: #111111;
      font-weight: bold;
      line-height: 34px;
      margin: 0 0 0 18px;
      text-transform: capitalize;
      @include respond(md-desktop) {
        font-size: 25px;
        margin: 0 0 0 15px;
      }
      @include respond(sm-desktop) {
        font-size: 22px;
        margin: 10px 0 0 0;
      }
      @include respond(phone) {
        font-size: 20px;
      }
      span {
        font-size: 15px;
        color: #8492a6;
        font-weight: bold;
        line-height: 18px;
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        @include respond(md-desktop) {
          font-size: 14px;
          line-height: 1.3;
        }
        @include respond(sm-desktop) {
          font-size: 13px;
          margin-bottom: 0;
        }
        @include respond(sm-phone) {
          font-size: 10px;
        }
      }
    }
    .iconBox {
      height: 58px;
      min-width: 58px;
      line-height: 55px;
      text-align: center;
      border-radius: 8px;
      @include respond(md-desktop) {
        height: 50px;
        min-width: 50px;
        line-height: 48px;
        border-radius: 6px;
      }
      @include respond(sm-desktop) {
        height: 40px;
        min-width: auto;
        max-width: 40px;
        line-height: 38px;
        border-radius: 5px;
        margin: 0 auto;
      }
    }
    &.all {
      .iconBox {
        background: rgba(40, 132, 222, 0.2);
      }
    }
    &.approved {
      .iconBox {
        background: rgba(76, 175, 80, 0.2);
      }
    }
    &.review {
      .iconBox {
        background: rgba(255, 157, 0, 0.2);
      }
    }
    &.rejected {
      .iconBox {
        background: rgba(234, 63, 63, 0.2);
      }
    }
    &.saved {
      .iconBox {
        background: rgba(202, 208, 214, 0.2);
      }
    }
  }
}

.datatable {
  border-radius: 6px;
  border: 1px solid #d2d7e5;
  .tableFilter {
    min-height: 80px;
    padding: 0 15px 0 35px;
    @include respond(md-desktop) {
      padding: 0 15px 0 15px;
    }
    h3 {
      font-size: 22px !important;
      font-weight: bold;
      line-height: 27px;
      margin: 0;
      text-transform: capitalize;
      @include respond(sm-desktop) {
        font-size: 18px !important;
        line-height: 1.3;
        margin: 20px 0;
      }
      @include respond(phone) {
        font-size: 16px !important;
        margin: 13px 0;
      }
    }
    .pageList {
      span {
        font-size: 18px;
        color: #718096;
        font-weight: 500;
        line-height: 23px;
        margin-right: 38px;
        @include respond(phone) {
          font-size: 14px;
          line-height: 20px;
          margin-right: 5px;
        }
        @include respond(sm-phone) {
          display: none;
        }
      }
      .arrow {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        line-height: 45px;
        text-align: center;
        border-radius: 8px;
        display: inline-block;
        background: #fafafb;
        @include respond(sm-desktop) {
          width: 40px;
          height: 40px;
          line-height: 35px;
        }
        @include respond(phone) {
          width: 28px;
          height: 28px;
          line-height: 25px;
        }
        img {
          height: 18px;
          @include respond(sm-desktop) {
            height: 14px;
          }
          @include respond(phone) {
            height: 10px;
          }
        }
        &.rightArrow {
          img {
            transform: rotate(180deg);
            @include respond(sm-desktop) {
              height: 14px;
            }
            @include respond(phone) {
              height: 10px;
            }
          }
        }
      }
    }
  }
  .table_scroll_outer {
    width: 100%;
    display: table;
    table-layout: fixed;
    .table_scroll_inner {
      display: table-cell;
      overflow-x: auto;
      .table {
        margin-bottom: 0;
        th {
          font-size: 15px;
          font-weight: bold;
          line-height: 18px;
          padding: 0 10px;
          height: 67px;
          white-space: nowrap;
          vertical-align: middle;
          text-transform: uppercase;
          border-bottom: none !important;
          &:first-child {
            padding-left: 35px;
            @include respond(md-desktop) {
              padding-left: 15px;
            }
          }
          img {
            width: 14px;
            height: 14px;
          }
          @include respond(md-desktop) {
            font-size: 14px;
            line-height: 1.2;
          }
          @include respond(sm-desktop) {
            font-size: 13px;
          }
          @include respond(phone) {
            font-size: 12px;
          }
        }
        tr {
          &:last-child {
            //border-bottom: none;
          }
          td {
            font-size: 19px;
            font-weight: 500;
            line-height: 24px;
            padding: 21px 15px;
            border-top: none;
            white-space: nowrap;
            opacity: 0.7;
            color: #111111;
            &:first-child {
              padding-left: 35px;
              @include respond(md-desktop) {
                padding-left: 15px;
              }
            }
            @include respond(md-desktop) {
              font-size: 17px;
              padding: 18px 10px;
            }
            @include respond(sm-desktop) {
              font-size: 15px;
              padding: 15px 10px;
            }
            @include respond(phone) {
              font-size: 14px;
              padding: 10px;
            }
          }
        }
        .edit_image {
          background: #c3c3c31f;
          border: 1px solid #0000001f;
          border-radius: 4px;
          //opacity: 1 !important;
          padding: 10px 9px 10px 9px;
          @include respond(md-desktop) {
            height: 30px;
            padding: 7px;
          }
          @include respond(sm-desktop) {
            height: 28px;
            padding: 6px;
          }
          @include respond(phone) {
            height: 25px;
            padding: 5px;
          }
        }
        .buyerName {
          color: #3687e8;
          opacity: 1 !important;
          font-weight: bold;
          text-transform: capitalize;
          cursor: pointer;
        }
        .status {
          width: 15px;
          height: 15px;
          margin-right: 10px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
        }
        .approved {
          background: #26dd73;
        }
        .rejected {
          background: #ed714c;
        }
        .review {
          background: #ffce00;
        }
        .closed {
          background: #a1a1a1;
        }
        .open {
          background: #3687e8;
        }
        .expired {
          background: #ea3f3f;
        }
      }
    }
  }
}
