/*-----Dashboard Tab------*/
@import '../../src/components/styles/Core/config';
.dashboardTab {
  .tabHeader {
    padding: 28px 28px 0;
    margin-bottom: 10px;
    .tab_header_inner {
      height: 48px;
      margin: 0 0 27px 10px;
      img {
        width: 13px;
        height: 21px;
      }
      .title {
        font-size: 34px;
        font-weight: bold;
        line-height: 41px;
        margin: 0;
        padding-left: 18px;
        text-transform: capitalize;
        span {
          @include respond(phone) {
            font-size: 13px;
            margin: 0px;
            padding-left: 0px;
          }
        }
      }

      .lastModified {
        font-size: 14px;
        color: rgba(40, 55, 86, 0.6);
        font-weight: normal;
        line-height: 16px;
        margin-top: 7px;
        @include respond(phone) {
          font-size: 11px;
        }
        span {
          @include respond(phone) {
            font-size: 10px;
          }
          color: #283756;
          font-weight: bold;
          line-height: 17px;
        }
      }
    }
    .navTabs {
      border-bottom: none;
      @include respond(phone) {
        display: flex;
        justify-content: space-between;
      }

      .navItem {
        background: transparent;

        .navLink {
          font-size: 22px;
          font-weight: bold;
          line-height: 27px;
          padding: 5px;
          border: none;
          margin: 0 22px;
          border-radius: 0;
          border-bottom: 6px solid transparent;
          @include respond(phone) {
            font-size: 10px;
            margin: 0 10px;
          }
          &.active {
          }
        }
      }
    }
  }

  .mainCard {
    .tabContent {
      margin: 18px 28px 28px;
      margin-bottom: 152px;
      @include respond(sm-desktop) {
        margin: 10px 20px 20px;
        margin-bottom: 144px;
      }
      @include respond(phone) {
        margin: 5px 15px 15px;
        margin-bottom: 121px;
      }
      .card {
        margin-bottom: 1rem;
        // box-shadow: 0 3px 6px #cad0e2;
        .cardHeader {
          height: 80px;
          cursor: pointer;
          border-bottom: none;
          padding: 25px 35px !important;

          h2 {
            font-size: 22px;
            color: #3687e8;
            font-weight: bold;
            line-height: 27px;
          }

          span {
            font-size: 45px;
            color: #3687e8;
            font-weight: normal;
            line-height: 20px;
          }

          .label {
            font-size: 16px;

            font-weight: 500;
            line-height: 17px;
            margin-bottom: 10px;
            letter-spacing: 0.53px;
          }

          .categories {
            margin-right: 1rem;
            width: 80%;

            .label {
              margin-right: 1rem;
              margin-bottom: 0px;
            }

            .status {
              height: 31px;
              background: #ea3f3f42 0% 0% no-repeat padding-box;
              letter-spacing: 0px;

              span {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                width: 100%;
                opacity: 1 !important;
                font-size: 16px;
                font-weight: bold;
                height: 19px;
                color: #ea3f3f;
              }
            }
          }
          .commodity {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .comm_head {
              letter-spacing: 0.53px;
              text-transform: capitalize;
              font-size: 16px;
              line-height: 17px;
              font-weight: 500;
              background: transparent;
              @include respond(phone) {
                font-size: 10px;
              }
            }
            .comm_val {
              text-transform: capitalize;
              font-weight: 500;
              line-height: 25px;
              font-size: 20px;
              @include respond(phone) {
                font-size: 15px;
              }
            }
          }

          .unit_container {
            .unit_label {
              font-size: 18px;
              text-transform: capitalize;
              font-weight: bold;
              margin-top: 10px;
              padding-right: 10px;
              line-height: 23px;
              @include respond(phone) {
                font-size: 10px;
              }
            }

            .options {
              font-size: 18px;
              line-height: 23px;
              color: #3687e8;
              text-transform: capitalize;
              border-radius: 14px;
              border: none;
              font-weight: bold;
              text-align: center;
              padding: 4px 6px 4px 8px;

              @include respond(phone) {
                margin-right: 0px;
              }
            }
            .pay {
              display: flex;
              @include respond(phone) {
                flex-direction: column;
                margin-right: 0px !important;
                font-size: 10px;
              }
              .round {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                /* UI Properties */
                background: #ff9d00 0% 0% no-repeat padding-box;
              }
              span {
                font-size: 20px;
                letter-spacing: 0px;
                color: #111111;
                @include respond(phone) {
                  font-size: 15px;
                }
              }
            }
          }
        }

        .cardBody {
          padding: 0px;
          .content {
            padding: 25px 35px;
            border-top: 2px solid red;
          }
          span {
            text-transform: capitalize;
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
          }
          .input_container {
            margin-top: 20px;
            margin-bottom: 10px;
            padding-bottom: 14px;
            .radio_heading {
              letter-spacing: 0.53px;
              color: #00000080;
              font-size: 16px;
              line-height: 17px;
              font-weight: 500;
            }
            .each_input {
              position: relative;
              margin: 30px 0 20px;

              .alphabet {
                width: 26px;
                height: 26px;
                /* UI Properties */
                background: #f0f8ff 0% 0% no-repeat padding-box;
                border-radius: 6px;
                span {
                  font-size: 16px;
                  font-weight: bold;
                  letter-spacing: 0.53px;
                  color: #3687e8;
                }
              }

              .label_heading {
                top: 27px;
                left: 30px;
                font-size: 16px;
                line-height: 0.5;
                margin-bottom: 0;
                letter-spacing: 0.53px;
                position: absolute;
                pointer-events: none;
                box-sizing: border-box;
                transform: translateY(-31px);
                transition: 0.3s all ease-in-out;
                .blue {
                  color: #3687e8;
                }
              }

              .input_field {
                height: 60px;
                border-radius: 4px;
                font-size: 20px;
                font-weight: 500;
                outline: none;
                box-shadow: none;
                position: relative;
                box-sizing: border-box;

                &:invalid + label {
                  transform: translateY(0);
                }

                &:focus {
                  & + label {
                    transform: translateY(-31px);
                  }
                }
              }

              .phone_card {
                display: flex;

                .code_phone {
                  font-size: 19px;
                  letter-spacing: 0.18px;
                  color: #3687e8;
                  text-transform: capitalize;
                  outline: none;
                  border-radius: 4px 0 0 4px;
                }
              }

              .range_field {
                background-color: #3687e8;
                border-radius: 4px;
              }
            }
            .radio_form {
              padding-top: 20px;

              .radio_group {
                display: flex;

                .radio {
                  font-size: 20px;
                  color: #111111;
                  letter-spacing: 0.19px;
                  padding-right: 25px;
                }
              }
            }
            .phone {
              .label_heading {
                left: 90px;
                transform: translate(-61px, -31px);
              }

              .input_field {
                &:focus {
                  & + label {
                    transform: translate(-61px, -31px);
                  }
                }
              }
            }
          }
        }

        .noBorderTable {
          padding: 0 0 20px;

          .table {
            th {
              font-size: 15px;
              color: #3687e8;
              font-weight: bold;
              line-height: 18px;
              border: none;
              padding: 25px 35px;
            }

            td {
              font-size: 19px;

              font-weight: normal;
              border: none;
              line-height: 23px;
              padding: 15px 35px;
            }

            h3 {
              font-size: 22px;

              font-weight: bold;
              line-height: 27px;
              margin-bottom: 0;
            }
          }
        }

        .borderTable {
          padding: 35px;
          box-sizing: border-box;

          .table {
            th {
              font-size: 15px;
              color: #8492a6;
              font-weight: bold;
              line-height: 18px;
              padding: 13px 30px;
              background: #fafafb;
              vertical-align: middle;
              text-transform: uppercase;
              border: 3px solid #f0f2f6;
            }

            td {
              font-size: 19px;
              color: rgba(17, 17, 17, 0.7);
              font-weight: 500;
              line-height: 24px;
              padding: 15px 30px;
              vertical-align: middle;
              border: 3px solid #f0f2f6;

              &.stable {
                line-height: 19px;

                span {
                  font-size: 16px;
                  color: #ff9d00;
                  display: block;
                }
              }

              &.negative {
                line-height: 19px;

                span {
                  font-size: 16px;
                  color: #ea3f3f;
                  display: block;
                }
              }

              &.positive {
                line-height: 19px;

                span {
                  font-size: 16px;
                  color: #43c34d;
                  display: block;
                }
              }
            }
          }
        }

        .graphTable {
          padding: 25px 35px;
          box-sizing: border-box;

          h3 {
            font-size: 20px;

            font-weight: bold;
            line-height: 25px;
            margin-bottom: 15px;
          }

          .table {
            th {
              font-size: 15px;
              color: #8492a6;
              font-weight: bold;
              line-height: 18px;
              padding: 13px 30px;

              vertical-align: middle;
              text-transform: uppercase;
              border: 3px solid #f0f2f6;
            }

            td {
              font-size: 19px;
              color: rgba(17, 17, 17, 0.7);
              font-weight: 500;
              line-height: 24px;
              padding: 15px 30px;

              vertical-align: middle;
              border: 3px solid #f0f2f6;

              &.name {
                color: #111111;
              }

              span {
                width: 17px;
                height: 17px;
                border-radius: 4px;
                display: inline-block;
              }

              &.green {
                span {
                  background: #4caf50;
                }
              }

              &.blue {
                span {
                  background: #2884de;
                }
              }

              &.yellow {
                span {
                  background: #ffce00;
                }
              }
            }
          }
        }

        .directorDetails {
          .card {
            margin-bottom: 1rem;
            border-radius: 6px !important;

            // border: 1px solid #D2D7E5;
            // box-shadow: 0 3px 6px #CAD0E2;
            .cardHeader {
              height: 80px;
              cursor: pointer;
              border-bottom: none;
              padding: 25px 35px !important;

              h2 {
                font-size: 22px;
                color: #3687e8;
                font-weight: bold;
                line-height: 27px;
              }

              span {
                font-size: 45px;
                color: #3687e8;
                font-weight: normal;
                line-height: 20px;
              }

              .label {
                font-size: 16px;

                font-weight: 500;
                line-height: 17px;
                margin-bottom: 10px;
                letter-spacing: 0.53px;
              }

              .categories {
                margin-right: 1rem;
                width: 30%;

                .label {
                  margin-right: 1rem;
                  margin-bottom: 0px;
                }

                .status {
                  height: 31px;
                  background: #ea3f3f42 0% 0% no-repeat padding-box;
                  letter-spacing: 0px;

                  span {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    width: 100%;
                    opacity: 1 !important;
                    font-size: 16px;
                    font-weight: bold;
                    height: 19px;
                    color: #ea3f3f;
                  }
                }
              }
            }

            &.collapsed {
              border-radius: 8px !important;

              .downArrow {
                right: 46px;
                margin-top: -8px;
                transform: rotate(-90deg);
              }
            }
          }

          .detailsBox {
            font-size: 20px;

            font-weight: 500;
            line-height: 25px;

            &.warning {
              color: #ea3f3f !important;
            }

            &.success {
              color: #43c34d !important;
            }

            label {
              font-size: 16px;

              font-weight: 500;
              line-height: 17px;
              display: block;
              letter-spacing: 0.53px;
            }
          }

          .cardBody {
            padding: 17px 25px;
            // border: 2px solid #e6eaf0;
            // border-left: 9px solid #c4d7ef;
          }
        }
      }

      .cardBody_compliance {
        overflow-y: auto;
        height: 300px;
        padding-left: 42px !important;
        border-top: 2px solid red !important;

        .row {
          min-height: 60px;
          border-bottom: 2px solid rgba(217, 217, 217, 0.316);

          .col {
            span {
              font-size: 16px;
              line-height: 18px;
              font-weight: bold;
              margin-top: 0.5rem;
            }

            .val {
              flex-grow: 1;
              flex-wrap: wrap;
            }
          }
        }

        // .card_compliance_wrapper {
        //   // height: 70px;
        // }
      }

      .cardBody_litigations {
        padding-left: 35px;

        // .checkbox_Container {
        // }
        .risk_Container {
          .risk {
            width: 25%;
            height: 114px;
            background: #e3f0ff 0% 0% no-repeat padding-box;
            border-radius: 5px;
            padding: 0.5rem;

            .risk_icon {
              width: 78px;
              height: 78px;
              border-radius: 100%;
              background: #3687e8 0% 0% no-repeat padding-box;
            }

            div {
              width: 50%;

              div {
                width: 100%;
                font-weight: bold;
                font-size: 20px;
              }

              span {
                font-size: 16px;

                letter-spacing: 0.53px;
                color: #00000080;
              }
            }
          }
        }
      }

      .cardBody_details {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}
