@import '../../src/components/styles/Core/config';
.container_inner {
  margin: 28px;
  margin-bottom: 68px;
  @include respond(lg-desktop) {
      margin: 20px;
      margin-bottom: 60px;
  }
  @include respond(sm-desktop) {
      margin: 18px;
      margin-bottom: 58px;
  }
  @include respond(phone) {
      margin: 15px;
      margin-bottom: 71px;
  }
}

.filter {
  margin: 15px 0 22px;
  @include respond(lg-desktop) {
      margin-bottom: 20px;
  }
  @include respond(sm-desktop) {
    display: block !important;
  }

  .head_header {
    display: flex;
    margin: 0 20px 0px 10px;

    .arrow {
      width: 13px;
      height: 21px;
      cursor: pointer;
      background: transparent;
      @include respond(lg-desktop) {
        width: 10px;
        height: auto;
      }
    }
    .heading {
      font-size: 34px;
      font-weight: bold;
      line-height: 41px;
      margin: 0;
      padding-left: 18px;
      text-transform: lowercase;
      &:first-letter {
          text-transform: uppercase;
      }
      &:first-line {
          text-transform: capitalize;
      }
      @include respond(lg-desktop) {
        font-size: 24px;
        line-height: 1.4;
        padding-left: 10px;
      }
      @include respond(sm-desktop) {
        font-size: 20px;
      }
      @include respond(phone) {
        font-size: 18px;
      }
    }
  }
  .search {
      width: 492px;
      position: relative;
      // @include respond(md-desktop) {
      //     width: 50%;
      // }
      @include respond(lg-desktop) {
          width: 400px;
      }
      @include respond(sm-desktop) {
          width: 100%;
          margin-bottom: 15px;
      }
      .inputGroupPrepend {
          top: 50%;
          left: 31px;
          z-index: 1;
          position: absolute;
          transform: translateY(-50%);
          @include respond(lg-desktop) {
              left: 28px;
          }
          @include respond(md-desktop) {
              left: 25px;
          }
          @include respond(sm-desktop) {
              left: 20px;
          }
          img {
              @include respond(lg-desktop) {
                  height: 20px;
              }
              @include respond(md-desktop) {
                  height: 18px;
              }
              @include respond(sm-desktop) {
                  height: 16px;
              }
          }
      }
      .formControl {
          font-size: 18px !important;
          font-weight: 500 !important;
          line-height: 23px !important;
          height: 48px !important;
          z-index: 0 !important;
          position: relative !important;
          box-shadow: none !important;
          padding-left: 65px !important;
          border-radius: 24px !important;
          // border: 2px solid #d2d7e5 !important;
          @include respond(lg-desktop) {
              font-size: 16px !important;
              line-height: 1.3 !important;
              height: 40px !important;
              padding-left: 55px !important;
          }
          @include respond(md-desktop) {
              font-size: 15px !important;
              padding-left: 50px !important;
          }
          @include respond(sm-desktop) {
              font-size: 14px !important;
              padding-left: 45px !important;
          }
      }
      .searchResults {
          width: 100%;
          top: 65px;
          z-index: 1;
          padding: 10px 30px;
          position: absolute;
          border-radius: 24px;
          background: #ffffff;
          border: 2px solid #d2d7e5;
          @include respond(lg-desktop) {
              top: 55px;
              padding: 7px 20px;
              border-radius: 20px;
          }
          @include respond(md-desktop) {
              padding: 7px 15px;
          }
          &::after {
              top: -15px;
              left: 40px;
              content: "";
              position: absolute;
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              border-bottom: 15px solid #d2d7e5;
          }
          ul {
              margin: 0;
              padding: 0;
              list-style: none;
              li {
                  font-size: 18px;
                  color: #3687e8;
                  font-weight: bold;
                  line-height: 1.5;
                  padding: 7px 0;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  border-bottom: 2px solid #d2d7e5;
                  @include respond(lg-desktop) {
                      font-size: 16px;
                      line-height: 1.3;
                  }
                  @include respond(md-desktop) {
                      font-size: 15px;
                  }
                  @include respond(sm-desktop) {
                      font-size: 14px;
                  }
                  span {
                      font-size: 15px;
                      font-weight: 500;
                      color: #8492a6;
                      margin-left: 10px;
                  }
                  @include respond(lg-desktop) {
                      font-size: 14px;
                  }
                  @include respond(md-desktop) {
                      font-size: 13px;
                  }
                  @include respond(sm-desktop) {
                      font-size: 12px;
                  }
                  &:last-child {
                      border-bottom: none;
                  }
              }
          }
      }
  }
  .filterIcon {
    width: 48px;
    height: 48px;
    margin: 0 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    border: 3px solid #3687e8;
    @include respond(md-desktop) {
        width: 44px;
        height: 44px;
        line-height: 40px;
    }
    @include respond(sm-desktop) {
        width: 40px;
        height: 40px;
        margin-left: 0;
        line-height: 36px;
    }
    img {
        @include respond(md-desktop) {
            height: 18px;
        }
    }
  }
  .filterList {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding: 9px 12px;
    border-radius: 8px;
    margin: 0 10px 0 5px;
    letter-spacing: 0.17px;
    display: inline-block;
    text-transform: capitalize;
    white-space: nowrap;
    @include respond(md-desktop) {
        font-size: 16px;
        padding: 8px 10px;
    }
    @include respond(sm-desktop) {
        font-size: 14px;
        padding: 6px 10px 7px;
    }
    img {
        width: 10px;
        margin-left: 12px;
        display: inline-block;
    }
  }
  .createBtn {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
    width: 188px;
    height: 48px;
    padding: 12px 0;
    box-shadow: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: #3687e8;
    //display: inline-block;
    text-transform: capitalize;
    @include respond(lg-desktop) {
        font-size: 18px;
        width: 160px;
        height: 40px;
        line-height: 0.9;
    }
    @include respond(md-desktop) {
        font-size: 16px;
    }
    @include respond(sm-desktop) {
        font-size: 15px;
    }
  }
}
.datatable {
  border-radius: 6px;
  border: 1px solid #d2d7e5;
  .tableFilter {
    padding: 0 15px 0 35px;
    @include respond(md-desktop) {
      padding: 0 15px 0 15px;
    }
    h5 {
      font-size: 22px !important;
      font-weight: bold;
      line-height: 27px;
      margin: 24px 0;
      color: #3687e8;
      text-transform: capitalize;
      @include respond(sm-desktop) {
        font-size: 18px !important;
        line-height: 1.3;
        margin: 20px 0;
      }
      @include respond(phone) {
        font-size: 16px !important;
        margin: 13px 0;
      }
    }
    .pageList {
      .showPage {
        text-align: right;
        color: #718096;
        font-size: 18px;
        line-height: 23px;
        font-weight: 500;
        white-space: nowrap;
        margin-right: 20px;
        @include respond(sm-desktop) {
          font-size: 16px;
        }
        @include respond(phone) {
          font-size: 14px;
        }
      }
      .arrow {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        line-height: 45px;
        text-align: center;
        border-radius: 8px;
        display: inline-block;
        background: #fafafb;
        @include respond(sm-desktop) {
          width: 40px;
          height: 40px;
          line-height: 35px;
        }
        @include respond(phone) {
          width: 28px;
          height: 28px;
          line-height: 25px;
        }
        img {
          height: 18px;
          @include respond(sm-desktop) {
            height: 14px;
          }
          @include respond(phone) {
            height: 10px;
          }
        }
        &.rightArrow {
          img {
            transform: rotate(180deg);
            @include respond(sm-desktop) {
              height: 14px;
            }
            @include respond(phone) {
              height: 10px;
            }
          }
        }
      }
    }
  }
  .table_scroll_outer {
    width: 100%;
    display: table;
    table-layout: fixed;
    .table_scroll_inner {
      display: table-cell;
      overflow-x: auto;
      .table {
        margin-bottom: 0;
        th {
          font-size: 15px;
          font-weight: bold;
          line-height: 18px;
          padding: 0 10px;
          height: 67px;
          white-space: nowrap;
          vertical-align: middle;
          text-transform: uppercase;
          &:first-child {
            padding-left: 35px;
            @include respond(md-desktop) {
              padding-left: 15px;
            }
          }
          img {
            width: 14px;
            height: 14px;
          }
          @include respond(md-desktop) {
            font-size: 14px;
            line-height: 1.2;
          }
          @include respond(sm-desktop) {
            font-size: 13px;
          }
          @include respond(phone) {
            font-size: 12px;
          }
        }
        tr {
          &:last-child {
            border-bottom: none;
          }
          td {
            font-size: 19px;
            font-weight: 500;
            line-height: 24px;
            padding: 21px 15px;
            border-top: none;
            white-space: nowrap;
            vertical-align: middle;
            &:first-child {
              padding-left: 35px;
              @include respond(md-desktop) {
                padding-left: 15px;
              }
            }
            @include respond(md-desktop) {
              font-size: 17px;
              padding: 18px 10px;
            }
            @include respond(sm-desktop) {
              font-size: 15px;
              padding: 15px 10px;
            }
            @include respond(phone) {
              font-size: 14px;
              padding: 10px;
            }
            .icon {
              background: #ffeccf;
              border-radius: 8px;
              width: 60px;
              height: 60px;
              padding: 0px;

              span {
                font-size: 28px;
                line-height: 34px;
                font-weight: bold;
                color: #ff9d00;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0px;
              }

              .span_approved {
                color: #43c34d !important;
                opacity: 1 !important;
              }

              .name {
                height: 60px;
                font-size: 22px;
                line-height: 27px;
                font-weight: 500;
                //color: #111111;
                align-items: center;
                justify-content: center;
                display: flex;
              }
            }

            .span_icon {
              background: rgba(181, 215, 221, 1);
            }
          }

          .status {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
          }
          .approved {
            background: #26dd73;
          }
          .rejected {
            background: #ff9d00;
          }
          .review {
            background: #ffce00;
          }
          .closed {
            background: #a1a1a1;
          }
          .open {
            background: #3687e8;
          }
          .expired {
            background: #ea3f3f;
          }
        }
      }
    }
  }
}
