@import "../styles/Core/config";
.card {
  //box-shadow: 0px 3px 12px #E5E7ED;
  border: 1px solid #D2D7E5;
  border-radius: 8px;
  margin-bottom: 24px;

  .header {
      
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      text-transform: capitalize;
      background: none;
      border-bottom: 2px solid #F2F5F9;
      padding: 16px 22px;
      margin: 0 0 20px;

  }

  .hr {
      margin: 0px;
      width: 100%;
      border-top: 2px solid rgb(242 243 244);
      
  }

  .body {
      display: flex; 
      flex-direction: column; 
      padding: 0 22px 22px;
    
      
      
      .progress_container{
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
           width: 70%;

          .container {
              height: 9px;
              background-color: #E4ECF7;
              border-radius: 2px;
            }
            
            .barCompleted {
              height: 9px;
              background-color: #2884DE;
              border-radius: 2px;
              width: 80%;
            }
            
      }
      .percent{
          text-align: right;
          font-size: 23px;
          margin-top: -23px;
          color: #2884DE;
          text-transform: capitalize;
          font-weight: bold;
            @include respond(xl-desktop) {
                    margin-top: -18px;
                    font-size: 19px;
            }
            @include respond(lg-desktop) {
                margin-top: -17px;
                  font-size: 17px;
              }
             @include respond(md-desktop) {
                  margin-top: -15px;
                  font-size: 15px;
                }
        }
      .total {
          font-size:14px ;
          padding-top: 25px;
          color: #8492A6;
          text-transform: uppercase;
          display: flex;
          justify-content:center;
          align-items:flex-end;
          .totalText{
            width: fit-content;
            display: flex;
            span{
              margin-bottom: -0.35rem ;
              font-weight: bold;
            }
          }
          .dotted{
            flex: 1;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-bottom:2.5px dotted #8492A6;
          }
          .value{
            width:fit-content;
            display: flex;
            
              span {
                font-size: 18px;
                line-height:23px;
                // color: #111111;
                margin-bottom: -0.35rem;
              }
          }

      }
  }
  
}