.card {
  // width: 406px;
  // height: 247px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #e5e7ed;
  border: 1px solid #d2d7e5;
  border-radius: 8px;
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;
  // flex-direction: column;
  // font-family: Helvetica;
  // padding: 15px;
  margin-bottom: 24px;

  .header {
    // height: 150px;
    // margin: 0.5rem;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    text-transform: capitalize;
    background: none;
    border-bottom: 2px solid #f2f5f9;
    padding: 16px 22px;
    margin: 0 0 20px;
  }

  .hr {
    margin: 0px;
    width: 100%;
    border-top: 2px solid rgb(242 243 244);
  }

  .body {
    display: flex;
    flex-direction: column;
    // height: 700px;
    padding: 0 22px 22px;

    .progress_container {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
      // padding-left: 15px;

      .container {
        height: 9px;
        background-color: #e4ecf7;
        border-radius: 2px;
      }

      .barCompleted {
        height: 9px;
        background-color: #2884de;
        border-radius: 2px;
        width: 80%;
      }
    }
    .percent {
      text-align: right;
      font-size: 23px;
      margin-top: -23px;
      color: #2884de;
      text-transform: capitalize;
      font-weight: bold;
    }
    .total {
      text-align: left;
      font-size: 14px;
      // padding: 15px;
      padding-top: 25px;
      color: #8492a6;
      text-transform: uppercase;
    }
  }
}
