@import "../styles/Core/config";
.card {
    //box-shadow: 0px 3px 12px #E5E7ED;
    border: 1px solid #D2D7E5;
    border-radius: 8px;
    margin-bottom: 24px;
    @include respond(phone) {
        margin-bottom: 15px;
    }
    .header {      
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-transform: capitalize;
        background: none;
        border-bottom: 2px solid #F2F5F9;
        padding: 14px 22px;
        // margin: 0 0 20px;
        @include respond(md-desktop) {
            font-size: 16px;
            line-height: 1.3;
            padding: 14px 15px;
        }
    }
    .hr {
        margin: 0px;
        width: 100%;
        border-top: 2px solid rgb(242 243 244);      
    }
    .body {
        padding-top:2rem;
        display: flex; 
        flex-direction: column;
        padding: 17px 24px 21px;
        @include respond(md-desktop) {
            padding: 15px;
        }
        .progress_container {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            .container {
                height: 9px;
                background-color: #E4ECF7;
                border-radius: 2px;
            }            
            .barCompleted {
                height: 9px;
                background-color: #2884DE;
                border-radius: 2px;
                width: 80%;
            }            
        }
        .percent {
            text-align: right;
            font-size: 23px;
            margin-top: -23px;
            color: #2884DE;
            text-transform: capitalize;
            font-weight: bold;
            @include respond(lg-desktop) {
                margin-top: -18px;
                font-size: 19px;
            }
            @include respond(md-desktop) {
                margin-top: -17px;
                font-size: 17px;
            }
            @include respond(sm-desktop) {
                margin-top: -15px;
                font-size: 15px;
            }
        }
        .total {
            &:first-child {
                border-top: none;
            }
            margin-bottom: 1.2rem;
            font-size:14px ;
            padding-top: 25px;
            color: #8492A6;
            text-transform: uppercase;
            display: flex;
            justify-content:center;
            align-items:flex-end;
            border-top: 1px solid rgba(112, 112, 112, 0.1);
            .totalText {
                width: fit-content;
                display: flex;
                span {
                    margin-bottom: -0.35rem ;
                    font-weight: bold;
                }
            }
            .dotted {
                flex: 1;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                border-bottom:2.5px dotted #8492A6;
            }
            .value {
                width:fit-content;
                display: flex;            
                span {
                    font-size: 18px;
                    line-height:23px;
                    // color: #111111;
                    margin-bottom: -0.35rem;
                }
            }
        }
    }  
}
.bar {
    position: relative;
    height: 9px;
    background: #f3f4f7;
    border-radius: 2px;

    .fill {
        position: absolute;
        height: 12px;
        top: 0;
        left: 0;
        width: 50%;
        background: #3687e8;
        border-radius: 2px;
    }
}