@import '../styles/Core/config';
.leads {
  border-radius: 6px;
  margin-bottom: 26px;
  border: 1px solid #d2d7e5;
  .tableFilter {
    min-height: 80px;
    padding: 0 40px 0 35px;
    @include respond(md-desktop) {
      padding-left: 15px;
      padding-right: 15px;
    }
    h3 {
      font-size: 22px;
      color: #3687e8;
      font-weight: bold;
      line-height: 27px;
      margin: 0;
      @include respond(sm-desktop) {
        font-size: 18px !important;
        line-height: 1.3;
        margin: 20px 0;
      }

      @include respond(phone) {
        font-size: 16px !important;
        margin: 13px 0;
      }
    }
    .pageList {
      width: 116px;
      height: 38px;
      border-radius: 5px;
      border: 3px solid #3687e8;
      span {
        font-size: 18px;
        color: #3687e8;
        font-weight: 500;
        line-height: 23px;
        cursor: pointer;
        @include respond(phone) {
          font-size: 14px;
          line-height: 20px;
          margin-right: 5px;
        }
      }
    }
  }
  .scrollouter {
    width: 100%;
    display: table;
    table-layout: fixed;
    .scrollInner {
      display: table-cell;
      overflow-x: auto;
      .table {
        width: 100%;
        thead {
          //background: #FAFAFB;
          th {
            font-size: 15px;
            font-weight: bold;
            line-height: 18px;
            padding: 24px 15px;
            white-space: nowrap;
            text-transform: uppercase;
            border-top: 2px solid #f2f5f9;
            &:first-child {
              padding-left: 35px;
              @include respond(md-desktop) {
                padding-left: 15px;
              }
            }
            @include respond(md-desktop) {
              font-size: 14px;
              line-height: 1.2;
            }
            @include respond(sm-desktop) {
              font-size: 13px;
            }
            @include respond(phone) {
              font-size: 12px;
            }
          }
        }
        tbody {
          td {
            font-size: 19px;
            font-weight: 500;
            line-height: 24px;
            padding: 24px 15px;
            border-top: none;
            white-space: nowrap;
            &:first-child {
              padding-left: 35px;
              font-weight: bold;
              @include respond(md-desktop) {
                padding-left: 15px;
              }
            }
            @include respond(md-desktop) {
              font-size: 17px !important;
              padding: 18px 10px;
            }

            @include respond(sm-desktop) {
              font-size: 15px !important;
              padding: 15px 10px;
            }

            @include respond(phone) {
              font-size: 12px !important;
              padding: 10px;
            }
            .status {
              width: 15px;
              height: 15px;
              margin-right: 10px;
              border-radius: 50%;
              display: inline-block;
              vertical-align: middle;
            }
            .approved {
              background: #26dd73;
            }
            .rejected {
              background: #ed714c;
            }
            .review {
              background: #ffce00;
            }
            .dropDown {
              font-size: 20px;
              color: #111111;
              line-height: 25px;
              width: 180px !important;
              height: 37px !important;
              border-radius: 4px !important;
              background: #c3c3c31f;
              letter-spacing: 0.19px;
              padding: 0 30px 0 15px;
              outline: none;
              border: 1px solid #0000001f !important;
            }
            .input {
              font-size: 20px;
              color: #111111;
              line-height: 25px;
              width: 180px !important;
              height: 37px !important;
              border-radius: 4px !important;
              background: #c3c3c31f;
              letter-spacing: 0.19px;
              outline: none;
              box-shadow: none;
              border: 1px solid #0000001f !important;
            }
            .checkBox {
              transform: scale(1.5);
            }
            .tick {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50%;
              height: 100%;
              img {
                width: 25px;
                height: 19px;
              }
            }
          }
        }
      }
    }
  }
  .remarks {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 25px 20px 35px;
    @include respond(phone) {
      flex-direction: column;
      padding-left: 15px;
      padding-right: 15px;
    }
    .remarksName {
      width: 25%;
      font-size: 19px;
      font-weight: bold;
      line-height: 24px;
      @include respond(md-desktop) {
        width: 100%;
      }
      @include respond(sm-desktop) {
        width: 100%;
      }
      @include respond(phone) {
        width: 100%;
      }
    }
    textarea {
      width: 68%;
      box-shadow: none;
      border-radius: 4px;
      background: #c3c3c31f;
      border: 1px solid #0000001f;
      @include respond(md-desktop) {
        width: 100%;
      }
      @include respond(sm-desktop) {
        width: 100%;
      }
      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
img {
  &.arrow2 {
    width: 13px !important;
    margin-left: -30px;
    pointer-events: none;
    input[type='date']::-webkit-inner-spin-button,
    input[type='date']::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }
}
.customSelect {
  appearance: none;
  // position: relative;
}
.view_btn {
  padding-top: 3px;
  color: #3687e8;
  margin-left: 1rem;
  text-decoration: underline;
}
