@import "../styles/Core/config";


.dashboardTab {
    //background: #FFFFFF;
    //box-shadow: 0px 3px 12px #CAD0E2;
    border: 1px solid #D2D7E5;
    .tabHeader {
        padding: 30px;
   
    }
    
   
}


.backgroundMain {
    //background: #F3F4F7 !important;
    .vessel_card {
        margin: 20px 5px 20px 5px;
        .main {
            border-radius: 6px;
        
            .head_container {
                padding: 25px 35px !important;
               border-bottom: 2px solid #CAD6E6;

                .heading{
                    color: #3687e8;
                    font-weight:bold;
                    font-size: 22px;
                    text-transform: capitalize;
                    line-height: 27px;
                    @include respond(md-desktop) {
                        font-size: 20px;
                    }
                    @include respond(sm-desktop) {
                        font-size: 18px;
                    }
                    @include respond(phone) {
                        font-size: 15px;
                    }
                  
                }
                span {
                    font-size: 45px;
                    color: #3687e8;
                    font-weight: normal;
                    line-height: 20px;
                    @include respond(md-desktop) {
                        font-size: 42px;
                    }
                    @include respond(sm-desktop) {
                        font-size: 35px;
                    }
                    @include respond(phone) {
                        font-size: 30px;
                    }
                }
                
                }
        
        }
        
        .dashboard_form {
            padding: 0px 35px 25px 40px;
           
            .form_group {
                margin-top: 40px;
                position: relative;
                margin-bottom: 10px;
                
                @include respond(sm-desktop) {
                    
                }
                @include respond(phone) {
                    margin: 15px;
                }
                .search_image {
                    margin-left: -40px;
                }   
                 
                .label_heading {
                    font-size: 16px;
                    letter-spacing: 0.53px;
                    line-height: 0.5;
                    top: 26px;
                    left: 30px;
                    margin-bottom: 0;
                    position: absolute;
                    pointer-events: none;
                    box-sizing: border-box;
                    transform: translateY(-29px);
                    transition: 0.3s all ease-in-out;
                    @include respond(sm-desktop) {
                        font-size: 16px;
                    }
                    @include respond(phone) {
                        font-size: 14px;
                        //top: 20px;
            
                    }
                }
                
                .line {
                    border: 3px solid #D9DDE8;

                }
                
                .input_field {
                    font-size: 20px;
                    height: 60px;
                    outline: none;
                    line-height: 25px;
                    box-shadow: none;
                    border-radius: 4px;
                    position: relative;
                    box-sizing: border-box;
                    letter-spacing: 0.19px;
                    padding: 13px 30px 13px 17px;
                    border: 1px solid #0000001F;
                    &:invalid + label {
                        transform:translateY(0);
                    }
                    &:focus {
                        & + label {
                            transform:translateY(-29px);
                        }
                    }
                    @include respond(md-desktop) {
                        font-size: 18px;
                    }
                    @include respond(sm-desktop) {
                        font-size: 16px;
                        height: 55px;

                    }
                    @include respond(phone) {
                        font-size: 14px;
                        height: 45px;
                        padding: 0px 12px 0px 12px;
                    }
                }
            }
            
        }
        
    }

}
.calanderIcon {
    margin-left: -40px;
    margin-top: 15px;
    width: 23px;
    height: 26px;
    pointer-events: none;
}