@import '../styles/Core/config';
.dashboardTab {
  //background: #FFFFFF;
  //box-shadow: 0px 3px 12px #CAD0E2;
  border: 1px solid #d2d7e5;
  .tabHeader {
    padding: 30px;
  }
}
.backgroundMain {
  //background: #F3F4F7 !important;
  .vessel_card {
    // margin: 20px 5px 20px 5px;
    .main {
      margin-bottom: 26px;
      border-radius: 6px;
      .head_container {
        min-height: 80px;
        padding: 0 35px !important;
        border-bottom: 2px solid #cad6e6;
        cursor: pointer;
        .heading {
          color: #3687e8;
          font-weight: bold;
          font-size: 22px;
          text-transform: capitalize;
          line-height: 27px;
          margin: 0;
          @include respond(md-desktop) {
            font-size: 20px;
          }
          @include respond(sm-desktop) {
            font-size: 19px;
          }
          @include respond(phone) {
            font-size: 17px;
          }
        }
        span {
          font-size: 45px;
          color: #3687e8;
          font-weight: normal;
          line-height: 20px;
          @include respond(md-desktop) {
            font-size: 42px;
          }
          @include respond(sm-desktop) {
            font-size: 35px;
          }
          @include respond(phone) {
            font-size: 30px;
          }
        }
      }
      .table_container {
        background-color: #fafafb;
        .table_scroll_outer {
          width: 100%;
          display: table;
          table-layout: fixed;
          .table_scroll_inner {
            display: table-cell;
            overflow-x: auto;
            .table {
              margin-bottom: 0px;
              th {
                font-size: 15px;
                color: #8492a6;
                font-weight: bold;
                line-height: 18px;
                padding: 20px 15px;
                vertical-align: middle;
                background: #fafafb;
                text-transform: uppercase;
                border-top: 2px solid #f2f5f9;
                border-bottom: 2px solid #f2f5f9;
                white-space: nowrap;
                vertical-align: middle;
                &:first-child {
                  padding-left: 35px;
                  @include respond(sm-desktop) {
                    padding-left: 15px;
                  }
                }
                img {
                  &.sort_image {
                    width: 14px;
                    height: 14px;
                  }
                  &.searchImg {
                    width: 48px;
                    height: 48px;
                    @include respond(sm-desktop) {
                      width: 38px;
                      height: 38px;
                    }
                    @include respond(phone) {
                      width: 30px;
                      height: 30px;
                    }
                  }
                }
                @include respond(md-desktop) {
                  font-size: 14px;
                  line-height: 1.2;
                }
                @include respond(sm-desktop) {
                  font-size: 13px;
                }
                @include respond(phone) {
                  font-size: 12px;
                }
              }
              tr {
                &:last-child {
                  border-bottom: none;
                }
                td {
                  font-size: 19px;
                  font-weight: 500;
                  line-height: 24px;
                  padding: 24px 15px;
                  border-top: none;
                  vertical-align: middle;
                  border-bottom: 2px solid #f2f5f9;
                  white-space: nowrap;
                  @include respond(md-desktop) {
                    font-size: 17px;
                  }
                  @include respond(sm-desktop) {
                    font-size: 15px;
                  }
                  @include respond(phone) {
                    font-size: 12px;
                  }
                  .actionContainer {
                    @include respond(phone) {
                      display: flex;
                    }
                    @include respond(sm-desktop) {
                      display: flex;
                    }
                  }
                  .pdfImage {
                    width: 57px;
                    height: 25px;
                    @include respond(sm-desktop) {
                      width: 50px;
                      height: 22px;
                    }
                    @include respond(phone) {
                      width: 35px;
                      height: 15px;
                    }
                  }
                  .uploadDoc {
                    text-align: center;
                    color: #3687e8;
                    border: 3px solid #3687e8;
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: bold;
                    border-radius: 5px;
                    background: transparent;
                    text-transform: capitalize;
                    padding: 7px 30px;
                    margin-right: 30px;
                    @include respond(md-desktop) {
                      font-size: 16px;
                    }
                    @include respond(sm-desktop) {
                      font-size: 14px;
                      padding: 4px 25px;
                    }
                    @include respond(phone) {
                      font-size: 12px;
                      padding: 0 15px;
                    }
                  }
                }
              }
              .uploadBtnWrapper {
                overflow: hidden;
                position: relative;
                display: block;
                line-height: 60px;

                input {
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  opacity: 0;
                  cursor: pointer;
                  position: absolute;
                }
              }
              .updateBtn {
                text-align: center;
                color: #3687e8;
                text-transform: capitalize;
                border: 3px solid #3687e8;
                border-radius: 5px;
                font-size: 18px;
                line-height: 23px;
                font-weight: bold;
                background: transparent;
                padding: 8px 30px 8px 30px;
                @include respond(md-desktop) {
                  font-size: 16px;
                }
                @include respond(sm-desktop) {
                  font-size: 14px;
                  padding: 4px 25px 4px 25px;
                }
                @include respond(phone) {
                  font-size: 12px;
                  padding: 0px 15px 0 15px;
                }
              }
              .certificate {
                font-size: 20px;
                letter-spacing: 0.19px;
                color: #111111;
                background-color: #C3C3C31F;
                border-radius: 4px;
                padding: 8px;
                margin: 7px 0;
                span {
                  max-width: 92%;
                  overflow-x: hidden;
                  white-space: nowrap;
                  display: inline-block;
                  text-overflow: ellipsis;
                }
                img {
                  width: auto !important;
                  height: auto !important;
                }
              }
              .doc_name {
                font-weight: bold;
                line-height: 25px;
                font-size: 20px;
                text-transform: capitalize;
                padding-left: 35px;
                @include respond(md-desktop) {
                  font-size: 18px;
                }
                @include respond(sm-desktop) {
                  font-size: 16px;
                }
                @include respond(phone) {
                  font-size: 14px;
                }
              }
              .doc_row {
                font-size: 19px;
                line-height: 24px;
                opacity: 0.7;
                font-weight: 500;
                @include respond(md-desktop) {
                  font-size: 17px;
                }
                @include respond(sm-desktop) {
                  font-size: 15px;
                }
                @include respond(phone) {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    .dashboard_form {
      padding: 0px 35px 25px;
      .form_group {
        margin-top: 40px;
        position: relative;
        margin-bottom: 10px;
        @include respond(sm-desktop) {
        }
        @include respond(phone) {
          margin: 15px;
        }
        .search_image {
          margin-left: -40px;
        }
        .label_heading {
          font-size: 16px;
          letter-spacing: 0.53px;
          line-height: 17px;
          top: 22px;
          left: 30px;
          margin-bottom: 0;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          transform: translateY(-30px);
          transition: 0.3s all ease-in-out;
          z-index: 1;
          max-width: 77%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &::before {
            top: 51%;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            z-index: -1;
            position: absolute;
            transform: translateY(-30%);
          }
          @include respond(sm-desktop) {
            font-size: 16px;
          }
          @include respond(phone) {
            font-size: 14px;
            //top: 20px;
          }
        }
        .line {
          border: 3px solid #d9dde8;
        }
        .input_field {
          font-size: 20px;
          height: 60px;
          outline: none;
          line-height: 25px;
          box-shadow: none;
          border-radius: 4px;
          position: relative;
          box-sizing: border-box;
          letter-spacing: 0.19px;
          padding: 13px 30px 13px 17px;
          border: 1px solid #0000001f;
          &:invalid + label {
            transform: translateY(0);
          }
          &:focus {
            & + label {
              transform: translateY(-30px);
            }
          }
          @include respond(md-desktop) {
            font-size: 18px;
          }
          @include respond(sm-desktop) {
            font-size: 16px;
            height: 55px;
          }
          @include respond(phone) {
            font-size: 14px;
            height: 45px;
            padding: 0px 12px 0px 12px;
          }
        }
      }
    }
  }
}
.calanderIcon {
  margin-left: -40px;
  margin-top: 0;
  width: 23px;
  height: 26px;
  pointer-events: none;
}
