@import '../../../src/components/styles/Core/config';
.card {
  margin: 28px;
  margin-bottom: 154px;
  @include respond(sm-desktop) {
    margin: 20px;
    margin-bottom: 146px;
  }
  @include respond(phone) {
    margin: 15px;
    margin-bottom: 121px;
  }
  .head_header {
    height: 48px;
    display: flex;
    margin: 0 0 27px 10px;
    @include respond(phone) {
      align-items: center;
      padding: 0.75rem 0rem;
    }
    .back_arrow {
      width: 13px;
      height: 21px;
      background: transparent;
    }
    .heading {
      font-size: 34px;
      font-weight: bold;
      line-height: 41px;
      margin: 0;
      padding-left: 18px;
      text-transform: lowercase;
      &:first-letter {
          text-transform: uppercase;
      }
      &:first-line {
          text-transform: capitalize;
      }
    }
  }
  .card_body {
    padding: 0px;
    border-top: 2px solid #eff2f7;
    box-shadow: 0px 3px 12px #e5e7ed;
    border: 1px solid #d2d7e5;
    border-radius: 8px !important;
    margin-bottom: 26px;
    .centerHeading {
      padding: 20px 0 0 25px;
      text-decoration: underline;
      font-size: 30px;
      line-height: 37px;
      font-weight: bold;
      text-align: center;
      @include respond(md-desktop) {
        padding: 15px;
        font-size: 25px;
      }
      @include respond(sm-desktop) {
        padding: 15px;
        font-size: 20px;
      }
    }
    .details {
      .details_content {
        padding: 20px 0 0 25px;
        @include respond(md-desktop) {
          padding: 15px;
        }
        .details_head {
          font-size: 20px;
          line-height: 25px;
          font-weight: 500;
          @include respond(md-desktop) {
            font-size: 17px;
          }
          @include respond(sm-desktop) {
            font-size: 15px;
          }
        }
        .details_val {
          font-size: 20px;
          line-height: 24px;
          font-weight: normal;
          opacity: 0.7;
          @include respond(md-desktop) {
            font-size: 17px;
          }
          @include respond(sm-desktop) {
            font-size: 15px;
          }
        }
      }
    }
    .salutations {
      padding: 20px 0 0 25px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      color: #111111;
      @include respond(md-desktop) {
        padding: 17px;
      }
      @include respond(sm-desktop) {
        font-size: 15px;
      }
    }
    .content {
      margin: 0px;
      .row {
        margin: 0px !important;
        .content_head {
          font-size: 20px;
          line-height: 24px;
          font-weight: normal;
          opacity: 0.7;
          border: 2px solid #d2d7e5;
          padding: 25px;
          border-left: none;
          border-bottom: none;
          @include respond(md-desktop) {
            font-size: 17px;
            padding: 15px;
          }
          @include respond(sm-desktop) {
            font-size: 15px;
            padding: 15px;
          }
        }
        .content_val {
          font-size: 20px;
          line-height: 25px;
          font-weight: 500;
          border: 2px solid #d2d7e5;
          border-left: none;
          border-right: none;
          padding: 25px;
          border-bottom: none;
          @include respond(md-desktop) {
            font-size: 17px;
            padding: 15px;
          }
          @include respond(sm-desktop) {
            font-size: 15px;
            padding: 15px;
          }
        }
      }
    }
  }
}
.share_lc {
  top: 50%;
  left: 50%;
  width: 100%;
  border: none;
  margin: 0 auto;
  max-width: 562px;
  max-height: 569px;
  box-shadow: none !important;
  border-radius: 12px;
  padding-right: 0 !important;
  transform: translate(-50%, -50%);
  & > div {
    margin: 0;
    max-width: none;
    & > div {
      border: none;
    }
  }
  .card_body {
    padding: 0;
    .LC_draft_tabs {
      &.nav_tabs {
        // margin-top: 51px;
        border: none;
        .nav_item {
          width: 50%;
          .nav_link {
            font-size: 22px;
            line-height: 27px;
            font-weight: bold;
            padding: 24px 10px;
            height: 75px;
            text-align: center;
            img {
              margin-right: 14px;
            }
          }
          &:first-child {
            .nav_link {
              border-radius: 12px 0 0 0;
            }
          }
          &:last-child {
            .nav_link {
              border-radius: 0 12px 0 0;
            }
          }
        }
      }
    }
    .tab_content {
      margin: 22px 35px;
      h3 {
        font-size: 20px;
        color: #344054;
        font-weight: normal;
        line-height: 25px;
        margin: 0 0 16px;
        letter-spacing: 0.19px;
      }
      .box {
        width: 49%;
        height: 97px;
        max-width: 239px;
        padding: 21px 15px;
        border-radius: 8px;
        margin-bottom: 41px;
        &.lc_document {
          background: #f8acac24;
        }
        &.word_document {
          background: #f3f7fe;
        }
        label {
          font-size: 14px;
          color: #667085;
          font-weight: normal;
          line-height: 25px;
          white-space: nowrap;
          margin: 10px 0 0;
          letter-spacing: 0.13px;
          span {
            font-size: 12px;
            //color: #1e1e1e ;
            font-weight: normal;
            display: block;
            letter-spacing: 0.11px;
          }
        }
        input {
          transform: scale(1.3);
        }
      }
      .share_via {
        &.nav_tabs {
          border-bottom: 1px solid #d2d7e5;
          .nav_item {
            width: 50%;
            .nav_link {
              font-size: 20px;
              line-height: 25px;
              padding: 10px;
              height: 59px;
              white-space: nowrap;
              border-radius: 0;
              letter-spacing: 0.19px;
              background: transparent;
              img {
                margin-right: 14px;
              }
            }
          }
        }
      }
      .tab_content {
        margin: 25px 0;
      }
      .each_input {
        position: relative;

        .label_heading {
          top: 22px;
          left: 17px;
          font-size: 16px;
          line-height: 17px;
          font-weight: 500;
          margin-bottom: 0;
          letter-spacing: 0.53px;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          transform: translateY(-30px);
          transition: 0.3s all ease-in-out;
          z-index: 3;
          max-width: 77%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &::before {
            top: 51%;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            z-index: -1;
            position: absolute;
            transform: translateY(-50%);
          }
        }
        .formControl {
          font-size: 20px;
          line-height: 25px;
          font-weight: normal;
          height: 60px;
          outline: none;
          box-shadow: none !important;
          border-radius: 8px;
          position: relative;
          box-sizing: border-box;
          letter-spacing: 0.19px;
          padding: 19px 30px 19px 17px;
          background: none;
          border-width: 1px;
          &:invalid + label {
            // background: none;
            transform: translateY(0);
          }
          &:focus {
            & + label {
              // background: #ffffff;
              transform: translateY(-30px);
            }
          }
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            box-shadow: 0 0 0 30px #f8f8f8 inset !important;
            -webkit-box-shadow: 0 0 0 30px #f8f8f8 inset !important;
          }
        }

        img {
          top: 50%;
          right: 14px;
          position: absolute;
          transform: translateY(-50%);
        }

        &.phone {
          .label_heading {
            left: 78px;
            transform: translate(-61px, -30px);
          }
          .formControl {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            &:focus {
              & + label {
                transform: translate(-61px, -30px);
              }
            }
          }
          .phone_card {
            display: flex;
            .code_phone {
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
              font-size: 19px;
              letter-spacing: 0.18px;
              color: #3687e8;
              text-transform: capitalize;
              outline: none;
              border-radius: 8px 0 0 8px;
            }
          }
        }
      }
      .radio_form {
        //padding: 26px 0px 20px 35px;
        margin: 20px 0px;
        .radio_group {
          display: flex;
          .radio {
            font-size: 20px;
            color: #111111;
            line-height: 24px;
            letter-spacing: 0.19px;
            padding-right: 50px;
            @include respond(md-desktop) {
              font-size: 18px;
            }
            @include respond(sm-desktop) {
              font-size: 16px;
            }
            @include respond(phone) {
              font-size: 14px;
            }
            label {
              padding-left: 15px;
            }
            input {
              transform: scale(1.5);
            }
          }
        }
        .sub_heading {
          font-size: 16px;
          line-height: 17px;
          font-weight: 500;
          padding: 10px 0 15px;
          letter-spacing: 0.53px;
          @include respond(md-desktop) {
            font-size: 16px;
          }
          @include respond(sm-desktop) {
            font-size: 14px;
          }
          @include respond(phone) {
            font-size: 12px;
          }
        }
      }
      .password {
        label {
          top: 22px;
        }
      }
    }
    .btn {
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
      height: 48px;
      cursor: pointer;
      max-width: 239px;
      border-radius: 5px;
      @include respond(md-desktop) {
        font-size: 16px;
      }
      &.close {
        color: #4d4d4d;
        background: #ffffff;
        border: 3px solid #d5d5d5;
      }
      &.submit {
        color: #ffffff;
        background: #3687e8;
        border: 3px solid #3687e8;
      }
    }
  }
}
.arrow {
  margin-left: -40px;
  width: 13px;
  pointer-events: none;

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.customSelect {
  appearance: none;
  // position: relative;
}
.addMoreRows {
  letter-spacing: 0px;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  color: #3687e8;
  cursor: pointer;
  margin-bottom: 35px;
}
