@import "../styles/Core/config";
.card {
    margin: 28px;
    margin-bottom: 152px;
    background-color: transparent !important;
    @include respond(sm-desktop) {
        margin: 20px;
    }
    @include respond(phone) {
        margin: 15px;
        margin-bottom: 120px;
    }
    .head_header {
        min-height: 48px;
        display: flex;
        min-height: 48px;
        margin: 0 0 27px 10px;
        @include respond(lg-desktop) {
            min-height: 40px;
            margin-bottom: 20px;
        }
        @include respond(phone) {
            align-items: center;
            padding: 0.75rem 0rem;
        }
        .arrow {
            width: 13px;
            height: 21px;
            cursor: pointer;
            background: transparent;
            @include respond(lg-desktop) {
              width: 10px;
              height: auto;
            }
        }
        .heading {
          font-size: 34px;
          font-weight: bold;
          line-height: 41px;
          margin: 0;
          padding-left: 18px;
          text-transform: lowercase;
          &:first-letter {
              text-transform: uppercase;
          }
          &:first-line {
              text-transform: capitalize;
          }
          @include respond(lg-desktop) {
            font-size: 24px;
            line-height: 1.4;
            padding-left: 10px;
          }
          @include respond(sm-desktop) {
            font-size: 20px;
          }
          @include respond(phone) {
            font-size: 18px;
          }
        }
    }
    .card_body {
      padding: 20px 0 0 25px;
      border-top: 2px solid #EFF2F7;
      box-shadow: 0px 3px 12px #E5E7ED;
      border: 1px solid #D2D7E5;
      border-radius: 8px;
      margin-bottom: 40px;
      .form_group {
          padding-left: 25px;
            .label {
                font-size: 16px;
                line-height: 17px;
                margin-bottom: 10px;
                letter-spacing: 0.53px;
            }
            .value {
                font-size: 20px;
                // color: #111111;
                line-height: 25px;
                font-weight: 500;
            }
            .status {
                width: 15px;
                height: 15px;
                margin-right: 10px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                background: #26DD73;
            }
        }
    }
}
.card_body {
    background-color: #ffffff;
    padding: 20px 0 0 25px;
    border-top: 2px solid #eff2f7;
    box-shadow: 0px 3px 12px #e5e7ed;
    border: 1px solid #d2d7e5;
    border-radius: 8px;
    margin-bottom: 40px;
    .form_group {
        .label {
            font-size: 16px;
            line-height: 17px;
            margin-bottom: 10px;
            letter-spacing: 0.53px;
            line-height: 17px;
        }
        .value {
            font-size: 20px;
            color: #111111;
            line-height: 25px;
        }
        .status {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            background: #26dd73;
        }
    }
}