.card {
    padding: 25px;
    background-color: #F3F4F7;
    font-family: Helvetica Neue;

        .head_header {
            display: flex;
            padding-left: 10px;
            margin-bottom: 20px;
            

            .arrow {
                width: 13px;
                height: 21px;
                background: transparent;
                margin-top: 10px;
            }
            .heading {
                padding-left: 18px;
                font-weight: bold;
                font-size: 34px;
                line-height: 41px;
                text-align: left;
                letter-spacing: 0px;
                color: #111111;
                text-transform: capitalize;
                margin-top: 0;

            }
        
        
    }

    .card_body {
        background-color: #ffffff;
        padding:20px 0 0 25px;
        border-top: 2px solid #EFF2F7;
        box-shadow: 0px 3px 12px #E5E7ED;
        border: 1px solid #D2D7E5;
        border-radius: 8px;
        margin-bottom: 40px;
      
        .form_group{

           
            .label {
                font-size: 16px;
                color: #00000080;
                line-height: 17px;
                margin-bottom: 10px;
                letter-spacing: 0.53px;
                line-height:17px ;
            }
            .value {
                font-size: 20px;
                color: #111111;
                line-height: 25px;

        }
        .status {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            background: #26DD73;
            
        }        
        
        }
    }
}

