.main {
  padding-left: 20px;
  margin-bottom: 5rem;
  .term_container {
    display: flex;

    .check_box {
      margin-top: 30px;
      width: 24px;
      height: 24px;
      background-color: transparent;
    }
    .term_para {
      color: var(--unnamed-color-111111);
      font-size: 18px;      
      margin-top: 25px;
      margin-left: 15px;
    }
  }

  .btn_container {
    display: flex;
    justify-content: end;

    .cancel_btn {
      width: 218px;
      height: 48px;
      font: normal normal bold 20px;
      color: #3687e8;
      text-transform: capitalize;
      margin: 10px;
    }

    .submit_btn {
      width: 220px;
      height: 48px;
     
      border-style: none;
      border-radius: 5px;
      text-align: center;
      font: normal normal bold 20px/25px;
      color: #ffffff;
      text-transform: capitalize;
      margin: 10px;
    }
  }
}

.mainDark {
  padding-left: 20px;

  .term_container {
    display: flex;

    .check_box {
      margin-top: 30px;
      width: 24px;
      height: 24px;
      background-color: transparent;
    }

    .term_para {
      font-size: 18px;
      color: #ffffff;
      margin-top: 25px;
      margin-left: 15px;
    }
  }

  .btn_container {
    display: flex;
    justify-content: end;

    .cancel_btn {
      width: 218px;
      height: 48px;
      border: 3px solid #3687e8;
      border-radius: 5px;
      text-align: center;
      background-color: #1D2530;
      font: normal normal bold 20px;
      color: #3687e8;
      text-transform: capitalize;
      margin: 10px;
    }

    .submit_btn {
      width: 220px;
      height: 48px;
      background-color: #3687e8;
      border-style: none;
      border-radius: 5px;
      text-align: center;
      font: normal normal bold 20px/25px;
      color: #ffffff;
      text-transform: capitalize;
      margin: 10px;
    }
  }
}
