.wrapper{
    margin-bottom: 1rem;
        border-radius: 6px !important;
        // border: 1px solid #D2D7E5;
        // -webkit-box-shadow: 0 3px 6px #cad0e2;
        // box-shadow: 0 3px 6px #cad0e2;
}
.cardHeader {
     cursor: pointer;
     border-bottom: none;
     padding: 25px 35px !important;

     h2 {
         font-size: 22px;
         color: #3687E8;
         font-weight: bold;
         line-height: 27px;
     }

     span {
         font-size: 45px;
         color: #3687E8;
         font-weight: normal;
         line-height: 20px;
     }
          .light {
            //   color: #2837566A;
              font-weight: bold;
              font-size: 18px;
              line-height: 23px;
              margin-right: 1rem;
          }
    
}
 .cardBody {
     padding:0px;
    
     .content{
         .header{
             
          padding: 25px 35px !important;
          font-weight: bold;
          font-size: 22px;
          line-height:27px;
          height: 67px;
          background: #FAFAFB 0% 0% no-repeat padding-box;
          .light{
            color: #2837566A;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            margin-right: 1rem;
          }
         }
     }
     .body{
        padding: 25px 35px !important;
        
        .col_header{
            font-weight: medium;
                font-size: 16px;
                line-height: 17px;
               margin-top: 1.5rem;
                letter-spacing: 0.53px;
              
        }
        .col_body{
            font-weight: bold;
                font-size: 20px;
                line-height: 25px;
             
                margin-top:0.5rem;
                    margin-bottom: 1rem;
         
        }
     }
     .col{
         padding-right: 0px !important;
         
     }
         .col2 {
             padding-left: 0px !important;
    
         }
         .row{
             margin-bottom: 1rem;
         }
 }

                .gst_cancelled {
                    background: #ea3f3f22 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    width: 186px;
                    height: 38px;
        
                    .dot {
                        width: 16px;
                        height: 16px;
                        background: #EA3F3F 0% 0% no-repeat padding-box;
                        border-radius: 100px;
                        opacity: 1;
                    }
        
                    span {
                        font-weight: medium;
                        font-size: 19px;
                        line-height: 24px;
                        opacity: 1;
                        margin-left: 1rem;
                    }
        
                }

.chart_container{
   
    border-top: 2px solid #dddddda3;
    border-right: 2px solid #dddddda3;
   
  
         .header {
    
             background: #FAFAFB 0% 0% no-repeat padding-box;
    
             span {
                 font-weight: medium;
                 font-size: 16px;
                 line-height: 17px;
                 letter-spacing: 0.53px;
                 color: #00000080;
                 padding: 25px 35px !important;
             }
    
             .light {
                 color: #2837566A;
                 font-weight: bold;
                 font-size: 18px;
                 line-height: 23px;
                 margin-right: 1rem;
             }
         }
    
         .chart {
             padding: 25px 35px !important;
         }
}
.table{
    padding: 35px;
    box-sizing: border-box;
}


 .CustomercardBody {
     padding: 0px;

     .content {
         margin-bottom: 1.5rem;
         .header {

             padding: 25px 35px !important;
             font-weight: bold;
             font-size: 22px;
             line-height: 27px;
             height: 67px;
             background: #FAFAFB 0% 0% no-repeat padding-box;

             .light {
                 color: #2837566A;
                 font-weight: bold;
                 font-size: 18px;
                 line-height: 23px;
                 margin-right: 1rem;
             }
         }
                  padding-bottom: 20px;
     }

     .body {
         overflow-y: auto;
         height: 250px;
        
        .table1 {
                padding: 35px;
                box-sizing: border-box;
                tr{
                    padding-left: 35px;
                   
                th {
                        color: #3687E8;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 18px;
                        border-bottom: 1.5px solid #dae2ed;
                    &:first-child {
                            padding-left: 35px;
                        }
                    }
                    td{font-size: 18px;
                        line-height: 23px;
                        border-bottom:none;
                        border-top: none;
                        &:first-child {
                                padding-left: 35px;
                            }
                    }
                }
                tbody{
                    padding: 25px 35px !important;
                }
            }
                        .table2{
                            padding: 35px;
                            box-sizing: border-box;
            
                            tr {
                                padding-left: 35px;
            
                                th {
                                    color: #3687E8;
                                    font-weight: normal;
                                    font-size: 18px;
                                    line-height: 18px;
                                    border-bottom: 1.5px solid #dae2ed;
            
                                    &:first-child {
                                        padding-left: 35px;
                                        width: 20%
                                    }
                                }
            
                                td {
                                    font-size: 18px;
                                    line-height: 23px;
                                    border-bottom: none;
                                    border-top: none;
            
                                    &:first-child {
                                        padding-left: 35px;
                                        width: 20%
                                    }
                                }
                            }
            
                            tbody {
                                padding: 25px 35px !important;
                            }
                        }
        }
    .body_noscroll{
        height:fit-content
    }
    
 }

 .select{
      
                font-size: 18px;
                line-height: 23px;
                color: #3687E8;
                text-transform: capitalize;
                margin-right: 10px;
                border-radius: 14px;
                border: none;
                font-weight: bold;
                text-align: center;
                padding-left: 8px;
                padding-right: 6px;
                padding-top: 4px;
                padding-bottom: 4px;
                margin-right: 50px;
 }
 .selectHead{
       font-size: 18px;
        line-height: 23px;
        color: #3687E8;
        text-transform: capitalize;
        margin-right: 10px;
        border-radius: 14px;
        border: none;
        font-weight: bold;
        text-align: center;
        padding-left: 8px;
        padding-right: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-right: 50px;
 }
 .table_average{
     margin: 0px !important;
    padding: 35px;
    box-sizing: border-box;
                    border: 1.5px solid #dae2ed;
    tr {
            padding-left: 35px;
    
            th {
                color: #010101;
                font-weight: normal;
                font-size: 18px;
                line-height: 18px;
                width:33.33%;
                background: #FAFAFB 0% 0% no-repeat padding-box;
                &:first-child {
                    padding-left: 35px;
                }
            }
            td{
                width: 33.33%;
                border-top:none;
                border-top: 1px solid #71869a00;
            
           
            }
                        &:last-child {
                            margin-bottom: 35px;
                        }
    
         
        }
    
      
          
            .second_head{
                height: 32px;
               
                td{ 
                    color: #3687E8 !important;
                       border-bottom:1.5px solid #dae2ed; ;
                        padding-left: 0.75rem;
                        padding-right: 0.75rem;
                }
           
          
        }
}

.table_pricioal{
        padding: 35px;
            box-sizing: border-box;
            border: 1.5px solid #dae2ed;
        
            tr {
                padding-left: 35px;
        
                th {
                    color: #010101;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 18px;
                  
                    background: #FAFAFB 0% 0% no-repeat padding-box;
        
                    &:first-child {
                        padding-left: 35px;
                        width: 33.33%;
                    }
                }
        
                td {
                    
                    border-top: none;
                    border-top: 1px solid #71869a00;
                    border-left: 1px solid #71869a00;
        
        
                }
        
                &:last-child {
                    margin-bottom: 35px;
                }
        
        
            }
                         .first {
                             padding-left: 35px;
                             width: 33.33%;
                            border-right: 1.5px solid #dae2ed;
                         }
                                  .second_head {
                                      height: 32px;
                                    
                                       border-left: 1.5px solid #ff000000;      
                                        border-bottom: 1.5px solid #dae2ed;                              border-bottom: 1.5px solid #dae2ed;
                                   
                
                                      td {
                                            color: #3687E8 !important;
                                          border-bottom: 1.5px solid #dae2ed;
                                          width: auto;
                                          padding-left: 0.75rem;
                                          padding-right: 0.75rem;
                                      }
                               
                
                                  }
}
 .table_annual {
     margin-bottom: 0px;
    padding: 35px;
        box-sizing: border-box;
        border: 1.5px solid #dae2ed;
    
        tr {
            padding-left: 35px;
    
            th {
                color: #010101;
                font-weight: normal;
                font-size: 18px;
                line-height: 18px;
    
                background: #FAFAFB 0% 0% no-repeat padding-box;
    
                &:first-child {
                    padding-left: 35px;
                    width: 33.33%;
                }
            }
    
            td {
    
                border-top: none;
                border-top: 1px solid #71869a00;
                border-left: 1px solid #71869a00;
    
    
            }
    
            &:last-child {
                margin-bottom: 35px;
            }
    
    
        }
    
        .first {
            padding-left: 35px;
            width: 33.33%;
            border-right: 1.5px solid #dae2ed;
        }
    
        .second_head {
            height: 32px;
         
            border-left: 1.5px solid #ff000000;
            border-bottom: 1.5px solid #dae2ed;
            border-bottom: 1.5px solid #dae2ed;
    
    
            td {
              color: #3687E8 !important;
                border-bottom: 1.5px solid #dae2ed;
                width: auto;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
            }
    
    
        }
 }