@import '../styles/Core/config';
.container_inner {
  margin: 28px;
  margin-bottom: 154px;
  @include respond(sm-desktop) {
    margin: 20px;
  }
  @include respond(phone) {
    margin: 15px;
    margin-bottom: 121px;
  }
  .head_header {
    height: 48px;
    display: flex;
    align-items: center;
    margin: 0 0 27px 10px;
    @include respond(lg-desktop) {
        height: 40px;
        margin-bottom: 20px;
    }
    .back_arrow {
      width: 13px;
      height: 21px;
      background: transparent;
      @include respond(lg-desktop) {
        width: 10px;
        height: auto;
      }
    }
    .heading {
      font-size: 34px;
      font-weight: bold;
      line-height: 41px;
      margin: 0;
      padding-left: 18px;
      text-transform: lowercase;
      &:first-letter {
          text-transform: uppercase;
      }
      &:first-line {
          text-transform: capitalize;
      }
      @include respond(lg-desktop) {
        font-size: 24px;
        line-height: 1.4;
        padding-left: 10px;
      }
      @include respond(sm-desktop) {
        font-size: 20px;
      }
      @include respond(phone) {
        font-size: 18px;
      }
    }
  }
  .wrapper {
    margin-bottom: 26px;
    border-radius: 6px !important;
    .cardHeader {
      height: 80px;
      cursor: pointer;
      border-bottom: none;
      padding: 25px 35px !important;
      h2 {
        font-size: 22px;
        color: #3687e8;
        font-weight: bold;
        line-height: 27px;
        @include respond(md-desktop) {
          font-size: 22px;
        }
        @include respond(sm-desktop) {
          font-size: 18px;
        }
        @include respond(phone) {
          font-size: 15px;
        }
      }
      span {
        font-size: 45px;
        color: #3687e8;
        font-weight: normal;
        line-height: 20px;
        @include respond(md-desktop) {
          font-size: 42px;
        }
        @include respond(sm-desktop) {
          font-size: 35px;
        }
        @include respond(phone) {
          font-size: 30px;
        }
      }
    }
    .cardBody {
      padding: 0px;
      border-top: 2px solid #cad6e6 ;
      .content {
        .header {
          padding: 25px 35px !important;
          font-weight: bold;
          line-height: 27px;
        }
        h5 {
          font-size: 22px;
          font-weight: bold;
          @include respond(md-desktop) {
            font-size: 20px;
          }
          @include respond(sm-desktop) {
            font-size: 18px;
          }
          @include respond(phone) {
            font-size: 15px;
          }
        }
      }
      .body {
        padding: 25px 35px !important;
        .label_heading {
          top: 22px;
          left: 30px;
          font-size: 16px;
          line-height: 17px;
          letter-spacing: 0.53px;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          transform: translateY(-30px);
          transition: 0.3s all ease-in-out;
          white-space: nowrap;
          z-index: 0;
          max-width: 77%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &::before {
            top: 51%;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            z-index: -1;
            position: absolute;
            transform: translateY(-30%);
          }
          @include respond(md-desktop) {
            font-size: 16px;
          }
          @include respond(sm-desktop) {
            font-size: 14px;
          }
          @include respond(phone) {
            font-size: 12px;
          }
        }
        .input_field {
          height: 60px;
          // background-color: #c3c3c31f;
          // border: 1px solid #0000001f;
          border-radius: 4px;
          font-size: 20px;
          font-weight: 500;
          outline: none;
          box-shadow: none;
          position: relative;
          box-sizing: border-box;
          &:invalid + label {
            //background: none;
            transform: translateY(0);
          }
          &:focus {
            & + label {
              transform: translateY(-30px);
            }
          }
          @include respond(md-desktop) {
            font-size: 18px;
          }
          @include respond(sm-desktop) {
            font-size: 16px;
          }
          @include respond(phone) {
            font-size: 14px;
          }
        }
        .search_image {
          margin-left: -40px;
        }
      }
      .dashboard_form {
        padding: 10px 20px 0px 20px;
        margin: 15px;
        .sub_heading {
          margin-top: 20px;
          font-size: 20px;
          line-height: 25px;
          font-weight: bold;
          text-transform: capitalize;
        }
        .number {
          letter-spacing: 0.19px;
          color: #111111;
          text-transform: capitalize;
          line-height: 25px;
          font-size: 20px;
        }
        h5 {
          letter-spacing: 0.19px;
          color: #111111;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 25px;
          padding-left: 30px;
        }
        .paragraph {
          line-height: 25px;
          letter-spacing: 0.19px;
          font-size: 20px;
          width: 85%;
        }
        .label_heading {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.53px;
          position: absolute;
          pointer-events: none;
          line-height: 17px;
          box-sizing: border-box;
          transform: translateY(-8px);
          margin-left: 20px;
          transition: 0.3s all ease-in-out;
          @include respond(sm-desktop) {
            font-size: 16px;
          }
          @include respond(phone) {
            font-size: 14px;
            //top: 20px;
          }
        }
        .comment_field {
          height: 106px;
          background-color: #c3c3c31f;
          border: 1px solid #0000001f;
          border-radius: 4px;
          font-size: 20px;
          font-weight: 500;
          outline: none;
          box-shadow: none;
          position: relative;
          box-sizing: border-box;
        }
      }
      .datatable {
        width: 879px;
        margin: 0 12px 0 12px;
        box-shadow: none !important;
        border: none !important;
        border: 1px solid #d2d7e5;
        .table_scroll_outer {
          width: 100%;
          display: table;
          table-layout: fixed;
          .table_scroll_inner {
            display: table-cell;
            overflow-x: auto;
            .table {
              border: 1px solid #cad6e6;
              margin-bottom: 0 !important;
              th {
                font-size: 15px;
                line-height: 18px;
                padding: 24px 15px;
                border: 1px solid #cad6e6;
                text-transform: uppercase;
                background: transparent !important;
                &:first-child {
                  padding-left: 35px;
                  @include respond(sm-desktop) {
                    padding-left: 15px;
                  }
                }
                @include respond(md-desktop) {
                  font-size: 14px;
                  line-height: 1.2;
                }
                @include respond(sm-desktop) {
                  font-size: 13px;
                }
                @include respond(phone) {
                  font-size: 12px;
                }
              }
              td {
                font-size: 19px;
                font-weight: 500;
                line-height: 24px;
                padding: 24px 15px;
                border: 1px solid #cad6e6;
                white-space: nowrap;
                &:first-child {
                  padding-left: 35px;
                  @include respond(sm-desktop) {
                    padding-left: 15px;
                  }
                }
                @include respond(md-desktop) {
                  font-size: 17px;
                  padding: 18px 10px;
                }
                @include respond(sm-desktop) {
                  font-size: 15px;
                  padding: 15px 10px;
                }
                @include respond(phone) {
                  font-size: 14px;
                  padding: 10px;
                }
              }
              .buyerName {
                color: #3687e8;
                font-weight: bold;
                text-transform: capitalize;
              }
              .status {
                width: 15px;
                height: 15px;
                margin-right: 10px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
              }
              .approved {
                background: #26dd73;
              }
              .rejected {
                background: #ed714c;
              }
              .review {
                background: #ffce00;
              }
            }
          }
        }
      }
      .line {
        border: 0.5px solid #cad6e6;
      }
    }
  }
  .upload_main {
    border-radius: 6px;
    margin-bottom: 26px;
    .head_container {
      cursor: pointer;
      padding: 25px 35px !important;
      .heading {
        font-size: 22px;
        font-weight: bold;
        color: #3687e8;
        line-height: 27px;
        margin-bottom: 0;
        text-transform: lowercase;
        &:first-letter {
            text-transform: uppercase;
        }
        &:first-line {
            text-transform: capitalize;
        }
        @include respond(md-desktop) {
          font-size: 22px;
        }
        @include respond(sm-desktop) {
          font-size: 18px;
        }
        @include respond(phone) {
          font-size: 15px;
        }
      }
      span {
        font-size: 45px;
        color: #3687e8;
        font-weight: normal;
        line-height: 20px;
        @include respond(md-desktop) {
          font-size: 42px;
        }
        @include respond(sm-desktop) {
          font-size: 35px;
        }
        @include respond(phone) {
          font-size: 30px;
        }
      }
    }
    .dashboard_form {
      padding: 40px 35px 40px 35px;
      @include respond(phone) {
        padding: 25px 20px 20px;
      }
      .drop_container {
        background-color: #c3c3c31f;
        border: 1px dashed #00000045;
        border-radius: 4px;
        height: 284px;
        line-height: 1;
        .upload_image {
          width: 83px;
          height: 83px;
          line-height: 83px;
        }
        .drop_para {
          font-size: 19px;
          line-height: 24px;
          font-weight: 500;
          @include respond(md-desktop) {
            font-size: 17px;
          }
          @include respond(sm-desktop) {
            font-size: 15px;
          }
          @include respond(phone) {
            font-size: 12px;
          }
          a {
            text-decoration: underline;
            font-size: 19px;
            color: #3687e8;
            @include respond(md-desktop) {
              font-size: 17px;
            }
            @include respond(sm-desktop) {
              font-size: 15px;
            }
            @include respond(phone) {
              font-size: 12px;
            }
          }
        }
      }
      .upload_button {
        border: 3px solid #3687e8;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        line-height: 25px;
        color: #3687e8;
        font-weight: bold;
        text-transform: capitalize;
        width: 220px;
        height: 46px;
        //background-color: #ffffff;
        @include respond(md-desktop) {
          font-size: 18px;
        }
        @include respond(sm-desktop) {
          font-size: 16px;
          width: 180px;
          height: 40px;
        }
        @include respond(phone) {
          font-size: $font_size_mobile_input_label;
          padding-top: -30px;
          width: 100%;
          height: 35px;
        }
      }
      .form_group {
        position: relative;
        margin-bottom: 40px;
        margin-top: 20px;
        .label {
          font-size: 16px;
          letter-spacing: 0.53px;
          text-transform: capitalize;
          position: absolute;
          left: 15px;
          top: -10px;
          line-height: 1;
          left: 30px;
          top: -8px;
          @include respond(phone) {
            font-size: $font_size_mobile_text;
            margin-top: 5px !important;
          }
          @include respond(sm-desktop) {
            margin-top: 5px !important;
            font-size: $font_size_mobile_input_label;
          }
        }
        .value {
          font-size: 20px;
          letter-spacing: 0.19px;
          text-transform: capitalize;
          border: 1px solid #0000001f;
          border-radius: 4px;
          height: 60px;
          @include respond(md-desktop) {
            font-size: 18px;
          }
          @include respond(sm-desktop) {
            font-size: 16px;
            height: 55px;
          }
          @include respond(phone) {
            font-size: 14px;
            height: 45px;
            border-radius: 2px;
          }
        }
      }
      .uploadBtnWrapper {
        overflow: hidden;
        position: relative;
        display: inline-block;
        input {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          cursor: pointer;
          position: absolute;
        }
        @include respond(phone) {
          width: 100%;
        }
      }
    }
    .table_container {
      background-color: #fafafb;
      .table_scroll_outer {
        width: 100%;
        display: table;
        table-layout: fixed;
        .table_scroll_inner {
          display: table-cell;
          overflow-x: auto;
          .table {
            th {
              font-size: 15px;
              color: #8492a6;
              font-weight: bold;
              line-height: 18px;
              padding: 20px 15px;
              vertical-align: middle;
              background: #fafafb;
              text-transform: uppercase;
              border-top: 2px solid #f2f5f9;
              border-bottom: 2px solid #f2f5f9;
              &:first-child {
                padding-left: 35px;
                @include respond(sm-desktop) {
                  padding-left: 15px;
                }
              }
              img {
                opacity: 0.4;
                width: 14px;
                height: 14px;
              }
              @include respond(md-desktop) {
                font-size: 14px;
                line-height: 1.2;
              }
              @include respond(sm-desktop) {
                font-size: 13px;
              }
              @include respond(phone) {
                font-size: 12px;
              }
            }
            tr {
              &:last-child {
                border-bottom: none;
              }
              td {
                font-size: 19px;
                font-weight: 500;
                line-height: 24px;
                padding: 24px 15px;
                border-top: none;
                vertical-align: middle;
                border-bottom: 2px solid #f2f5f9;
                white-space: nowrap;
                @include respond(md-desktop) {
                  font-size: 17px;
                }
                @include respond(sm-desktop) {
                  font-size: 15px;
                }
                @include respond(phone) {
                  font-size: 12px;
                }
                .actionContainer {
                  @include respond(phone) {
                    display: flex;
                  }
                  @include respond(sm-desktop) {
                    display: flex;
                  }
                }
              }
            }
            .updateBtn {
              text-align: center;
              color: #3687e8;
              text-transform: capitalize;
              border: 3px solid #3687e8;
              border-radius: 5px;
              font-size: 18px;
              line-height: 23px;
              font-weight: bold;
              background: transparent;
              padding: 8px 30px 8px 30px;
            }
            .doc_name {
              font-weight: bold;
              line-height: 25px;
              font-size: 20px;
              text-transform: capitalize;
              padding-left: 35px;
              @include respond(md-desktop) {
                font-size: 18px;
              }
              @include respond(sm-desktop) {
                font-size: 16px;
              }
              @include respond(phone) {
                font-size: 14px;
              }
            }
            .doc_row {
              font-size: 19px;
              line-height: 24px;
              opacity: 0.7;
              font-weight: 500;
              @include respond(md-desktop) {
                font-size: 17px;
              }
              @include respond(sm-desktop) {
                font-size: 15px;
              }
              @include respond(phone) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .table_clause {
    margin-top: 40px;
    border: none !important;
    .table_header {
      letter-spacing: 0.53px;
     // color: #00000080;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 17px;
      font-weight: 500;
      border: none !important;
      box-shadow: none !important;
      background: none !important;
      @include respond(md-desktop) {
        font-size: 14px;
        line-height: 1.2;
      }
      @include respond(sm-desktop) {
        font-size: 13px;
      }
      @include respond(phone) {
        font-size: 12px;
      }
    }
    tr {
      border-bottom: none !important;
      td {
        color: #111111;
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        border: none !important;
        vertical-align: middle;
        @include respond(md-desktop) {
          font-size: 17px;
        }
        @include respond(sm-desktop) {
          font-size: 15px;
        }
        @include respond(phone) {
          font-size: 12px;
        }
        .image {
          padding: 10px 9px;
          border-radius: 4px;
          background: #c3c3c31f;
          border: 1px solid #0000001f;
        }
      }
    }
    .updateBtn {
      text-align: center;
      color: #3687e8;
      text-transform: capitalize;
      border: 3px solid #3687e8;
      border-radius: 5px;
      font-size: 18px;
      line-height: 23px;
      font-weight: bold;
      background: transparent;
      padding: 8px 30px 8px 30px;
      @include respond(md-desktop) {
        font-size: 16px;
      }
      @include respond(sm-desktop) {
        font-size: 14px;
        padding: 4px 25px 4px 25px;
      }
      @include respond(phone) {
        font-size: 12px;
        padding: 0px 15px 0 15px;
      }
    }
  }
}
.calanderIcon {
  margin-left: -40px;
  margin-top: 15px;
  width: 23px;
  height: 26px;
  pointer-events: none;
}
.arrow {
  margin-left: -40px;
  width: 13px;
  pointer-events: none;
  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}
.customSelect {
  appearance: none;
  // position: relative;
}
