@import 'Core/config';

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, #d2d7e5, 10%)
) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 0px 0px 6px 0px;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(10px, #3687e8);

:root {
  /* Your default theme */
  --background: #f3f4f7;
  --card_background: #ffffff;
  --sidebar_background: #0a1834;
  --sidebar_selected: #102141;
  --sidebar_children: #102141;
  --sidebar_children_selected: #1c3362;
  --component_header: #111111;
  --inner_input: #c3c3c31f;
  --input-border: #0000001f;
}

[data-theme='dark'] {
  --background: #171e27;
  --card_background: #293141;
  --sidebar_background: #02215a;
  --sidebar_selected: #232936;
  --sidebar_children: #232936;
  --sidebar_children_selected: #1c3362;
  --component_header: #ffffff;
  --inner_input: #1d2530;
  --input-border: #434e61;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  // -webkit-appearance: none;
}
body.light-mode {
  font-family: 'Helvetica Neue';
  background: #f3f4f7 !important;
  color: #333 !important;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  font-family: 'Helvetica Neue';
  background-color: #171e27 !important;
  color: #ffffff !important;
  transition: background-color 0.3s ease;
}
body.dark-mode .sidebar-bg {
  background: #1d232e;
}
body.light-mode .sidebar-bg {
  background: #0a1834;
}
body.dark-mode .sidebar-selected {
  background: #232936;
}

body.light-mode .sidebar-selected {
  background: #102141;
}
body.light-mode .breadcrum_mode {
  color: #2837566a;
}
body.dark-mode .breadcrum_mode {
  color: #9fa5b4;
}
body.light-mode .highlight .breadcrum_mode {
  color: #3687e8;
}
body.dark-mode .highlight .breadcrum_mode {
  color: #3687e8;
}
body.dark-mode .card-body {
  border-radius: 0 0 8px 8px;
  background: #293141;
  box-shadow: 0px 8px 25px #72727234;
  border: none;
}
body.light-mode .card-body {
  border-radius: 0 0 8px 8px;
  background-color: #fff !important;
}
body.dark-mode .border_color {
  border-color: #434e61 !important;
}
body.light-mode .border_color {
  border-color: #d9dde8 !important;
}
body.dark-mode .border_color.collapsed {
  border: none;
}
body.dark-mode .hr_line {
  background: rgba(67, 78, 97, 1);
}
body.light-mode .hr_line {
  background: rgba(112, 112, 112, 0.1);
}
body.dark-mode .form-check-label {
  color: #ffffff;
}
body.light-mode .form-check-label {
  color: #111111;
}
body.dark-mode .main {
  background: #171e27;
  color: #ffffff;
  box-shadow: 0px 8px 25px #72727234;
  border-color: #434e61;
}
body.light-mode .main {
  background: #fff !important;
  color: #000000;
  box-shadow: 0 3px 6px #cad0e2;
  border: 1px solid #d2d7e5;
}
body.dark-mode .upload_main {
  background: #171e27;
  color: #ffffff;
  box-shadow: 0px 8px 25px #72727234;
  border: 1px solid #434e61;
}
body.light-mode .upload_main {
  background: #fff !important;
  color: #000000;
  box-shadow: 0 3px 6px #cad0e2;
  border: 1px solid #d2d7e5;
}
body.dark-mode .heading {
  color: #ffffff !important;
}

body.light-mode .heading {
  color: #000000 !important;
}
body.dark-mode .card {
  background: #171e27;
  color: #ffffff;
}

body.light-mode .card {
  background: #ffffff;
  color: #000000;
  box-shadow: 0px 3px 12px #e5e7ed;
}
body.dark-mode .card2 {
  background: #171e27;
  color: #ffffff;
}

body.light-mode .card2 {
  background: #f3f4f7;
  color: #000000;
  box-shadow: 0px 3px 12px #e5e7ed;
}
body.dark-mode .previewCard {
  background: #171e27;
  //color: #FFFFFF;
}

body.light-mode .previewCard {
  background: #d8eaff;
  //color: #000000;
  //box-shadow: 0px 3px 12px #E5E7ED;
}

body.dark-mode .card_main {
  background: #171e27;
}
body.light-mode .card_main {
  background: #f3f4f7;
}
body.dark-mode .search_container {
  background: #171e27;
}

body.light-mode .search_container {
  background: #f0f0f0;
}

body.dark-mode .clear_btn {
  background-color: #ffffff00;
  box-shadow: 0px 4px 12px #72727234;
  border: 3px solid #52a4ff;
  border-radius: 8px;
  color: #3687e8;
}

body.light-mode .clear_btn {
  background-color: #ffffff;
  box-shadow: 0px 4px 12px #72727234;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  color: #3687e8;
}

// body.dark-mode .label_heading {
//   color: #FFFFFF80;
//   background: #ffffff00;
// }

// body.light-mode .label_heading {
//   color: #00000080;
//   background: #ffffff;
// }
body.dark-mode .text {
  color: #ffffff80 !important;
}

body.light-mode .text {
  color: #00000080 !important;
}
body.dark-mode .text1 {
  color: #ffffff80 !important;
}

body.light-mode .text1 {
  color: #000000 !important;
}
body.dark-mode .label_heading_login {
  color: #ffffff80;
  background: #171e27 !important;
}

body.light-mode .label_heading_login {
  color: #00000080;
  background: #ffffff;
}

body.dark-mode .input {
  color: #ffffff;
  background: #1d2530;
  border: 1px solid #434e61;
}

body.light-mode .input {
  color: #111111;
  background: #c3c3c31f;
  border: 1px solid #0000001f;
}
body.dark-mode .vessel_card .label_heading::before,
body.dark-mode .label_heading {
  color: #ffffff80;
  background: #293141;
}
body.light-mode .vessel_card .label_heading::before,
body.light-mode .label_heading {
  color: #00000080;
  background: #ffffff;
}
body.dark-mode .input:invalid + label {
  background: none;
}
body.dark-mode .input:focus + label {
  background: #293141;
}
body.light-mode .input:invalid + label {
  background: none;
}
body.light-mode .input:focus + label {
  background: #ffffff;
}

body.dark-mode .label_heading,
body.light-mode .label_heading,
body.dark-mode .vessel_card .input:invalid + label,
body.light-mode .vessel_card .input:invalid + label,
body.dark-mode .vessel_card .input:focus + label,
body.light-mode .vessel_card .input:focus + label {
  background: none;
}
body.dark-mode .vessel_card .input:invalid + label::before {
  background: none;
}
body.dark-mode .vessel_card .input:focus + label::before {
  background: #293141;
}
body.light-mode .vessel_card .input:invalid + label::before {
  background: none;
}
body.light-mode .vessel_card .input:focus + label::before {
  background: #ffffff;
}

body.dark-mode .sub_heading {
  color: #ffffff;
}

body.light-mode .sub_heading {
  color: #00000080 !important;
}

body.dark-mode .radio {
  color: #ffffff;
}

body.light-mode .radio {
  color: #111111;
}

body.light-mode .line {
  border: 2px solid #d9dde8;
}

body.dark-mode .line {
  border: 2px solid #3687e8;
}

body.light-mode .term_para {
  color: #111111;
}

body.dark-mode .term_para {
  color: #ffffff;
}

body.light-mode .cancel_btn {
  border: 3px solid #3687e8;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  background-color: #ffffff;
  color: #111111;
}

body.dark-mode .cancel_btn {
  border: 3px solid #3687e8;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  background-color: #293141;
  color: #ffffff;
}

body.light-mode .submit_btn {
  background-color: #3687e8;
}

body.dark-mode .submit_btn {
  background-color: #3687e8;
}
body.light-mode .para {
  color: #667085;
}
body.dark-mode .para {
  color: #ffffff;
}
body.dark-mode .background1 {
  border: none;
  box-shadow: none;
  background-color: #232936;
}
body.light-mode .background1 {
  // box-shadow: none;
  background-color: #ffffff;
}
body.dark-mode .background2 {
  border: none;
  background-color: #232936;
}
body.light-mode .background2 {
  background-color: #f3f4f7;
}

body.dark-mode .color {
  color: #9fa5b4;
}
body.light-mode .color {
  color: #283756;
}

body.dark-mode .background {
  background-color: #171e27;
}

body.light-mode .darknavbar {
  background: transparent
    linear-gradient(265deg, #3687e8 0%, #4669b1 58%, #0a1834 100%);
}

body.dark-mode .darknavbar {
  background: transparent linear-gradient(95deg, #293141 0%, #4b61a1 100%);
}

body.dark-mode .border {
  box-shadow: 0px 4px 12px #72727234;
  border: none;
  /* leads */
}
body.light-mode .lead_main {
  background: #ffffff;
}
body.dark-mode .lead_main {
  background: #171e27;
}
body.light-mode .formControl {
  background: #ffffff;
  border: 2px solid #434e61;
}
body.dark-mode .formControl {
  background: #293141;
  border: 2px solid #d2d7e5;
}
body.light-mode .filterList {
  background: #ffffff;
  color: #111111;
  box-shadow: 0px 3px 12px #e5e7ed;
  border: 1px solid #d2d7e5;
}
body.dark-mode .filterList {
  background: #434e61;
  color: #ffffff;
  box-shadow: 0px 8px 25px #72727234;
  border: 1px solid #ffffff80;
}
body.light-mode .statusBox {
  background: #ffffff;
  box-shadow: 0 3px 6px #cad0e2;
  //border: 1px solid #d2d7e5;
}
body.dark-mode .statusBox {
  background: #434e61;
  box-shadow: none;
  //border: 1px solid #434E61;
}
body.dark-mode .statusBox h3 {
  color: #ffffff;
}
body.light-mode .statusBox h3 {
  color: #111111;
}
body.light-mode .status_number {
  color: #000000;
}
body.dark-mode .status_number {
  color: #ffffff;
}
body.light-mode .datatable {
  box-shadow: 0 3px 6px #cad0e2;
  border: 1px solid #d2d7e5;
}
body.dark-mode .datatable {
  box-shadow: 0px 0px 10px #72727234;
}

body.light-mode .table_heading {
  color: #8492a6;
  background: #fafafb;
  border-bottom: 2px solid #f2f5f9;
}
body.dark-mode .table_heading {
  color: #ffffff;
  background: #293141;
}
body.light-mode .table_container {
  background: #ffffff;
}

body.dark-mode .table_container {
  color: #ffffff;
  background: #293141;
}
body.light-mode .table_row {
  background: #ffffff;
  color: rgba(17, 17, 17, 0.7);
  border-bottom: 2px solid #f2f5f9;
}
body.dark-mode .table_row {
  color: #ffffff80;
  background: #232936;
  border-bottom: 2px solid #434e61 !important;
}
body.light-mode .uploadRowTable {
  background: #ffffff;
  color: rgba(17, 17, 17, 0.7);
  border-bottom: 2px solid #f2f5f9;
}

body.dark-mode .uploadRowTable {
  color: #ffffff80;
  background: #232936;
  border-bottom: 2px solid #434e61 !important;
}
body.light-mode .table_row_head {
  background: #fafafb;
}

body.dark-mode .table_row_head {
}
body.light-mode .table_row .buyerName {
  color: #111111;
}
body.dark-mode .table_row .buyerName {
  color: #ffffff;
}
body.light-mode .table_credit {
  background: #ffffff;
  color: #000000;
  border-bottom: 1px solid #d2d7e5;
  box-shadow: 0px 3px 6px #cad0e2;
}
body.dark-mode .table_credit {
  color: #ffffff80;
  background: #171e27;
  border-bottom: 1px solid #434e61 !important;
  box-shadow: none;
}

body.light-mode .table_row17 {
  background: #ffffff;
  color: #000000;
  border-bottom: 2px solid #f2f5f9;
}
body.dark-mode .table_row17 {
  color: #ffffff80;
  border: 2px solid #434e61;
}

// body.light-mode .arrow {
//   // background: #fafafb;
//   border: 1px solid #f2f5f9;

// }
// body.dark-mode .arrow  {
//   // background: #293141;
//   border: 1px solid #FFFFFF80;

// }

body.light-mode .leads {
  background: #ffffff;
  box-shadow: 0 3px 6px #cad0e2;
}

body.dark-mode .leads {
  background: #434e61;
  box-shadow: none;
}

body.light-mode .sub_card {
  box-shadow: 0 3px 6px #cad0e2;
  background: #ffffff;
}
body.dark-mode .sub_card {
  box-shadow: none;
  background: #293141;
}

body.light-mode .label {
  color: #00000080;
}
body.dark-mode .label {
  color: #ffffff;
}
body.light-mode .label1 {
  color: rgba(17, 17, 17, 0.7);
}
body.dark-mode .label1 {
  color: rgba(255, 255, 255, 0.7);
}
body.light-mode .value {
  color: #111111;
}
body.dark-mode .value {
  color: #ffffff80;
}
body.dark-mode .value_card {
  background: #434e61;
}

body.light-mode .tabHeader {
  background: #ffffff;
  border-bottom: 1px solid #d2d7e5;
  -webkit-box-shadow: 0 8px 13px -5px #cad0e2;
  box-shadow: 0 8px 13px -5px #cad0e2;
}

body.dark-mode .tabHeader {
  background: #171e27;
  border-bottom: 1px solid #171e27;
  -webkit-box-shadow: 0 8px 13px -5px #171e27;
  box-shadow: 0 8px 13px -5px #171e27;
}

body.light-mode .navLink {
  color: rgba(40, 72, 123, 0.4);
}

body.dark-mode .navLink {
  color: #fafafb !important;
}
body.light-mode .navLink.active {
  color: #3687e8 !important;
  border-bottom: 6px solid #3687e8 !important;
}

body.dark-mode .navLink.active {
  color: #3687e8 !important;
  border-bottom: 6px solid #3687e8 !important;
  background-color: #171e27 !important;
}
body.light-mode .LC_draft_tabs .nav-link {
  border: none;
  color: #3687E8;
  border-bottom: 2px solid #CAD6E65E;
}
body.dark-mode .LC_draft_tabs .nav-link {
  border: none;
  color: #3687E8;
  border-bottom: 2px solid #CAD6E65E;
}
body.light-mode .LC_draft_tabs .nav-link.active {
  color: #ffffff;
  background: #3687E8;
  border-bottom: 2px solid #3687E8;
  box-shadow: inset -4px -4px 6px #00000029;
}
body.dark-mode .LC_draft_tabs .nav-link.active {
  color: #ffffff;
  background: #3687E8;
  border-bottom: 2px solid #3687E8;
  box-shadow: inset -4px -4px 6px #00000029;
}

body.light-mode .share_via .nav-link,
body.light-mode .verify_gst .nav-link {
  border: none;
  color: #344054;
  border-bottom: 3px solid transparent;
}

body.dark-mode .share_via .nav-link,
body.dark-mode .verify_gst .nav-link {
  border: none;
  color: #ffffff80;
  border-bottom: 3px solid transparent;
}
body.light-mode .share_via .nav-link.active,
body.light-mode .verify_gst .nav-link.active {
  border-bottom: 3px solid #3687e8;
}
body.dark-mode .share_via .nav-link.active,
body.dark-mode .verify_gst .nav-link.active {
  border-bottom: 3px solid #3687e8;
}

body.light-mode .accordion {
  background: #f3f4f7;
  color: #000000;

  -webkit-box-shadow: 0 3px 6px #cad0e2;
  box-shadow: 0 3px 6px #cad0e2;
}

body.dark-mode .accordionMargin {
  box-shadow: 0px 0px 10px #72727234;
  color: #ffffff;

  box-shadow: 0 3px 6px #404040;
}
body.light-mode .accordionMargin {
  background: #ffffff;
  color: #000000;

  -webkit-box-shadow: 0 3px 6px #cad0e2;
  box-shadow: 0 3px 6px #cad0e2;
}

body.dark-mode .accordion {
  box-shadow: 0px 0px 10px #72727234;
  color: #ffffff;

  box-shadow: 0 3px 6px #404040;
}
body.light-mode .accordion_Text {
  color: #2837566a;
}

body.dark-mode .accordion_Text {
  color: #ffffff !important;
}
body.light-mode .termsheet_Text {
  color: #111111;
  letter-spacing: 0.19px;
  font-size: 20px;
  line-height: 25px;
}

body.dark-mode .termsheet_Text {
  color: #ffffff !important;
  letter-spacing: 0.19px;
  letter-spacing: 0.19px;
  font-size: 20px;
  line-height: 25px;
}
body.light-mode .text_sales {
  color: #000000;
}

body.dark-mode .text_sales {
  color: #ffffff;
}
body.light-mode .accordion_body {
  background: #f3f4f7 !important;
}

body.dark-mode .accordion_body {
  background: #293141 !important;
}

body.dark-mode th {
  background-color: #232936 !important;
  border-color: #434e61 !important;
}
body.light-mode th {
  color: #8492a6;
  border-color: #d9dde8 !important;
  background: #fafafb !important;
}
body.dark-mode td {
  color: rgba(255, 255, 255, 0.7);
  border-color: #434e61 !important;
}
body.light-mode td {
  border-color: #d9dde8 !important;
  color: rgba(17, 17, 17, 0.7);
}
body.dark-mode .row_head {
  background-color: #232936 !important;
}

body.light-mode .row_head {
  background: #fafafb;
}
body.dark-mode .image_arrow {
  //  transform:rotate(90deg);
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(352deg)
    brightness(103%) contrast(101%);
}

body.light-mode .image_arrow {
}

body.light-mode .accordion_DropDown {
  color: #3687e8;
  background: #f3f4f7;
}

body.dark-mode .accordion_DropDown {
  background: #1d2530;
}
body.dark-mode .card_sub_header {
  background-color: #232936 !important;
  border-color: #434e61 !important;
}

body.light-mode .card_sub_header {
  border-color: #d9dde8 !important;
  background: #fafafb !important;
}
body.dark-mode .gst_profile_alerts {
  background: #293141 !important;
  border-color: #434e61 !important;
}

body.light-mode .gst_profile_alerts {
  border-color: #d9dde8 !important;
  background: #fafafb !important;
}
body.dark-mode .Compliance {
  color: #000000 !important;
}

body.light-mode .Compliance {
  color: #000000 !important;
}

body.dark-mode .Ligitations {
  color: #000000 !important;
}

body.light-mode .Ligitations {
  color: #ffffff !important;
  color: #3687e8;
  background: #1d2530;
}

body.light_mode .unit_label {
  color: #2837566a;
}

body.dark_mode .unit_label {
  color: #ffffff80;
}
body.light_mode .head_container {
  border-bottom: 3px solid #d9dde8 !important;
}

body.dark_mode .head_container {
  border-bottom: 3px solid #434e61;
}

body .danger {
  color: #ea3f3f !important;
}

body .good {
  color: #43c34d !important;
}

body .satisfactory {
  color: #ff9d00 !important;
}

body.light-mode .heading_card_switch_blue {
  color: #111111;
}

body.dark-mode .heading_card_switch_blue {
  color: #3687e8;
}
body.light-mode .explore-value {
  color: #111111;
}
body.dark-mode .explore-value {
  color: #ffffff80;
}
body.light-mode .cta_bar {
  background: #ffffff;
}
body.dark-mode .cta_bar {
  box-shadow: none;
  background: #232936;
  border-color: #232936;
}
body.light-mode .directorDetails .card {
  background: #fafafa;
  border: 2px solid #e6eaf0;
  border-left: none;
}
body.dark-mode .directorDetails .card {
  background: #171e27;
  border: 2px solid #171e27;
  border-left: none;
}
body.light-mode .directorDetails .card-header {
  border-left: 9px solid #3687e8;
}
body.dark-mode .directorDetails .card-header {
  border-left: 9px solid #3687e8;
}
body.light-mode .directorDetails .card-body {
  background: none !important;
  border-left: 9px solid #c4d7ef !important;
}
body.dark-mode .directorDetails .card-body {
  border-left: 9px solid #c4d7ef !important;
}
body.light-mode .directorDetails .collapsed {
  border-left: 9px solid #3687e8;
}
body.dark-mode .directorDetails .collapsed {
  border-left: 9px solid #3687e8;
}
body.light-mode .directorDetails .card-header .image_arrow {
  transform: rotate(90deg);
}
body.dark-mode .directorDetails .card-header .image_arrow {
  transform: rotate(90deg);
}
body.light-mode .directorDetails .collapsed .image_arrow {
  transform: rotate(-90deg);
}
body.dark-mode .directorDetails .collapsed .image_arrow {
  transform: rotate(-90deg);
}
