@import "../styles/Core/config";
/*--------------------------Header--------------------------*/
.main_container {
    position: fixed;
    height: auto;
    z-index: 2;
    width: 100%;
    // height: 100%;
    padding: 13px 0 12px;
    background: transparent linear-gradient( 265deg, var(--unnamed-color-3687e8) 0%, #4669b1 58%, #0a1834 100%) 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #ffffff36;
    @include respond(lg-desktop) {
      // padding: 10px 0;
    }
    .hamburgureContainer {
        .logo {
            float: left;
            z-index: 2;
            position: relative;
            display: inline-block;
            margin-left: 22px;
            img {
                @include respond(lg-desktop) {
                    height: 45px;
                }
                @include respond(md-desktop) {
                    height: 40px;
                }
                @include respond(sm-desktop) {
                    height: 35px;
                    margin-left: 0;
                }
                @include respond(phone) {
                    height: 30px;
                }
            }
        }
        .logo2 {
            margin-top: 0.3rem;
            float: left;
            z-index: 2;
            position: relative;
            display: inline-block;
            @include respond(md-desktop) {
                margin-top: 0.2rem;
            }
            @include respond(phone) {
                margin-top: 0.1rem;
            }
            img {
                @include respond(lg-desktop) {
                    height: 35px;
                }
                @include respond(md-desktop) {
                    height: 32px;
                }
                @include respond(sm-desktop) {
                    height: 30px;
                }
                @include respond(phone) {
                    height: 28px;
                }
            }
        }
    }
    .theme {
        margin-right: 40px;
        @include respond(lg-desktop) {
            margin-right: 30px;
        }
        @include respond(md-desktop) {
            margin-right: 20px;
        }
        @include respond(sm-desktop) {
            margin-right: 10px;
        }
        @include respond(phone) {
            margin-right: 0;
        }
        a {
            margin: 0 5px 0 4px;
            display: inline-block;
            img {              
                @include respond(lg-desktop) {
                    height: 35px;
                    margin-left: 10px !important;
                    margin-right: 10px !important;
                }
                @include respond(md-desktop) {
                    height: 30px;
                    margin-left: 5px !important;
                    margin-right: 5px !important;
                }
                @include respond(sm-desktop) {
                    height: 25px;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
            &:last-child {
                img {
                    margin-right: 7px !important;
                }
            }
        }
    } 
    .header_icon {
        padding: 0;
        margin: 0 48px 0 0;
        @include respond(lg-desktop) {
            margin-right: 30px;
        }
        @include respond(md-desktop) {
            margin-right: 20px;
        }
        @include respond(sm-desktop) {
            margin-right: 10px;
        }
        li {
            margin: 0 12px;
            list-style: none;
            display: inline-block;
            @include respond(lg-desktop) {
                margin: 0 12px;
            }
            @include respond(md-desktop) {
                margin: 0 5px;
            }
            img  {
                // height: 38px;
                @include respond(lg-desktop) {
                    height: 35px;
                }
                @include respond(md-desktop) {
                    height: 30px;
                }
                @include respond(sm-desktop) {
                    height: 25px;
                }
            }
        }
    }
    .user_profile {
        text-align: left;
        position: relative;
        margin-right: 60px;
        @include respond(lg-desktop) {
            margin-right: 40px;
        }
        @include respond(md-desktop) {
          margin-right: 30px;
        }
        @include respond(phone) {
            margin-right: 23px;
        }
        & > a {
            font-size: 20px;
            font-weight: 500;
            line-height: 25px;
            color: #ffffff;
            text-decoration: none;
            text-transform: capitalize;
            @include respond(lg-desktop) {
                font-size: 18px;
                line-height: 1.25;
            }
            @include respond(md-desktop) {
                font-size: 16px;
            }
            @include respond(sm-desktop) {
                font-size: 15px;
            }
            @include respond(phone) {
                font-size: 13px;
            }
            &::after {
                top: 50%;
                right: -24px;
                position: absolute;
                transform: translateY(-50%);
                @include respond(md-desktop) {
                  right: -20px;
                }
                @include respond(phone) {
                    right: -13px;
                }
            }
            &:hover {
                color: #ffffff;
            }
            img {
                width: 50px;
                float: left;
                margin-right: 10px;
                // margin-top: 0.5rem;
                @include respond(lg-desktop) {
                    width: 45px;
                }
                @include respond(md-desktop) {
                    width: 40px;
                }
                @include respond(phone) {
                    width: 30px;
                    margin: 5px 5px 0 0;
                }
            }
            span {
                display: block;
                font-size: 16px;
                font-weight: normal;
                line-height: 18px;
                @include respond(lg-desktop) {
                    font-size: 15px;
                    line-height: 1.20;
                }
                @include respond(md-desktop) {
                    font-size: 14px;
                }
                @include respond(sm-desktop) {
                    font-size: 13px;
                }
                @include respond(phone) {
                    font-size: 11px;
                    line-height: 1;
                }
            }
        }
    }
}
.hamburgureContainer {
    margin-left: 1rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 34px;
    @include respond(lg-desktop) {
        width: 50px;
    }
    @include respond(md-desktop) {
        width: 45px;
    }
    @include respond(sm-desktop) {
        width: 40px;
    }
    @include respond(phone) {
        width: 35px;
    }
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
cursor: pointer;

    left: 0;
    right: 0;
    bottom: 0;
    background-color: #214e80;
    -webkit-transition: .4s;
    transition: .4s;
    height:1.5rem;
    @include respond(lg-desktop) {
    }
    @include respond(md-desktop) {
        bottom: 2px;
        height: 1.2rem;
    }
    @include respond(sm-desktop) {
        bottom: 4px;
        height: 1rem;
    }
}    
.slider:before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: -2px;
    bottom: -3px;
    background-color: #ff9336;
    -webkit-transition: .4s;
    transition: .4s;
    @include respond(lg-desktop) {
        height: 1.8rem;
        width: 1.8rem;
    }
    @include respond(md-desktop) {
        height: 1.5rem;
        width: 1.5rem;
    }
    @include respond(sm-desktop) {
        height: 1.3rem;
        width: 1.3rem;
        bottom: -3px;
    }
}
input:checked+.slider {
    background-color: #214e80;
}
input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);    
    @include respond(md-desktop) {
        -webkit-transform: translateX(25px);
        -ms-transform: translateX(25px);
        transform: translateX(25px);  
    }
    @include respond(phone) {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}