.input{
    width:auto;
    max-width:700px;
    height: 36px;
    outline: none;
    box-shadow: none;
    // background: #C3C3C31F;
    // border: 1px solid #0000001F;
    border-radius: 4px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    padding: 5px 8px 5px 8px;
    margin: 0 10px 0 10px;
}