@import '../styles/Core/config';

.wrapper {
  margin-bottom: 1rem;
  border-radius: 6px !important;
}
.cardHeader {
  height: 80px;
  cursor: pointer;
  border-bottom: none;
  padding: 25px 35px !important;

  h2 {
    font-size: 22px;
    color: #3687e8;
    font-weight: bold;
    line-height: 27px;
    @include respond(md-desktop) {
      font-size: 22px;
    }
    @include respond(sm-desktop) {
      font-size: 18px;
    }
    @include respond(phone) {
      font-size: 15px;
    }
  }

  span {
    font-size: 45px;
    color: #3687e8;
    font-weight: normal;
    line-height: 20px;
    @include respond(lg-desktop) {
        font-size: 35px;
    }
    @include respond(sm-desktop) {
      font-size: 32px;
    }
    @include respond(phone) {
      font-size: 30px;
    }
  }
}
.cardBody {
  padding: 0px;
  border-top: 2px solid red !important;
  .content {
    .body {
      padding: 25px 35px !important;
      h5 {
        font-size: 22px;
        line-height: 27px;
        text-transform: capitalize;
        font-weight: bold;
        @include respond(md-desktop) {
          font-size: 20px;
        }
        @include respond(sm-desktop) {
          font-size: 18px;
        }
        @include respond(phone) {
          font-size: 15px;
        }
      }
      .col_header {
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        margin-top: 1.5rem;
        letter-spacing: 0.53px;
        @include respond(md-desktop) {
          font-size: 16px;
        }
        @include respond(sm-desktop) {
          font-size: 14px;
        }
        @include respond(phone) {
          font-size: 12px;
        }
      }
      .col_body {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        @include respond(md-desktop) {
          font-size: 18px;
        }
        @include respond(sm-desktop) {
          font-size: 16px;
        }
        @include respond(phone) {
          font-size: 14px;
        }
      }

      .label_heading {
        font-size: 16px;
        letter-spacing: 0.53px;
        line-height: 17px;
        top: 22px;
        left: 30px;
        margin-bottom: 0;
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        transform: translateY(-30px);
        transition: 0.3s all ease-in-out;
        z-index: 1;
        max-width: 77%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
          top: 51%;
          left: 0;
          width: 100%;
          height: 3px;
          content: '';
          z-index: -1;
          position: absolute;
          transform: translateY(-50%);
        }
        @include respond(lg-desktop) {
            top: 15px;
            font-size: 14px;
            line-height: 15px;
            transform: translateY(-22px);
        }
        @include respond(phone) {
          font-size: 12px;
        }
      }
      .input_field {
        height: 60px;
        background-color: #c3c3c31f;
        border: 1px solid #0000001f;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 500;
        outline: none;
        box-shadow: none;
        position: relative;
        box-sizing: border-box;
        &:invalid + label {
          transform: translateY(0);
        }
        &:focus {
          & + label {
            transform: translateY(-30px);
            @include respond(lg-desktop) {
              transform: translateY(-22px);
            }
          }
        }
        @include respond(lg-desktop) {
            height: 45px;
            font-size: 15px;
            line-height: 1.3;
        }
        @include respond(phone) {
          font-size: 14px;
        }
      }
    }
  }
  .remark_field {
    margin: 25px 0 35px 0;
    padding: 20px;
    letter-spacing: 0.19px;
    color: #111111;
    background: #c3c3c31f;
    border: 1px solid #0000001f;
    border-radius: 4px;
    font-size: 20px;
    line-height: 25px;
    @include respond(lg-desktop) {
        font-size: 15px;
        line-height: 1.3;
    }
    @include respond(phone) {
      font-size: 14px;
    }
  }
}
