.card {
    // width:49%;
    // height: 168px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #E5E7ED;
    border: 1px solid #D2D7E5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: Helvetica;
    padding: 10px;
    margin-bottom: 24px;

    .header {
        margin: 0.5rem;
        text-align: left;
       
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
      
        color: #111111;
        text-transform: capitalize;
        background-color: rgba(0, 0, 0, 0.00);
        border-bottom:none;
    }

    .hr {
        margin: 0px;
        width: 100%;
        border-top: 2px solid rgb(242 243 244);
        
    }

    .body {
        display: flex;
    justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top:1rem;
        padding-bottom: 1rem;
       .leads{
            width: 30%;
            height: 100%;
            display: flex;
                justify-content: space-between;
                align-items: center;
           .leadsSub{
            width: 58px;
                height: 58px;
            background: #2883de3e 0% 0% no-repeat padding-box;
                border-radius: 8px;
                
                display: flex;
                    justify-content: center;
                    align-items: center;
                    
                .image{
                    
                    width: 21px;
                        height: 28px;
                        z-index: 2;
                        opacity: 1;
                }
           } 
           .lead_headContainer{
                margin-right: 1rem;
                display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    .lead_header{
                      
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 18px;
                       
                            letter-spacing: 0px;
                            color: #8492A6;
                            text-transform: uppercase;
                    }
                    .lead_value{
                        font-weight: bold;
                            font-size: 28px;
                            line-height: 34px;
                      
                            letter-spacing: 0px;
                            color: #111111;
                            text-transform: capitalize;
                    }
           }
       }
       .verticalLine{
        border-left: 3px solid rgb(242 243 244);
        height: 100%;
       }
                .lead_headContainer {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
        
                    .lead_header {
        
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 18px;
        
                        letter-spacing: 0px;
                        color: #8492A6;
                        text-transform: uppercase;
                    }
        
                    .lead_value {
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 34px;
        
                        letter-spacing: 0px;
                        color: #111111;
                        text-transform: capitalize;
                    }
                }
}
}