@import '../styles/Core/config';
.card {
  margin-bottom: 24px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #d2d7e5;
  @include respond(lg-desktop) {
    margin-bottom: 20px;
  }
  @include respond(phone) {
    margin-bottom: 15px;
  }
  .header {
    background: none;
    border-width: 2px;
    padding: 16px 23px 14px;
    @include respond(lg-desktop) {
      padding: 15px 20px;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      line-height: 23px;
      margin-bottom: 0;
      @include respond(lg-desktop) {
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
  .hr {
    margin: 0px;
    width: 100%;
    border-top: 2px solid rgb(242 243 244);
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 14px 26px 26px;
    @include respond(lg-desktop) {
      padding: 10px 20px;
    }
    @include respond(md-desktop) {
      padding: 10px 15px;
    }
    .leads {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respond(sm-phone) {
        display: block;
        text-align: center;
      }
      .leadsSub {
        width: 55px;
        height: 54px;
        background: #2883de3e;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(lg-desktop) {
          width: 45px;
          height: 45px;
        }
        @include respond(sm-desktop) {
          width: 40px;
          height: 40px;
        }
        .image {
          width: 21px;
          height: 28px;
          opacity: 1;
          @include respond(lg-desktop) {
            width: 18px;
            height: auto;
          }
        }
      }
      .lead_headContainer {
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        @include respond(lg-desktop) {
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }
        @include respond(md-desktop) {
          margin-right: 0rem;
          margin-left: 0.5rem;
        }
        @include respond(sm-phone) {
          margin: 5px 0 0 0;
        }
        .lead_header {
          font-size: 15px;
          font-weight: bold;
          line-height: 18px;
          color: #8492a6;
          white-space: nowrap;
          text-transform: uppercase;
          @include respond(lg-desktop) {
            font-size: 11px;
            line-height: 1.3;
          }
          @include respond(phone) {
            font-size: 10px;
          }
        }
        .lead_value {
          font-size: 28px;
          font-weight: bold;
          line-height: 34px;
          color: #111111;
          @include respond(lg-desktop) {
            font-size: 22px;
            line-height: 1.4;
          }
          @include respond(sm-desktop) {
            font-size: 20px;
          }
        }
      }
    }
    .verticalLine {
      height: 50px;
      width: 4px;
      border-left: 2px solid #f2f5f9;
    }
    .lead_headContainer {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .lead_header {
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        color: #8492a6;
        margin-bottom: 5px;
        text-transform: uppercase;
        @include respond(lg-desktop) {
          font-size: 12px;
          line-height: 1.3;
          margin-bottom: 2px;
        }
        @include respond(phone) {
          font-size: 10px;
        }
      }
      .lead_value {
        font-size: 27px;
        font-weight: bold;
        line-height: 33px;
        color: #111111;
        @include respond(lg-desktop) {
          font-size: 22px;
          line-height: 1.4;
        }
        @include respond(sm-desktop) {
          font-size: 20px;
        }
      }
    }
  }
}