.main {
    font-family: Helvetica;
    width: 534px;
    height: 279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #E5E7ED;
    border: 1px solid #D2D7E5;
    border-radius: 8px;
    padding: 10px;
    
    margin-right: 1rem;

  .top_container{
   display: flex;
   justify-content: space-between;
  padding: 0;
     
  .heading {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-111111);
    text-align: left;
    font-weight: bold;
    font-size:18px;
    color: #111111;
    text-transform: capitalize;
    
   
    }

    .image_main_container{
        display: flex;
        justify-content: center;
    
    .image_container{
        margin-top: 7px;
        background-color: #FAFAFB;
        border: 1px solid #F2F5F9;
        border-radius: 8px;
        padding: 6px;
        height: 33px;
        width: 35px;
      
        display: flex;
        justify-content: center;
        align-items:center;
        margin-right: 10px;
    
    
     .image {  
        width: 8px;
        height: 13px;
      }
      .image_reverse{
        transform: rotate(180deg);
        width: 8px;
          height: 13px;
      }
    }
    }

   }

.line {
   
    border: 2px solid #F2F5F9;
}

.country_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;


.each_progress {
    display: flex;
    flex-direction: column;
    justify-content: start;
  

    .country{
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font-size:14px;
        
        color: #8492A6;
       
        text-transform: uppercase;
        
    }
}

.bar_container{
    display: flex;

    .progress_bar{
        display: flex;
        flex-direction: column;
        width: 350px;
        
    
      
      .container {
        height: 9px;
        background-color: #E4ECF7;
        border-radius: 2px;
      }
      
      .barCompleted {
        height: 9px;
        background-color: #2884DE;
        border-radius: 2px;
        width: 80%;
      }
      .barCompleted1 {
        height: 9px;
        background-color: #876EB1;
        border-radius: 2px;
        width: 80%;
      }
      
      .barCompleted2 {
        height: 9px;
        background-color: #4CAF50;
        border-radius: 2px;
        width: 80%;
      }
    }

    .number_container{
        display: flex;
        margin-left: 10px; 
        
        .percent{
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font-size:16px;
        
        color: #8492A6;
        text-transform: capitalize;
        margin-top: -5px;
       
        
        
         }
    
        .amount{
        padding-left: 35px;
        letter-spacing: var(--unnamed-character-spacing-0);
        font-size:18px;
        font-weight: bold;
        
        color: #111111CC;
        text-transform: capitalize;
        margin-top: -7px;
       
        
        }
      }
    }
    
}
}