@import "../styles/Core/config";
.main_container {
    color:#B5D7DD;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size:20px;
    line-height:25px;
    overflow-y: auto;
    background-color: #0A1834;
    @include respond(lg-desktop) {
        font-size: 16px;
        line-height: 1.25;
    }
    @include respond(md-desktop) {
        font-size: 14px;
    }
    .wrapper {
        cursor: pointer;
        width: 100%;
        margin-bottom: 12px;
        .header {
            width: 100%;
            height: 80px;
            display:flex;
            justify-content: space-around;
            align-items: center;
            text-align: left;
            @include respond(lg-desktop) {
                height: 70px;
            }
            @include respond(md-desktop) {
                height: 60px;
            }
            div {
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img {
                    width: 36px;
                    height: 36px;
                    @include respond(lg-desktop) {
                        width: 32px;
                        height: 32px;
                    }
                    @include respond(md-desktop) {
                        width: 28px;
                        height: 28px;
                    }
                }
                span {
                    margin-left: 16px;
                    @include respond(lg-desktop) {
                        margin-left: 13px;
                    }
                    @include respond(md-desktop) {
                        margin-left: 10px;
                    }
                }                
            }                        
            .icon {
                width: 26px;
                height: 26px;
                @include respond(md-desktop) {
                    width: 23px;
                    height: 23px;
                }
            }
        }
        .sub_wrapper {
            // display: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            .sub_header {           
                width: 100%;
                height: 60px;
                display: flex;
                justify-content:center;
                align-items: center;
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                @include respond(lg-desktop) {
                    font-size: 15px;
                    line-height: 1.3;
                    height: 55px;
                }
                @include respond(md-desktop) {
                    font-size: 13px;
                    height: 50px;
                }
                div {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    @include respond(md-desktop) {
                        width: 65%;
                    }
                    span {                        
                        opacity: 1;
                        margin-left: 18px;
                        white-space: nowrap;
                        letter-spacing: 0px;
                        color: #B5D7DD;
                        text-transform: capitalize;
                        @include respond(lg-desktop) {
                            margin-left: 14px;
                        }
                        @include respond(md-desktop) {
                            margin-left: 10px;
                        }
                    }
                }      
            }
        }
        .openlist {
            max-height: fit-content;
        }        
        .closelist {
            max-height: 0px;
            overflow: hidden;
        }      
    }
}

.selected {
    color: #F3BF4E;
    background-color: #1C3362;
}
#show-sidebar {
    transform: translateX(0);
    transition: .5s;
}
#hide-sidebar {
    transform: translateX(100vw);
    transition: .2s;
}