@import "../styles/Core/config";
.card {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    margin: 28px;
    margin-bottom: 68px;
    @include respond(sm-desktop) {
        margin: 20px;
        margin-bottom: 60px;
    }
    @include respond(phone) {
        margin: 15px;
        margin-bottom: 71px;
    }
    .head_container {
        height: 48px;
        display: flex;
        border: none;
        background: none;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 27px 10px;
        @include respond(lg-desktop) {
            height: 40px;
            margin-bottom: 20px;
        }
        @include respond(phone) {
            align-items: center;
            padding: 0.75rem 0rem;
        }
        .head_header {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            .arrow {
                width: 13px;
                height: 21px;
                cursor: pointer;
                background: transparent;
                @include respond(lg-desktop) {
                  width: 10px;
                  height: auto;
                }
            }
            .heading {
              font-size: 34px;
              font-weight: bold;
              line-height: 41px;
              margin: 0;
              padding-left: 18px;
              text-transform: lowercase;
              &:first-letter {
                  text-transform: uppercase;
              }
              &:first-line {
                  text-transform: capitalize;
              }
              @include respond(lg-desktop) {
                font-size: 24px;
                line-height: 1.4;
                padding-left: 10px;
              }
              @include respond(sm-desktop) {
                font-size: 20px;
              }
              @include respond(phone) {
                font-size: 18px;
              }
            }
        }
        .clear_btn {
            width: 116px;
            height: 38px;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            @include respond(phone) {
                font-size: $font_size_mobile_button;
            }
        }
    }
    .body {
        padding: 0;
        background-color: #F3F4F7;
        box-shadow: 0px 3px 12px #cad0e2;
        border: 1px solid #d2d7e5;
        border-radius: 6px !important;
    }
}
.cardDark {
    padding: 20px;
    background: none;
    background: #171E27;
    .head_container {
        display: flex;
        background: none;
        flex-direction: row;
        justify-content: space-between;
        .head_header {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            .arrow {
                width: 13px;
                height: 21px;
                cursor: pointer;
                background: transparent;
                @include respond(lg-desktop) {
                  width: 10px;
                  height: auto;
                }
            }
            .heading {
              font-size: 34px;
              font-weight: bold;
              line-height: 41px;
              margin: 0;
              padding-left: 18px;
              text-transform: lowercase;
              &:first-letter {
                  text-transform: uppercase;
              }
              &:first-line {
                  text-transform: capitalize;
              }
              @include respond(lg-desktop) {
                font-size: 24px;
                line-height: 1.4;
                padding-left: 10px;
              }
              @include respond(sm-desktop) {
                font-size: 20px;
              }
              @include respond(phone) {
                font-size: 18px;
              }
            }
        }
        .clear_btn {
            width: 116px;
            height: 38px;
            background: #171E27;
            box-shadow: 0px 4px 12px #72727234;
            border: 1px solid #3687e8;
            border-radius: 8px;
            color: #3687e8;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
        }
    }
    .body {
        background: #293141 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 25px #72727234;
        border-radius: 6px;
        .line {
            border: 2px solid #3687e8;
        }
    }
}
.customSelect {
    appearance: none;
    // position: relative;
}
.arrow {
    // margin-left: -40px;
    width: 13px;
    pointer-events: none;
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}
.calanderIcon {
    margin-left: -40px;
    margin-top: 15px;
    width: 23px;
    height: 26px;
    pointer-events: none;
}