.card {
    width: 1560px;
    height: 1850px;
    background-color: #f3f4f7;
    padding: 20px;

    .head_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .head_header {
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            .arrow {
                width: 13px;
                height: 21px;
                background: transparent;
                margin-top: 10px;
            }
            .heading {
                padding-left: 18px;
                font-family: Helvetica Neue;
                font-weight: bold;
                font-size: 30px;
                text-align: left;
                letter-spacing: 0px;
                color: #111111;
                text-transform: capitalize;
                margin-top: 0;

            }
        }
        .clear_btn {
            width: 116px;
            height: 38px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 12px #72727234;
            border: 1px solid #EBEBEB;
            border-radius: 8px;
            color: #3687e8;
            text-align: center;
            font-family: Helvetica Neue;
            font-weight: bold;
            font-size: 16px;
        }
    }

    .body {
        width: 1518px;
        height: 1700px;
        background-color: #ffffff;
        box-shadow: 0px 3px 12px #CAD0E2;
        border: 1px solid #D2D7E5;
        border-radius: 6px;

          .line {
            border: 2px solid #D9DDE8;
            
          }
    }
}