.card {
    border: none;
    padding: 20px;
    background: none;
    margin-bottom: 50px;
    .head_container {
        border: none;
        display: flex;
        background: none;
        flex-direction: row;
        padding: 15px 0 27px 10px;
        justify-content: space-between;
        .head_header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .arrow {
                width: 13px;
                height: 21px;
                margin-top: 10px;
            }
            .heading {
                padding-left: 18px;
                font-weight: bold;
                font-size: 30px;
                color: #111111;
                line-height: 41px;
                margin: 0;
            }
        }
        .clear_btn {
            width: 116px;
            height: 38px;
            font-size: 16px;
            color: #3687e8;
            font-weight: bold;
            text-align: center;
            border-radius: 8px;
            border: 1px solid #EBEBEB;
            background-color: #FFFFFF;
            box-shadow: 0 4px 12px #72727234;
        }
    }
    .body {
        padding: 0;
        border-radius: 6px;
        background: #ffffff;
        border: 1px solid #D2D7E5;
        box-shadow: 0 3px 12px #CAD0E2;
        .line {
            border: 2px solid #D9DDE8;            
        }
    }
}
