@import "../src/components/styles/Core/config";
.root_Container {
    // width: 100%;
    // height: 84%;
    padding: 30px 30px 6px;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    // flex-direction: column;
    // overflow-y:scroll;

    // .head_Container {
    // display: flex;
    // justify-content: space-around ;
    // align-items: center;
    // flex-wrap: wrap;
    // width: 100%
    // }
    @include respond(phone) {
        padding: 15px 15px 6px;        
    }
    .dashboardPadding {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bottom_Container {
        // margin-top: 1rem;
        // height: 100%;
        // flex-grow:1;
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        // flex-wrap: wrap;
        // .left_Container {
        // height: 100%;
        // width: 30%;
        // display: flex;
        // justify-content: space-between;
        // align-items: flex-start;
        // flex-direction: column;
        // padding-left: 0.5rem;
        // }
        .right_Container {
            // height: 100%;
            // width: 70%;
            // display: flex;
            // justify-content: flex-start;
            // align-items: center;
            // flex-direction: column;
            // padding-right: 0.5rem;
            .upper_Container {
                // display: flex;
                // justify-content: space-between;
                // align-items: center;
                // .commonCard {
                //     min-height: 280px;
                // }
            }
            .bottom_Container {
                width: 100%;
                .leads {
                    width: 100%;
                    // height: 369px;
                    border-radius: 8px;
                    //background: #ffffff;
                    border: 1px solid #d2d7e5;
                    //box-shadow: 0 3px 6px #cad0e2;
                    .tableFilter {
                        padding-right: 35px;
                        padding-left: 35px;                   
                        h3 {
                            font-size: 22px;
                            color: #111111;
                            font-weight: bold;
                            line-height: 27px;
                            margin: 13px 0;
                            text-transform: capitalize;
                            .rotate{
                                opacity: 0.5;
                                margin-left: 0.5rem;
                                transform:rotate(270deg)
                            }
                        }
                        .filterIcon {
                             width:36px;
                             height:36px;
                             border-radius: 6px;
                             margin-left: 3rem;
                             border-color: rgb(155, 155, 155);
                        }
                        .pageList {
                            span {
                                font-size: 18px;
                                color: #718096;
                                font-weight: 500;
                                line-height: 23px;
                                margin-right: 38px;
                            }
                            .arrow {
                                width: 35px;
                                height: 35px;
                                margin-left: 10px;
                                line-height: 45px;
                                text-align: center;
                                border-radius: 8px;
                                display: inline-block;
                                border: 1px solid #f2f5f9;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: #F2F5F9;
                                img {
                                    width: 8px;
                                    height: 13px;
                                }
                                .image_reverse {
                                    transform: rotate(180deg);
                                    width: 8px;
                                    height: 13px;
                                }
                            }
                            .rightArrow {
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                    .table_scroll {
                        overflow-x: auto;
                        .table {
                            width: 100%;
                            thead {
                                width: 100%;
                                background: #fafafb;
                                height: 44px;
                                th {
                                    height: 100%;
                                    font-size: 15px;
                                    color: #8492a6;
                                    font-weight: bold;
                                    line-height: 18px;
                                    // padding: 24px 15px;
                                    padding-left: 10px;
                                    white-space: nowrap;
                                    text-transform: uppercase;
                                    border-top: 2px solid #f2f5f9;
                                    border-bottom: 2px solid #f2f5f9;
                                    &:first-child {
                                        height: 44px;
                                        padding-left: 35px;
                                    }
                                }
                            }
                            tr {
                                &:last-child {
                                    border-radius: 0 0 8px 8px;
                                    td {
                                      border-bottom: none;
                                    }
                                }
                                td {
                                    font-size: 19px;
                                    //color: rgba(17, 17, 17, 0.7);
                                    font-weight: 500;
                                    line-height: 24px;
                                    padding: 21px 0px;
                                    border-top: none;
                                    padding-left: 10px;
                                    border-bottom: 2px solid #f2f5f9;
                                    &:first-child {
                                        padding-left: 35px;
                                    }
                                    &.buyerName {
                                        font-weight: bold;
                                        text-transform: capitalize;
                                    }
                                    .status {
                                        width: 15px;
                                        height: 15px;
                                        margin-right: 10px;
                                        border-radius: 50%;
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                    .approved {
                                        background: #26dd73;
                                    }
                                    .rejected {
                                        background: #ed714c;
                                    }
                                    .review {
                                        background: #ffce00;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.card {
    box-shadow: 0px 3px 12px #1852ff;
}
.noRotate {
    width: 12px;
    height: 12px;
    opacity: 0.5;
    margin-left: 0.5rem;
}