@import '../../components/styles/Core/config';
.root_container {
  padding: 28px;
  width: 100%;
  margin-bottom: 120px;
  @include respond(sm-desktop) {
    padding: 20px;
  }
  @include respond(phone) {
    padding: 15px;
    margin-bottom: 56px;
  }
  .head_container {
    width: 100%;
    margin-bottom: 32px;
    .head_header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .arrow {
        width: 13px;
        height: 21px;
        background: transparent;
      }
      .heading {
        font-size: 34px;
        font-weight: bold;
        line-height: 41px;
        padding-left: 18px;
        margin: 0;
      }
    }
  }
  .term_container {
    height: 126px;
    border-radius: 6px;
    margin-bottom: 26px;
    // background: #d8eaff;
    // border: 1px solid #d2d7e5;
    padding: 18px 36px 13px 36px;
    @include respond(phone) {
      height: auto;
      padding: 15px;
    }
    .left {
      margin-top: 42px;
      @include respond(phone) {
        margin: 0 0 15px;
      }
      div {
        .termSub_head {
          font-size: 20px;
          // color: #111111;
          font-weight: 500;
          line-height: 25px;
          margin-right: 7px;
        }
        .termValue {
          font-size: 20px;
          // color: #111111;
          font-weight: normal;
          line-height: 24px;
          opacity: 0.7;
        }
      }
    }
    span {
      font-size: 34px;
      // color: #3687e8;
      font-weight: bold;
      line-height: 41px;
      @include respond(phone) {
        text-align: center;
      }
    }
    .right {
      text-align: right;
      margin-top: 30px;
      @include respond(phone) {
        margin: 0;
      }
    }
  }
  table td {
    border-left: 2px solid red;
  }
  table th {
    border-left: 2px solid red;
  }

  .table_scroll_outer {
    width: 100%;
    display: table;
    table-layout: fixed;
    .table_scroll_inner {
      display: table-cell;
      overflow-x: auto;
      .table {
        box-sizing: border-box;
        margin: 0px;
        tr {
          th {
            font-size: 22px;
            color: #3687e8;
            line-height: 27px;
            font-weight: bold;
            border-top: none;
            width: 25%;
            height: 67px;
            padding: 9px 28px;
            white-space: nowrap;
            vertical-align: middle;
            &:first-child {
              width: 50%;
              padding-left: 35px;
            }
          }
          td {
            font-size: 20px;
            line-height: 25px;
            border-bottom: none;
            border-top: none;
            width: 25%;
            vertical-align: middle;
            padding: 9px 28px;
            &:first-child {
              width: 50%;
              padding-left: 35px;
            }
            .sno {
              font-weight: bold;
              font-size: 20px;
              line-height: 25px;
              color: #111111;
              opacity: 0.7;
            }
            .formula {
              font-weight: bold;
              font-size: 20px;
              line-height: 25px;
              color: #111111;
              opacity: 0.7;
            }
            &.good {
              font-weight: bold;
            }
          }
          .highlight {
            height: 40px;
            font-weight: bold;
            background: rgba(255, 157, 0, 0.1);
          }
          .highlight2 {
            height: 40px;
            font-weight: bold;
            background: rgba(255, 157, 0, 0.1);
          }
        }
      }
    }
  }
  .bordertop {
    border-top: 2px solid red;
    td {
      padding-top: 30px;
    }
  }
}
