.root_container {
    padding: 25px;
    width: 100%;

    .head_container {
        width: 100%;

        .head_header {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .arrow {
                width: 13px;
                height: 21px;
                background: transparent;

            }

            .heading {

                padding: 12px 0 18px 18px;
                font-weight: bold;
                font-size: 30px;

                text-transform: capitalize;
                margin: 0;

            }
        }


    }

    .term_container {
        padding: 5px 36px 18px 36px;
        height: 126px;
        background: #D8EAFF 0% 0% no-repeat padding-box;
        border: 1px solid #D2D7E5;
        border-radius: 6px;

        span {
            color: #3687E8;
            font-size: 34px;
            line-height: 41px;
            font-weight: bold;
        }

        div {
            flex-direction: column;
            .termSub_head {
                font-size: 20px;
                line-height: 41px;
                font-weight: bold;
                color: #111111;
                margin-right: 0.5rem;
            }

            .termValue {
                font-size: 20px;
                line-height: 41px;
                color: #11111148;
            }
        }
    }

table td {
    border-left: 2px solid red;
}
table th {
    border-left: 2px solid red;
}
.table {
   
    box-sizing: border-box;
    margin: 0px;
    tr {
        


        th {
            color: #3687E8;
            font-weight: normal;
            font-size: 18px;
            line-height: 18px;
            border-top: none;
            width: 25%; 
            &:first-child {
               width:50% ;
            }
            
        }

        td {
            font-size: 20px;
            line-height: 24px;
            border-bottom: none;
            border-top: none;
            width: 25%;
            opacity: 0.7;
            &:first-child {
                width: 50%;
            }
            .sno{
                font-weight: bold;
                font-size: 20px;
                line-height:25px;
                   
                    color: #111111;
                    opacity: 0.7;
            }
                        .formula{
                            font-weight: bold;
                            font-size: 20px;
                                line-height: 25px;

                                color: #111111;
                                opacity: 0.7;
                        }
           
                       
        }
                 .highlight {
                     background: #ff9d004f 0% 0% no-repeat padding-box;
        
                 }
                                   .highlight2 {
                                    width: 100%;
                                    height: 100%;
                                       background: #ff9d004f 0% 0% no-repeat padding-box;
                
                                   }
                 }
    }
        .bordertop {
            border-top: 2px solid red;
            td{
              padding-top: 30px;
              
            }
            
        }

   
}




