.main {
    padding: 20px;

    //display: flex;
    //flex-direction: column;
    

    .heading {
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        color: #111111;
        text-transform: capitalize;
        padding-top: 15px;


    }

    .radio_form {
        padding-top: 20px;


            .radio_group {
              display: flex;

              .radio{
                    padding-right: 25px;
                    text-align: left;
                    font-size:20px ;
                    letter-spacing: 0.19px;
                    color: #111111;
                    text-transform: capitalize;
              }
            }

           .sub_heading {
            padding-top: 10px;
            text-align: left;
            letter-spacing: 0.53px;
            color: #00000080;
            text-transform: capitalize;
            font-size: 16px;
            padding-bottom: 15px;

        }
    }
 
    .input_container {
        margin-top: 50px;
        margin-bottom: 10px;
        padding-bottom: 14px;


        .each_input {
            position: relative;
            margin-bottom: 50px;

            .label_heading {
              top: 34px;
              left: 15px;
              font-size: 16px;
              line-height: 1;
              letter-spacing: 0.53px;
              color: #00000080;
              background: #ffffff;
              position: absolute;
              pointer-events: none;
              box-sizing: border-box;
              transform: translateY(-29px);
              transition: 0.3s all ease-in-out;
              
              
            }

            .input_field {
              height: 60px;
              background-color: #C3C3C31F;
              border: 1px solid #0000001F;
              border-radius: 4px;
              color: #111111;
              font-size: 20px;
              position: relative;
              outline: none;
              box-shadow: none;

              &:invalid + label {
                transform:translateY(0);
              }
                &:focus {
                & + label {
                    transform:translateY(-29px);
                    text-shadow: 1px 1px 0 #ffffff;
                  }
               }

          }



            .slidecontainer {
              width: 100%;
              margin-top: 40px;

              .slider {
                -webkit-appearance: none;  /* Override default CSS styles */
                width: 100%; /* Full-width */
                opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
                -webkit-transition: .2s; /* 0.2 seconds transition on hover */
                transition: opacity .2s;
                outline: none;
                background-color: #C3C3C31F;
                border: 1px solid #0000001F;
                border-radius: 4px;
                height: 13px; 
              }

              datalist {
                display: flex;
                justify-content: space-between;
                text-align: left;
                font-size:16px;
                letter-spacing: 0.15px;
                color: #666666;
                text-transform: capitalize;
                width: 100%;
              }
              .slider::-moz-range-thumb {
                width: 29px;
                height: 16px;
                border-radius: 4px;
                background: #4CAF50;
                cursor: pointer;
              }
              
              .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 29px;
                height: 16px;
                background: transparent;
                box-shadow: 0px 3px 6px #697AB429;
                border: 3px solid #3579F6;
                border-radius: 4px;

              }

              .slider::-moz-range-track {
                background-color: #ddd;
              }
              .slider::-moz-range-progress {
                background-color: #3687E8;
              }
              .slider::-ms-fill-upper {
                background-color: #ddd;
              }
              .slider::-ms-fill-lower {
                background-color: #3687E8;
              }

            }
            .label_heading {
              top: 27px;
              left: 30px;
              font-size: 16px;
              line-height: 0.5;
              margin-bottom: 0;
              letter-spacing: 0.53px;
              color: #00000080;
              position: absolute;
              pointer-events: none;
              box-sizing: border-box;
              background: #ffffff;
              transform: translateY(-31px);
              transition: 0.3s all ease-in-out;
            }
            .input_field {
              height: 60px;
              background-color: #C3C3C31F;
              border: 1px solid #0000001F;
              border-radius: 4px;
              color: #111111;
              font-size: 20px;
              font-weight: 500;
              outline: none;
              box-shadow: none;
              position: relative;
              box-sizing: border-box;
              &:invalid + label {
                  background: none;
                  transform:translateY(0);
              }
              &:focus {
                  & + label {
                      background: #ffffff;
                      transform:translateY(-31px);
                  }
              }
          }
              .phone_card{
                  display: flex;

                  .code_phone {
                    border: 1px solid #0000001F;
                    border-radius: 4px;
                    background-color: #C3C3C31F;
                    text-align: left;
                    font-size: 19px;
                    letter-spacing: 0.18px;
                    color: #3687E8;
                    text-transform: capitalize;
                  }
              }
            
              .range_field {
                background-color: #3687E8;
                border-radius: 4px;

              }
        }
        .phone {
          .label_heading {
            left: 90px;
            transform: translate(-61px, -31px);
          }
          .input_field {
            &:focus {
                & + label {
                    transform: translate(-61px, -31px);
                }
              }
            }
        }
    }
}


