@import "../styles/Core/config";
.root {
    position: relative;    
    font-family: 'Times New Roman', Times, serif;
    .content {
        // margin-left: 400px;
        box-shadow: 0px 3px 6px #CAD0E2;
        border-radius: 6px !important;
        .cardHeader {
            padding: 15px 15px 15px 37px !important;
            border-bottom-width: 2px !important;
            h2 {
                font-size: 22px;
                color: #3687E8;
            }
        }
        .cardBody {
            padding: 1rem !important;
            padding-top: 3rem !important;
            border-radius: 6px !important;
            .heading {
                font-size: 20px;
                line-height: 1.7;
                margin-bottom: 2rem;
                span {
                    text-decoration: underline;
                }
            }
            p {
                font-size: 20px;
                margin-bottom: 2rem;
                line-height: 1.7;
                .para {
                    padding: 0.5rem;
                    text-align: center;
                    width: fit-content;
                    height: 36px;
                    /* UI Properties */
                    background: #C3C3C31F;
                    border: 1px solid #0000001F;
                    border-radius: 4px;
                }
            }
            .alpha {
                padding-left: 30px;
                list-style-type: upper-alpha;
                li {
                    font-size: 20px;
                    line-height: 1.7;
                }
            }
        }
        .footer {
            font-size: 22px;
            border-top: 2px solid #D2D7E5;
            height: 5rem
        }
    }
          p {
              font-size: 20px;
              margin-bottom: 2rem;
              line-height: 36px;
    
              .para {
                  padding: 0.5rem;
                  text-align: center;
                  width: fit-content;
                  height: 36px;
                  /* UI Properties */
                  background: #C3C3C31F;
                  border: 1px solid #0000001F;
                  border-radius: 4px;
              }
          }
    
          .para {
              padding: 0.5rem;
              text-align: center;
              width: fit-content;
              height: 36px;
              /* UI Properties */
              background: #C3C3C31F;
              border: 1px solid #0000001F;
              border-radius: 4px;
          }
    
          .inputsContainer {
              font-size: 20px;
              margin-bottom: 4rem;
              line-height: 36px;
              border: 2px solid black;
    
              .row {
                  margin: 0px !important;
                  border-bottom: 2px solid black;
              }
    
              .left {
                  padding-left: 30px;
                  display: flex;
                  align-items: center;
                  border-right: 2px solid black;
    
              }
    
              .last {
                  border-bottom: none;
              }
    
              .right {
                  display: flex;
                  align-items: center !important;
                  ;
                  justify-content: flex-start !important;
                  padding: 0px;
    
              }
    
              .para {
                  // padding: 0.5rem;
                  text-align: left;
                  width: 100%;
                  height: 100%;
                  /* UI Properties */
                  background: #C3C3C31F;
                  border: 1px solid #0000001F;
                  border-radius: 4px;
              }
          }
}
.pageList span {
    font-size: 18px;
    color: #718096;
    font-weight: 500;
    line-height: 23px;
    margin-right: 38px;
}
.pageList .arrow {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    line-height: 45px;
    text-align: center;
    border-radius: 8px;
    background: #C3C3C31F;
    display: inline-block;
    border: 1px solid #0000001F;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 9px;
        height: 14px;
    }
}
.reject {
    cursor: pointer;
    width: 260px;
    height: 48px;
    border: 3px solid #3687E8;
    border-radius: 5px;
    color: #3687E8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.approve {
    cursor: pointer;
    width: 260px;
    height: 48px;
    background: #3687E8;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.image_reverse {
    transform: rotate(180deg);
    width: 9px;
    height: 14px;
    opacity: 0.6;
}