@import "../styles/Core/config";
.main {
    padding: 35px 35px 10px;
    border-bottom: 3px solid #D9DDE8;
    @include respond(phone) {
        padding: 25px 20px 20px;
    }
    .heading {
        font-size: 20px;
        letter-spacing: 0.19px;
        color: #111111;
        font-weight: bold;
        line-height: 25px;
    }
    .radio_form {
        padding-top: 20px;
        .radio_group {
            display: flex;
            @include respond(phone) {
                justify-content: space-between;
            }
            .radio {
                font-size: 20px;
                color: #111111;
                letter-spacing: 0.19px;
                padding-right: 25px;
                @include respond(phone) {
                    font-size: 16px;
                    padding-right: 0px;
                }
                label {
                    @include respond(phone) {
                        font-size: 16px;
                    }
                }
            }
        }
        .sub_heading {
            font-size: 16px;
            color: #00000080;
            line-height: 17px;
            font-weight: 500;
            padding: 10px 0 15px;
            letter-spacing: 0.53px;
        }
    } 
    .input_container {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        .hr_line {
            width: 100%;
            height: 1px;
            margin: auto 15px;
            color:lightgray;
        }
        .add_document {
            display: flex;
            margin-top: 32px;
            .add_image {
                margin-right: 15px;
            }
            .add_para {
                font-size: 18px;
                color: #3687E8;
                font-weight: bold;
                line-height: 23px;
                margin: 0;
            }
        }
        .each_input {
            margin: 15px 0;
            .label_heading {
                font-size: 16px;
                line-height: 17px;
                font-weight: 500;
                letter-spacing: 0.53px;
            }
            .input_field {
                height: 60px;
                border-radius: 4px;
                text-align: left;
                font-size: 20px;
                padding-left: 12px;
                outline: none;
                box-shadow: none;
            }
            .uploadBtnWrapper {
                overflow: hidden;
                position: relative;
                display: block;
                line-height: 60px;
                input {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    cursor: pointer;
                    position: absolute;
                }                
            }
            .button_upload {
                width: 106px;
                height: 38px;
                border: 3px solid #3687E8;
                border-radius: 5px;
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                color: #3687E8;
                line-height: 23px;
                text-transform: capitalize;
            }            
            .certificate {
                font-size: 20px;
                letter-spacing: 0.19px;
                color: #111111;
                background-color: #C3C3C31F;
                border-radius: 4px;
                padding: 8px;
                margin: 7px 0;
            }
            .image_card {
                width: 40px;
                height: 40px;
                padding: 5px;
                margin: 10px 0;
                text-align: center;
                border-radius: 4px;
                background-color: #C3C3C31F;
                border: 1px solid #0000001F;
                @include respond(phone) {
                    margin: 0 0 0 auto;
                }
            }
            .phone_card{
                display: flex;
                .code_phone {
                    font-size: 19px;
                    color: #3687E8;
                    border-radius: 4px;
                    letter-spacing: 0.18px;
                    background-color: #C3C3C31F;
                    border: 1px solid #0000001F;
                }
            }
        }
    }
    .add_document {
        display: flex;
        .add_image {
            background: transparent;
            margin-right: 15px;
        }
        .add_para {
          margin-top: 15px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          color: #3687e8;
          text-transform: capitalize;
        }
    }
    .each_input {
        margin-bottom: 30px;
        .label_heading {
            text-align: left;
            font-size: 16px;
            letter-spacing: 0.53px;
            @include respond(phone) {
                font-size: $font_size_mobile_input_label !important;
            }
        }
        .input_field {
            height: 60px;
            border-radius: 4px;
            text-align: left;
            font-size: 20px;
            padding-left: 12px;
        }
        .button_upload {
            width: 106px;
            height: 38px;
            border: 3px solid #3687e8;
            border-radius: 5px;
            color: var(--unnamed-color-3687e8);
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            color: #3687e8;
            text-transform: capitalize;
        }
        .certificate {
            text-align: left;
            font-size: 20px;
            letter-spacing: 0.19px;
            color: #111111;
            margin-left: -12px;
            background-color: #c3c3c31f;
            border-radius: 4px;
            padding: 8px;
        }
        .image_card {
            background-color: #c3c3c31f;
            border: 1px solid #0000001f;
            border-radius: 4px;
            width: 40px;
            height: 40px;
            text-align: center;
            padding: 5px;            
            .image_delete {
                background: transparent;
                width: 21px;
                height: 27px;
            }
        }
        .phone_card {
            display: flex;
            .code_phone {
                border: 1px solid #0000001f;
                border-radius: 4px;
                background-color: #c3c3c31f;
                text-align: left;
                font-size: 19px;
                letter-spacing: 0.18px;
                color: #3687e8;
                text-transform: capitalize;
            }
        }
        .btn_container {
            position: relative;
            overflow: hidden;
            display: inline-block;
            .upload {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
            }
        }
    }
}
.customSelect {
    appearance: none;
    // position: relative;

}
.arrow {
    margin-left: -40px;
    width: 13px;
    pointer-events: none;
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}
.calanderIcon {
    margin-left: -40px;
    margin-top: 15px;
    width: 23px;
    height: 26px;
    pointer-events: none;
}