.main {
    //display: flex;
    //flex-direction: column;
    padding-left: 20px;
    .heading {
        text-align: left;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        color: #111111;
        text-transform: capitalize;
        padding-top: 15px;
        padding-left: 10px;

    }

    .radio_form {
        padding-top: 20px;

            .radio_group {
              display: flex;

              .radio{
                    
                    padding-right: 25px;
                    text-align: left;
                    font-size:20px ;
                    letter-spacing: 0.19px;
                    color: #111111;
                    text-transform: capitalize;
              }
            }

           .sub_heading {
            padding-top: 10px;
            text-align: left;
            letter-spacing: 0.53px;
            color: #00000080;
            text-transform: capitalize;
            font-size: 16px;
            padding-bottom: 15px;

        }
    }
 
    .input_container {
        margin-top: 30px;
        display: flex;
        margin-bottom: 30px;


         .hr_line {
             
             color:lightgray;
         }

        .add_document {
            display: flex;
            padding-left: 10px;

            .add_image {
                background: transparent;
                margin-right: 15px;

            }

            .add_para {
                margin-top: 15px;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                color: #3687E8;
                text-transform: capitalize;
                
            }

        }
        .each_input {
            margin-left: 10px;
            margin-right: 10px;

            .label_heading {
                text-align: left;
                font-size: 16px;
                letter-spacing: 0.53px;
                color: #00000080;
                
              }

            .input_field {
                width: 460px;
                height: 60px;
                background-color: #C3C3C31F;
                border: 1px solid #0000001F;
                border-radius: 4px;
                color: #111111;
                text-align: left;
                font-size: 20px;
                padding-left: 12px;

            }

                .button_upload {
                    width: 106px;
                    height: 38px;
                    border: 3px solid #3687E8;
                    border-radius: 5px;
                    color: var(--unnamed-color-3687e8);
                    text-align: center;
                    font-weight: bold;
                    font-size: 18px;
                    color: #3687E8;
                    text-transform: capitalize;
                    margin-left: 30px;
                }

            
            .certificate{
                text-align: left;
                font-size: 20px;
                letter-spacing: 0.19px;
                color: #111111;
                margin-left: -12px;
                background-color: #C3C3C31F;
                border-radius: 4px;
                padding: 8px;
                 
            }
            .close_image {
                padding-left: 10px;
            }
             .image_card {
                background-color: #C3C3C31F;
                border: 1px solid #0000001F;
                border-radius: 4px;
                width: 40px;
                height: 40px;
                text-align: center;
                padding: 5px;

                .image_delete {
                    background: transparent;
                    width: 21px;
                    height: 27px;

                }

             }

              

              .phone_card{
                  display: flex;

                  .code_phone {
                    border: 1px solid #0000001F;
                    border-radius: 4px;
                    background-color: #C3C3C31F;
                    text-align: left;
                    font-size: 19px;
                    letter-spacing: 0.18px;
                    color: #3687E8;
                    text-transform: capitalize;
                  }
              }
            
            
        }

    }
}