@import '../styles/Core/config';

.backgroundMain {
  .vessel_card {
    border-radius: 6px;
    h2 {
      font-size: 22px;
      color: #3687e8;
      font-weight: bold;
      line-height: 27px;
      @include respond(md-desktop) {
        font-size: 22px;
      }
      @include respond(sm-desktop) {
        font-size: 18px;
      }
      @include respond(phone) {
        font-size: 15px;
      }
    }

    .radio_form {
      padding: 26px 0px 20px 35px;
      .radio_group {
        display: flex;

        .radio {
          font-size: 20px;
          color: #111111;
          letter-spacing: 0.19px;
          padding-right: 50px;
          @include respond(md-desktop) {
            font-size: 18px;
          }
          @include respond(sm-desktop) {
            font-size: 16px;
          }
          @include respond(phone) {
            font-size: 14px;
          }

          label {
            padding-left: 15px;
          }
        }
      }
      .sub_heading {
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;
        padding: 10px 0 15px;
        letter-spacing: 0.53px;
        @include respond(md-desktop) {
          font-size: 16px;
        }
        @include respond(sm-desktop) {
          font-size: 14px;
        }
        @include respond(phone) {
          font-size: 12px;
        }
      }
    }

    .main {
      border-radius: 6px;
      .add_btn {
        color: #3687e8;
        text-transform: capitalize;
        border: 3px solid #3687e8;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
        background-color: transparent;
        margin: 0 15px 0 30px;
        width: 97px;
        height: 38px;
        @include respond(md-desktop) {
          font-size: 16px;
        }
        @include respond(sm-desktop) {
          font-size: 14px;
        }
        @include respond(phone) {
          font-size: 12px;
          width: 50px;
          height: 26px;
          text-align: center;
          border-radius: 3px;
        }
        .add_sign {
          font-size: 24px;
          font-weight: bold;
          line-height: 27px;
          margin-right: 5px;
        }
      }
      .head_container {
        padding: 25px 35px !important;
        border-bottom: 2px solid #cad6e6;

        .heading {
          color: #3687e8;
          font-weight: bold;
          font-size: 22px;
          text-transform: capitalize;
          line-height: 27px;
        }
        span {
          font-size: 45px;
          color: #3687e8;
          font-weight: normal;
          line-height: 20px;
        }

        .dropDown {
          border: 1px solid #0000001f;
          border-radius: 4px;
          font-size: 20px;
          line-height: 25px;
          font-weight: 500;
          padding: 5px;
          background-color: transparent;
          border: none;
        }
        .dropDown_label {
          letter-spacing: 0.53px;
          font-weight: 500;
          font-size: 16px;
          line-height: 17px;
        }
      }
    }
    .dashboard_form {
      padding: 20px 35px 25px 40px;
      .bill_landing {
        //background: #FFFFFF;
        box-shadow: 0px 3px 6px #cad0e2;
        border: 1px solid #d2d7e5;
        .vessel_card {
          padding: 0 35px;
          .card_sub_heading {
            font-size: 20px;
            line-height: 25px;
            font-weight: bold;
          }
        }
        .add_row {
          text-align: center;
          font-size: 18px;
          line-height: 23px;
          font-weight: bold;
          color: #3687e8;

          span {
            margin-right: 15px;
          }
        }
        .table_scroll_outer {
          width: 100%;
          display: table;
          table-layout: fixed;
          .table_scroll_inner {
            display: table-cell;
            overflow-x: auto;
            .table {
              margin-bottom: 0px;
              th {
                font-size: 15px;
                color: #8492a6;
                font-weight: bold;
                border: none !important;
                line-height: 18px;
                padding: 20px 15px;
                vertical-align: middle;
                text-transform: uppercase;
                white-space: nowrap;
                &:first-child {
                  padding-left: 35px;
                  @include respond(md-desktop) {
                    padding-left: 15px;
                  }
                }

                .sort_img {
                  width: 14px;
                  height: 14px;
                }
                @include respond(md-desktop) {
                  font-size: 14px;
                  line-height: 1.2;
                }
                @include respond(sm-desktop) {
                  font-size: 13px;
                }
                @include respond(phone) {
                  font-size: 12px;
                }
              }
              tr {
                border-bottom: 1px solid #d2d7e5;
                &:last-child {
                  border-bottom: none;
                }
                td {
                  font-size: 19px;
                  font-weight: 500;
                  line-height: 24px;
                  padding: 24px 15px;
                  vertical-align: middle;
                  white-space: nowrap;
                  @include respond(md-desktop) {
                    font-size: 17px;
                    padding: 18px 10px;
                  }
                  @include respond(sm-desktop) {
                    font-size: 15px;
                    padding: 15px 10px;
                  }
                  @include respond(phone) {
                    font-size: 14px;
                    padding: 10px;
                  }
                  .upload_btn {
                    text-align: center;
                    color: #3687e8;
                    border: 3px solid #3687e8;
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: bold;
                    border-radius: 5px;
                    background: transparent;
                    text-transform: capitalize;
                    padding: 8px 30px;
                    @include respond(md-desktop) {
                      font-size: 16px;
                    }
                    @include respond(sm-desktop) {
                      font-size: 14px;
                      padding: 4px 25px;
                    }
                    @include respond(phone) {
                      font-size: 12px;
                      padding: 0 15px;
                    }
                  }
                  .edit_image {
                    background: #c3c3c31f;
                    border: 1px solid #0000001f;
                    border-radius: 4px;
                    padding: 10px 9px 10px 9px;
                    cursor: pointer;
                    @include respond(md-desktop) {
                      height: 30px;
                      padding: 7px;
                    }
                    @include respond(sm-desktop) {
                      height: 28px;
                      padding: 6px;
                    }
                    @include respond(phone) {
                      height: 25px;
                      padding: 5px;
                    }
                  }

                  .dutyDropdown {
                    width: 125px;
                    height: 36px;
                    border: 1px solid var(--unnamed-color-0000001f);
                    background: #c3c3c31f;
                    border: 1px solid #0000001f;
                    border-radius: 4px;
                    color: #111111;
                    font-size: 19px;
                    line-height: 24px;
                    font-weight: 500;
                    opacity: 0.7;
                  }
                }
              }
              span {
                margin-left: 20px;
                text-decoration: underline;
                color: #3687e8;
                font-weight: bold;
                line-height: 25px;
                font-size: 20px;
              }
              .input_field {
                background: #c3c3c31f;
                border-radius: 4px;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.19px;
                color: #111111;
                border: none;
                padding: 5px 0 5px 15px;
                width: 299px;
              }
              .doc_name {
                font-weight: bold;
                line-height: 25px;
                font-size: 20px;
                text-transform: capitalize;
                padding-left: 35px;
                color: #3687e8;
              }
              .doc_row {
                font-size: 19px;
                line-height: 24px;
                opacity: 0.7;
                font-weight: 500;
              }
            }
          }
        }
      }
      .form_heading {
        font-size: 22px;
        line-height: 27px;
        font-weight: bold;
        text-transform: capitalize;

        @include respond(md-desktop) {
          font-size: 18px;
        }

        @include respond(sm-desktop) {
          font-size: 16px;
          line-height: 20px;
        }

        @include respond(phone) {
          font-size: 14px;
          line-height: 15px;
        }
      }
      .total_quantity {
        letter-spacing: 0.53px;
        color: #00000080;
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;

        span {
          // color: #111111;
          font-size: 20px;
          line-height: 23px;
          font-weight: 500;
        }
      }
      .bill_landing {
        //background: #FFFFFF;
        border: 2px solid #cad6e6;
        border-radius: 9px;
        .vessel_card {
          padding: 0px 35px 0px 35px;
          .add_btn {
            color: #3687e8;
            text-transform: capitalize;
            border: 3px solid #3687e8;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
            background-color: transparent;
            margin: 0 15px 0 30px;
            width: 78px;
            height: 36px;
            @include respond(md-desktop) {
              font-size: 16px;
            }
            @include respond(sm-desktop) {
              font-size: 14px;
            }
            @include respond(phone) {
              font-size: 12px;
              width: 50px;
              height: 26px;
              text-align: center;
              border-radius: 3px;
            }
          }
        }
        .table_scroll_outer {
          width: 100%;
          display: table;
          table-layout: fixed;
          .table_scroll_inner {
            display: table-cell;
            overflow-x: auto;
            .table {
              margin-bottom: 0px;

              th {
                font-size: 15px;
                color: #8492a6;
                font-weight: bold;
                border: none !important;
                line-height: 18px;
                padding: 20px 15px;
                vertical-align: middle;
                text-transform: uppercase;
                white-space: nowrap;
                &:first-child {
                  padding-left: 35px;
                  @include respond(md-desktop) {
                    padding-left: 15px;
                  }
                }
                .sort_img {
                  width: 14px;
                  height: 14px;
                }
                @include respond(md-desktop) {
                  font-size: 14px;
                  line-height: 1.2;
                }
                @include respond(sm-desktop) {
                  font-size: 13px;
                }
                @include respond(phone) {
                  font-size: 12px;
                }
              }
              tr {
                &:last-child {
                  border-bottom: none;
                }
                td {
                  font-size: 19px;
                  font-weight: 500;
                  line-height: 24px;
                  padding: 24px 15px;
                  border-top: none;
                  vertical-align: middle;
                  white-space: nowrap;

                  @include respond(md-desktop) {
                    font-size: 17px;
                    padding: 18px 10px;
                  }
                  @include respond(sm-desktop) {
                    font-size: 15px;
                    padding: 15px 10px;
                  }
                  @include respond(phone) {
                    font-size: 14px;
                    padding: 10px;
                  }

                  .upload_btn {
                    text-align: center;
                    color: #3687e8;
                    border: 3px solid #3687e8;
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: bold;
                    border-radius: 5px;
                    background: transparent;
                    text-transform: capitalize;
                    padding: 8px 30px 8px 30px;
                    @include respond(md-desktop) {
                      font-size: 16px;
                    }
                    @include respond(sm-desktop) {
                      font-size: 14px;
                      padding: 4px 25px 4px 25px;
                    }
                    @include respond(phone) {
                      font-size: 12px;
                      padding: 0px 15px 0 15px;
                    }
                  }
                }
              }

              span {
                margin-left: 20px;
                text-decoration: underline;
                color: #3687e8;
                font-weight: bold;
                line-height: 25px;
                font-size: 20px;
              }

              .input_field {
                background: #c3c3c31f;
                border-radius: 4px;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.19px;
                color: #111111;
                border: none;
                padding: 5px 0px 5px 15px;
                width: 299px;
              }

              .doc_name {
                font-weight: bold;
                line-height: 25px;
                font-size: 20px;
                text-transform: capitalize;
                padding-left: 35px;
              }
              .doc_row {
                font-size: 19px;
                line-height: 24px;
                opacity: 0.7;
                font-weight: 500;
              }
            }
          }
        }
      }
      .eta_heading {
        font-size: 20px;
        line-height: 25px;
        font-weight: bold;
      }
      .previewImg {
        background: #c3c3c31f;
        border: 1px solid #0000001f;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        padding: 5px;
      }
      .label {
        font-size: 16px;
        letter-spacing: 0.53px;
        line-height: 17px;
        top: 26px;
        font-weight: 500;
        left: 30px;
        margin-bottom: 15px;
        //color: #00000080;
      }
      .value {
        font-size: 20px;
        height: 60px;
        line-height: 25px;
        font-weight: 500;
      }

      .upload_button {
        border: 3px solid #3687e8;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        line-height: 25px;
        color: #3687e8;
        font-weight: bold;
        text-transform: capitalize;
        width: 220px;
        height: 46px;
        background-color: transparent;
      }
      .form_group {
        margin-top: 40px;
        position: relative;
        margin-bottom: 10px;
        .search_image {
          margin-left: -40px;
        }
        .toggle_label {
          letter-spacing: 0.19px;
          //color: #111111;
          font-size: 20px;
          line-height: 25px;
          @include respond(sm-desktop) {
            font-size: 16px;
          }

          @include respond(phone) {
            font-size: 12px;
          }
        }
        .upload_btn {
          text-align: center;
          color: #3687e8;
          text-transform: capitalize;
          border: 3px solid #3687e8;
          border-radius: 5px;
          width: 184px;
          height: 48px;
          font-size: 20px;
          font-weight: bold;
          line-height: 25px;
          background-color: transparent;
          white-space: nowrap;
          @include respond(md-desktop) {
            font-size: 18px;
          }
          @include respond(sm-desktop) {
            font-size: 16px;
            width: 150px;
            height: 38px;
          }
          @include respond(phone) {
            font-size: 14px;
            width: 120px;
            height: 30px;
          }
        }
        .upload_text {
          color: #8492a6;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 24px;
          font-weight: bold;
          margin-left: 20px;
          white-space: nowrap;

          @include respond(sm-desktop) {
            font-size: 12px;
          }
          @include respond(phone) {
            font-size: 10px;
          }
        }
        .label_heading {
          font-size: 16px;
          letter-spacing: 0.53px;
          line-height: 17px;
          top: 21px;
          left: 30px;
          margin-bottom: 0;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          transform: translateY(-29px);
          transition: 0.3s all ease-in-out;
          z-index: 1;
          max-width: 86%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &::before {
            top: 51%;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            z-index: -1;
            position: absolute;
            transform: translateY(-50%);
          }
        }

        .line {
          border: 3px solid #d9dde8;
        }

        .input_field {
          font-size: 20px;
          height: 60px;
          outline: none;
          line-height: 25px;
          box-shadow: none;
          border-radius: 4px;
          position: relative;
          box-sizing: border-box;
          white-space: nowrap;
          letter-spacing: 0.19px;
          padding: 13px 30px 13px 17px;
          border: 1px solid #0000001f;
          &:invalid + label {
            transform: translateY(0);
          }
          &:focus {
            & + label {
              transform: translateY(-29px);
            }
          }
        }
      }
    }
    .table_scroll_outer {
      width: 100%;
      display: table;
      table-layout: fixed;
      .table_scroll_inner {
        display: table-cell;
        overflow-x: auto;
        .table {
          margin-bottom: 0px;

          border-top: 3px solid #d9dde8;
          th {
            font-size: 15px;
            color: #8492a6;
            font-weight: bold;
            border: none !important;
            line-height: 18px;
            padding: 20px 15px;
            vertical-align: middle;
            text-transform: uppercase;
            white-space: nowrap;
            &:first-child {
              padding-left: 35px;
              @include respond(md-desktop) {
                padding-left: 15px;
              }
            }
            .sort_img {
              width: 14px;
              height: 14px;
            }
            @include respond(md-desktop) {
              font-size: 14px;
              line-height: 1.2;
            }
            @include respond(sm-desktop) {
              font-size: 13px;
            }
            @include respond(phone) {
              font-size: 12px;
            }
          }
          tr {
            &:last-child {
              border-bottom: none;
            }
            td {
              font-size: 19px;
              font-weight: 500;
              line-height: 24px;
              padding: 24px 15px;
              border-top: none;
              vertical-align: middle;
              white-space: nowrap;
              @include respond(md-desktop) {
                font-size: 17px;
                padding: 18px 10px;
              }
              @include respond(sm-desktop) {
                font-size: 15px;
                padding: 15px 10px;
              }
              @include respond(phone) {
                font-size: 14px;
                padding: 10px;
              }
              .upload_btn {
                text-align: center;
                color: #3687e8;
                border: 3px solid #3687e8;
                font-size: 18px;
                line-height: 23px;
                font-weight: bold;
                border-radius: 5px;
                background: transparent;
                text-transform: capitalize;
                padding: 8px 30px;
                @include respond(md-desktop) {
                  font-size: 16px;
                }
                @include respond(sm-desktop) {
                  font-size: 14px;
                  padding: 4px 25px;
                }
                @include respond(phone) {
                  font-size: 12px;
                  padding: 0 15px;
                }
              }
            }
          }
          span {
            margin-left: 20px;
            text-decoration: underline;
            color: #3687e8;
            font-weight: bold;
            line-height: 25px;
            font-size: 20px;
          }
          .input_field {
            background: #c3c3c31f;
            border-radius: 4px;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.19px;
            color: #111111;
            border: none;
            padding: 5px 0 5px 15px;
            width: 299px;
          }
          .doc_name {
            font-weight: bold;
            line-height: 25px;
            font-size: 20px;
            text-transform: capitalize;
            padding-left: 35px;
          }
          .doc_row {
            font-size: 19px;
            line-height: 24px;
            opacity: 0.7;
            font-weight: 500;
          }
        }
      }
    }
  }

  .wrapper {
    margin-bottom: 1rem;
    border-radius: 6px !important;
  }
}

.theme {
  margin-right: 40px;

  @include respond(lg-desktop) {
    margin-right: 30px;
  }

  @include respond(md-desktop) {
    margin-right: 20px;
  }

  @include respond(sm-desktop) {
    margin-right: 10px;
  }

  @include respond(phone) {
    margin-right: 0;
  }

  a {
    margin: 0 5px 0 4px;
    display: inline-block;

    img {
      @include respond(lg-desktop) {
        height: 35px;
        margin-left: 10px !important;
        margin-right: 10px !important;
      }

      @include respond(md-desktop) {
        height: 30px;
        margin-left: 5px !important;
        margin-right: 5px !important;
      }

      @include respond(sm-desktop) {
        height: 25px;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    &:last-child {
      img {
        margin-right: 7px !important;
      }
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 34px;

  @include respond(lg-desktop) {
    width: 50px;
  }

  @include respond(md-desktop) {
    width: 45px;
  }

  @include respond(sm-desktop) {
    width: 40px;
  }

  @include respond(phone) {
    width: 35px;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;

  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000029;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 1.5rem;

  @include respond(lg-desktop) {
  }

  @include respond(md-desktop) {
    bottom: 2px;
    height: 1.2rem;
  }

  @include respond(sm-desktop) {
    bottom: 4px;
    height: 1rem;
  }
}

.slider:before {
  position: absolute;
  content: '';
  height: 2rem;
  width: 2rem;
  left: -2px;
  bottom: -3px;
  background-color: #3687e8;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  @include respond(lg-desktop) {
    height: 1.8rem;
    width: 1.8rem;
  }

  @include respond(md-desktop) {
    height: 1.5rem;
    width: 1.5rem;
  }

  @include respond(sm-desktop) {
    height: 1.3rem;
    width: 1.3rem;
    bottom: -3px;
  }
}

input:checked + .slider {
  background-color: #00000029;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);

  @include respond(md-desktop) {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }

  @include respond(phone) {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.pdfImage {
  width: 57px;
  height: 25px;

  @include respond(sm-desktop) {
    width: 50px;
    height: 22px;
  }
  @include respond(phone) {
    width: 35px;
    height: 15px;
  }
}

.uploadBtnWrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
  input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
  @include respond(phone) {
    width: 100%;
  }
  .upload_btn {
    text-align: center;
    color: #3687e8;
    border: 3px solid #3687e8;
    font-size: 18px;
    cursor: pointer;
    line-height: 23px;
    font-weight: bold;
    border-radius: 5px;
    background: transparent;
    text-transform: capitalize;
    padding: 8px 30px 8px 30px;
    @include respond(md-desktop) {
      font-size: 16px;
    }
    @include respond(sm-desktop) {
      font-size: 14px;
      padding: 4px 25px 4px 25px;
    }
    @include respond(phone) {
      font-size: 12px;
      padding: 0px 15px 0 15px;
    }
  }
}
.calanderIcon {
  margin-left: -40px;
  margin-top: 15px;
  width: 23px;
  height: 26px;
  pointer-events: none;
}

.arrow {
  margin-left: -40px;
  width: 13px;
  pointer-events: none;

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.customSelect {
  appearance: none;
  // position: relative;
}
.line {
  border: 1px solid #d9dde8;
}
