@import "../../src/components/styles/Core/config";
.root_Container {
    width: 100%;
    height: 90%;
    // overflow-y: scroll;
    position: relative;
    min-height: 85.2vh;
    @include respond(lg-desktop) {
        // height: calc(100vh - 155px);
    }
    @include respond(md-desktop) {
        // height: calc(100vh - 151px);
    }
    @include respond(sm-desktop) {
        // height: calc(100vh - 150px);
    }
    @include respond(phone) {
        min-height: auto;
        // height: calc(100vh - 165px);
    }
    .wrapper {
        margin: 28px;
        margin-bottom: 152px;
        @include respond(lg-desktop) {
            margin: 20px;
            margin-bottom: 144px;
        }
        @include respond(sm-desktop) {
            margin: 18px;
            margin-bottom: 142px;
        }
        @include respond(phone) {
            margin: 15px;
            margin-bottom: 120px;
        }
        .head {
            display: flex;
            min-height: 48px;
            margin: 0 0 27px 10px;
            @include respond(lg-desktop) {
                min-height: 40px;
                margin-bottom: 20px;
            }
            .arrow {
                width: 13px;
                height: 21px;
                cursor: pointer;
                background: transparent;
                @include respond(lg-desktop) {
                  width: 10px;
                  height: auto;
                }
                @include respond(phone) {
                    justify-self: center;
                    align-self: center;
                }
            }
            .heading {
              font-size: 34px;
              font-weight: bold;
              line-height: 41px;
              margin: 0;
              padding-left: 18px;
              text-transform: lowercase;
              &:first-letter {
                  text-transform: uppercase;
              }
              &:first-line {
                  text-transform: capitalize;
              }
              @include respond(lg-desktop) {
                font-size: 24px;
                line-height: 1.4;
                padding-left: 10px;
              }
              @include respond(sm-desktop) {
                font-size: 20px;
              }
              @include respond(phone) {
                font-size: 18px;
              }
            }
        }
    }
    .approve_Container {
        width: 87%;
        bottom: 0;
        position: absolute;
    }
}