.root {
  //position: fixed;
  width: 1521px;
  //height: 500px;
  top: 14%;
 // margin-bottom: 150px;
  //left: 19.5%;
 // margin-top: 25px;
  margin: 25px 0 150px 0;
  padding: 2rem;
  .head {
    margin-top: 1rem;
    text-align: center;
    .heading {
      font-size: 51px;
      line-height: 71px;
      font-weight: bold;
    }
    .heading_addresses {
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      p {
        margin-bottom: 0.1rem;
      }
    }
    .type {
      margin-top: 2rem;
      font-size: 32px;
      line-height: 39px;
      font-weight: bold;
      p {
        margin-bottom: 0.1rem;
      }
    }
  }
  .body {
    margin-top: 2rem;
    border: 1px solid #000000;
    font-size: 22px;
    font-weight: normal;
    line-height: 27px;
    .body_header {
      border-bottom: 1px solid #000000;
      .date {
        width: 80%;
        border-right: 1px solid #000000;
        padding: 1.5rem;
      }

      .validity {
        width: 20%;
        padding: 1.5rem;
      }
    }
  }
  .content {
    border-bottom: 1px solid #000000;
    padding: 1.5rem;
    div {
      // margin-top:1rem;
      margin-bottom: 1rem;
    }
    .width {
      width: 40% !important;
    }
    .width2 {
      width: 10% !important;
    }
    .letter_content {
      margin-top: 1rem;
    }
    .material {
      margin-top: 3rem;
      margin-left: 4rem;
      margin-bottom: 3rem;
      div {
        .head {
          text-align: start;
          width: 12%;
        }
        span {
          margin-top: 0rem;
        }
      }
    }
  }
  .footer {
    padding: 1.5rem;
    div {
      margin-top: 8rem;
      margin-bottom: 1.5rem;
    }
  }
  .cc {
    font-size: 22px;
    font-weight: normal;
    line-height: 42px;
    margin-top: 2rem;
    margin-left: 2rem;
    .extra_margin {
      margin-left: 2.3rem;
    }
  }
  .bold {
    font-weight: bold;
  }
  select {
    background: #c3c3c31f 0% 0% no-repeat padding-box;
    border: 1px solid #0000001f;
    border-radius: 4px;
    font-size: 22px;
    line-height: 36px;
    font-weight: bold;
    width: 257px;
    height: 50px;
  }
}
.share_lc {
  top: 50%;
  left: 50%;
  width: 100%;
  border: none;
  margin: 0 auto;
  max-width: 562px;
  max-height: 569px;
  box-shadow: none !important;
  border-radius: 12px;
  padding-right: 0 !important;
  transform: translate(-50%, -50%);
  & > div {
    margin: 0;
    max-width: none;
    & > div {
      border: none;
    }
  }
  .card_body {
    padding: 0;
    .LC_draft_tabs {
      &.nav_tabs {
        // margin-top: 51px;
        border: none;
        .nav_item {
          width: 50%;
          .nav_link {
            font-size: 22px;
            line-height: 27px;
            font-weight: bold;
            padding: 24px 10px;
            height: 75px;
            text-align: center;
            img {
              margin-right: 14px;
            }
          }
          &:first-child {
            .nav_link {
              border-radius: 12px 0 0 0;
            }
          }
          &:last-child {
            .nav_link {
              border-radius: 0 12px 0 0;
            }
          }
        }
      }
    }
    .tab_content {
      margin: 22px 35px;
      h3 {
        font-size: 20px;
        color: #344054;
        font-weight: normal;
        line-height: 25px;
        margin: 0 0 16px;
        letter-spacing: 0.19px;
      }
      .box {
        width: 49%;
        height: 97px;
        max-width: 239px;
        padding: 21px 15px;
        border-radius: 8px;
        margin-bottom: 41px;
        &.lc_document {
          background: #f8acac24;
        }
        &.word_document {
          background: #f3f7fe;
        }
        label {
          font-size: 14px;
          color: #667085;
          font-weight: normal;
          line-height: 25px;
          white-space: nowrap;
          margin: 10px 0 0;
          letter-spacing: 0.13px;
          span {
            font-size: 12px;
            color: #1e1e1e;
            font-weight: normal;
            display: block;
            letter-spacing: 0.11px;
          }
        }
        input {
          transform: scale(1.3);
        }
      }
      .share_via {
        &.nav_tabs {
          border-bottom: 1px solid #d2d7e5;
          .nav_item {
            width: 50%;
            .nav_link {
              font-size: 20px;
              line-height: 25px;
              padding: 10px;
              height: 59px;
              border-radius: 0;
              letter-spacing: 0.19px;
              background: transparent;
              img {
                margin-right: 14px;
              }
            }
          }
        }
      }
      .tab_content {
        margin: 25px 0;
      }
      .each_input {
        position: relative;
        .label_heading {
          top: 22px;
          left: 17px;
          font-size: 16px;
          line-height: 17px;
          font-weight: 500;
          margin-bottom: 0;
          letter-spacing: 0.53px;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          transform: translateY(-30px);
          transition: 0.3s all ease-in-out;
          z-index: 3;
          max-width: 77%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &::before {
            top: 51%;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            z-index: -1;
            position: absolute;
            transform: translateY(-50%);
          }
        }
        .formControl {
          font-size: 20px;
          line-height: 25px;
          font-weight: normal;
          height: 60px;
          outline: none;
          box-shadow: none !important;
          border-radius: 8px;
          position: relative;
          box-sizing: border-box;
          letter-spacing: 0.19px;
          padding: 19px 30px 19px 17px;
          background: none;
          border-width: 1px;
          &:invalid + label {
            // background: none;
            transform: translateY(0);
          }
          &:focus {
            & + label {
              // background: #ffffff;
              transform: translateY(-30px);
            }
          }
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            box-shadow: 0 0 0 30px #f8f8f8 inset !important;
            -webkit-box-shadow: 0 0 0 30px #f8f8f8 inset !important;
          }
        }
        img {
          top: 50%;
          right: 14px;
          position: absolute;
          transform: translateY(-50%);
        }
        &.phone {
          .label_heading {
            left: 78px;
            transform: translate(-61px, -30px);
          }
          .formControl {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            &:focus {
              & + label {
                transform: translate(-61px, -30px);
              }
            }
          }
          .phone_card {
            display: flex;
            .code_phone {
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
              font-size: 19px;
              letter-spacing: 0.18px;
              color: #3687e8;
              text-transform: capitalize;
              outline: none;
              border-radius: 8px 0 0 8px;
            }
          }
        }
      }
      .password {
        label {
          top: 22px;
        }
      }
    }
    .btn {
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
      height: 48px;
      cursor: pointer;
      max-width: 239px;
      border-radius: 5px;

      &.close {
        color: #4d4d4d;
        background: #ffffff;
        border: 3px solid #d5d5d5;
      }
      &.submit {
        color: #ffffff;
        background: #3687e8;
        border: 3px solid #3687e8;
      }
    }
  }
}
.addMoreRows {
  color: #3687e8;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.arrow {
  margin-left: -40px;
  width: 13px;
  pointer-events: none;

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.customSelect {
  appearance: none;
  // position: relative;
}
