.root{
    position:fixed;
    width: 1521px;
    height: 500px;
    top:14%;
    left: 19.5%;
    padding: 2rem;
    .head{
        margin-top:1rem;
        text-align: center;
      .heading{
       font-size: 51px;
       line-height:71px;
       font-weight: bold;
      }
      .heading_addresses{
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        p{
            margin-bottom:0.1rem;
        }
      }
      .type{
        margin-top: 2rem;
        font-size: 32px;
        line-height: 39px;
        font-weight: bold;
        p {
            margin-bottom: 0.1rem;
          }
      }
    }
    .body{
        margin-top: 2rem;
        border: 1px solid #000000;
        font-size: 22px;
        font-weight: normal;
        line-height:27px;
        .body_header{
            border-bottom: 1px solid #000000;
            .date {
                    width: 80%;
                    border-right: 1px solid #000000;
                    padding: 1.5rem;
                }
            
            .validity {
                    width: 20%;
                    padding: 1.5rem;
                   }
        }
        
    }
    .content {
       
        border-bottom: 1px solid #000000;
        padding: 1.5rem;
        div{
            // margin-top:1rem;
            margin-bottom: 1rem;
        }
        .width{
                width: 40% !important;
        }
        .width2 {
            width: 10% !important;
        }
        .letter_content{
            margin-top: 1rem;
        }
        .material{
            margin-top: 3rem;
            margin-left: 4rem;
            margin-bottom: 3rem;
            div{
                .head{
                    text-align: start;
                    width: 12%;
                }
                span{
                margin-top: 0rem;
                }
            }
        }
        

    }
    .footer { 
        padding: 1.5rem;
        div{
            margin-top: 8rem;
            margin-bottom: 1.5rem;
        }
    }
    .cc{
        font-size: 22px;
        font-weight: normal;
        line-height: 42px;
       margin-top: 2rem;
       margin-left: 2rem;
       .extra_margin{
        margin-left: 2.3rem;
       } 
    }
    .bold{
        font-weight: bold;
    }
    select{
        background: #C3C3C31F 0% 0% no-repeat padding-box;
        border: 1px solid #0000001F;
        border-radius: 4px;
        font-size: 22px;
        line-height: 36px;
        font-weight: bold;
        width: 257px;
        height: 50px;
    }
}