.root{
    position: relative;
  .sidebar{
        width: 376px;
        height: 678px;
        position: fixed;
        z-index: 1;
        overflow-y: auto;
        box-shadow: 0px 3px 6px #CAD0E2;
        border: 1px solid #D2D7E5;
        border-radius: 6px;
        margin-bottom: 2rem;
        .sidebar_content{
            padding:2rem ;
            height: 70px;
            .content2 {
                color: #28487B;
                
               
                input{
                    width: 27px;
                    height: 27px;
                }
                    height: 100%;
                    span{
                       font-size: 22px;
                        opacity: 0.6;      
                    }
                                img {
                                    width: 35px;
                                    height: 35px;
                                    margin-left: 10px;
                                    line-height: 45px;
                                    text-align: center;
                                    border-radius: 8px;
                                    background: #fafafb;
                                    display: inline-block;
                                    border: 1px solid #f2f5f9;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                   
        
                                    img {
                                        width: 8px;
                                        height: 13px;
                                    }
        
                                }
                                        
                }
                                 .selected {
                                    opacity: 1 !important;
                                     color: #3687E8 !important
                                 }
        }
        
      
  }
  .content{
    margin-left: 400px;   
    box-shadow: 0px 3px 6px #CAD0E2;
    border-radius: 6px;

   .card_body {
                padding: 100px 100px 20px 100px;    
                .space_above{
                    white-space: pre;
                }        
            p {  
                font-size: 20px;
                //line-height: 60px;
                
            }
            ul {
                list-style: number;
                font-size: 20px;

            }
            .below_para {
                font-size: 20px;
                margin-bottom: 0 !important;

            }
        .input_field {
               font-size: 20px;
                border: none;
                background: transparent;
                color: #000000;
                font-weight: bold;

        }
    
}
    .footer {
         font-size: 22px;
         border-top: 2px solid #D2D7E5;
         height:5rem
     }
  
}
         
}

   .pageList span {
      font-size: 18px;
      color: #718096;
      font-weight: 500;
      line-height: 23px;
      margin-right: 38px;
  }
         .reject {
             cursor: pointer;
            width: 260px;
            height: 48px;
             border: 3px solid #3687E8;
             border-radius: 5px;
             color: #3687E8;
             display: flex;
             align-items: center;
             justify-content: center;
         }
    
         .approve {
             cursor: pointer;
             width: 260px;
             height: 48px;
             background: #3687E8 0% 0% no-repeat padding-box;
             border-radius: 5px;
             color: #FFFFFF;
             display: flex;
             align-items: center;
             justify-content: center;
             margin-left: 1rem;
         }
 .image_reverse {
     transform: rotate(180deg);
     width: 8px;
     height: 13px;
 }
               
        
                 